	<div>
<div ng-show="loading" class="loader loader-default is-active" ></div>
<div class="addobjectmodal">

<div class="modal-content">
<!-- <div class="modal-header" style="background-color:#393939;">
<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>
<h3 class="modaltitle1">Add Category</h3>
</div> -->
<div class="modal-body" style="overflow:hidden ! important;background-color:{{decry.masterConfig.divbgcolor}};">


<div align=center class="textdiv" style="padding: 0px 38px;">
<p ng-if="error && online" style="position:fixed;font-size:12px;margin: -11px 0 0px 0px;font-family:MyWebFont1;color:red;">Topic name cannot be empty </p>
<p ng-if="!online" style="position:fixed;font-size:12px;margin: -11px 0 0px 0px;font-family:MyWebFont1;color:red;">Please check your internet connection!</p>
<p class="texttitle" style="width: auto;">Topic Name</p>
<input  name="cname" maxlength="50" ng-model="cname" onkeypress="return alpha(event)" style="overflow:hidden; resize:none;"></input>
</div>
<!-- <div align=center class="textdiv" style="padding: 0px 38px;">
<p ng-if="error2" style="position:fixed;font-size:12px;margin: -11px 0 0px 0px;font-family:MyWebFont1;color:red;">Sub Category name cannot be empty </p>
<p class="texttitle" style="width: auto;">Sub Category Name</p>
<input  name="scname" ng-model="scname" style="overflow:hidden; resize:none;"></input>
</div> -->
<div class="textdiv" style="padding: 0px 38px;">
 <p class="texttitle" style="width: 120px ! important;">Topic Image </p>
    <div  class="mudiv" style="width: 100%;border: 1px solid #cbcbcb;min-height: 156px;">
       
        <p ng-if="error1 && online" style="position:absolute;font-size:12px;margin: -49px 0 0px 0px;font-family:MyWebFont1;color:red;">Please select a Topic Image </p>
        <div align=center>
        <form name="form" style="margin: 50px 0px;">
         <p ng-show="topicfile.name == null" style="position: relative; width: 50%;margin: 5px 0 0 0px !important;">File not selected</p>
            <p style="position: relative; width: 100%;margin: 5px 0 0 0px !important;word-wrap: break-word;">{{ topicfile.name }}</p>
        <div class="button2"  align="center" style="padding: 2px;cursor: pointer;"
            ng-model="topicfile" name="categoryfile" ngf-pattern="'image/*'"
            ngf-accept="'image/*'"  ngf-min-height="100"  ngf-select="catimageupload(topicfile)" > Browse </div>
            
        </form>
    </div>
    </div>


</div>


<div class="modal-footer" style="border: none !important;">
<div align=right style="padding: 0px 21px;">
<button class="button1" ng-disabled="!online" ng-click="addcategory()"> Add </button>
<button class="button2 footerbtn2" ng-disabled="!online" ng-click="close()" style="margin:5px 0px 0px 0px"> Cancel </button>
</div>
</div>
</div>
</div>



</div>

</div>
<script>
function alpha(event)
{
    
    if((event.charCode >= 33 && event.charCode <= 47) || (event.charCode >= 58 && event.charCode <= 64 ) || (event.charCode >= 91 && event.charCode <= 96 )
            || (event.charCode >= 123 && event.charCode <= 126 ))
        {
        return false;
        }
    else
        {
        return true;
        }
    }
</script>
