<div>
    <div ng-show="loading" class="loader loader-default is-active" ></div>
    <div class="addobjectmodal">
    
    <div class="modal-content">
    <div class="modal-header" style="background-color:{{decry.masterConfig.appcolor}};">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close" style="text-shadow:none;font-weight:normal;font-family: MyWebFont1;font-size: 30px"><span >&times;</span></button>
    <h3 class="modaltitle1">Add {{decry.etype === 'Webinar'? 'Webinar':'Event'}}</h3>
    </div>
	<div class="modal-body" style="overflow:hidden ! important;background-color:white !important;padding: 20px;">
		<div style="width:100%;padding: 5px 50px;" class="userrightdata">
			<p ng-if="error && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">Title cannot be empty</p>
			<p ng-if="error1 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">URL cannot be empty</p>
			<p ng-if="error2 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">Please select type</p>
			<p ng-if="error3 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">Description cannot be empty</p>
			<p ng-if="error4 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">Please select date</p>
			<p ng-if="error5 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">Enter Valid Link</p>
			<p ng-if="error6 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">Please select Group</p>

		<!-- <div  class="mudiv">
			<select class="muselect" ng-model="type">
			<option value="" style="display: none" selected>Select Type</option>
				 <option value="Eevnt">Event</option> 
				  <option value="Webinar">Webinar</option>
				</select>
			
			</div> -->
			<div  class="mudiv">	
				<input class="mutext" name="tdescription" id="uname" ng-model="title" maxlength="100" style="overflow:hidden;  resize:none;" placeholder="Title" ></input>
			</div>
			<div  class="mudiv" style="margin-bottom: 15px;" ng-show="decry.etype === 'Webinar'">
				<input class="mutext" name="tdescription" id="uname" ng-model="links" maxlength="100" style="overflow:hidden;  resize:none;" placeholder="URL" ></input>
				<p ng-if="online" style="position:fixed;font-size:12px;margin: 35px 0 0 0px;font-family: MyWebFont1;color:{{decry.masterConfig.mediumtextcolor}};">URL Should be in the format - https://www.google.com</p>
    		</div>
			<div  class="mudivtarea">
				<textarea class="mutext" name="tdescription" placeholder="Description" maxlength="160" ng-model="desc" style="overflow:hidden; resize:none;border: 1px solid {{decry.masterConfig.mediumborderclr}};padding: 6px;width: 100%;" rows="3" wrap="soft"></textarea>
			</div>
			<div  class="mudiv">	
			<!-- <input id="datetimepicker"  type="date" ng-model="dates" 
			style="overflow:hidden;  resize:none;width: 100%;" onkeydown="return Allowtab(event)"> -->
			<md-datepicker class="mtl" ng-model="dates" style="overflow:hidden;width: 50%;  resize:none;margin: 10px 15px 0 0px;border: none;" 
			md-min-date="minDate" md-placeholder="Select date" onkeydown="return Allowtab(event)"></md-datepicker>
			</div>
		
			<!-- <div  class="mudiv" >
				<select class="muselect" ng-model="groupid"
				ng-options="item.GNAME for item in groups track by item.GID">
				<option value="" style="display: none" selected>Select User Group</option>
        </select>
			</div> -->
		</div>
		<div class="modal-footer" style="overflow:hidden ! important;background-color:white !important;" >
			<div align="right" class="auserfooter" >
			<button class="button1" ng-disabled="!online" ng-click="addevents()"> Save </button>
			<button class="button2 footerbtn2" ng-disabled="!online" style="margin-right: -17px;" ng-click="close()"> Cancel </button>
			</div>
			</div>
		</div>
    </div>
    
    
    
    </div>
    
    </div>
	<script>
	// var input = document.getElementById("datetimepicker");
	// var today = new Date();
	// var day = new String(today.getDate());
	// // Set month to string to add leading 0
	// var mon = new String(today.getMonth()+1); //January is 0!
	// var yr = today.getFullYear();
	// 	if(mon.length < 2) { mon = "0" + mon; }
	// 	if(day.length < 2) { day = "0" + day; }
	// 	var date = new String( yr + '-' + mon + '-' + day );
	// input.setAttribute('min', date);
	// input.disabled = false; 
	
	function Allowtab(e)
    {
        if (e.keyCode == 9)
        {    
            return true;
        }
        else
        {
            return false;
        }
    }
	// $(document).ready(function () {
    //     $('input[id$=datetimepicker]').datepicker({
	// 	dateFormat: 'mm-dd-yy'
	// 	});
    // });

	</script>
	<style>
		.md-datepicker-button
		{
		visibility: hidden;
		}
		.md-datepicker.md-default-theme, md-datepicker
		{
		background: unset;
		}
		.md-datepicker-input-mask 
		{
		width: 308px;
		}
		.md-datepicker-calendar 
		{
		width: 308px;
		}
		
		
		
		</style>