<div>

	<div ng-show="loading" class="loader loader-default is-active"
		data-text="{{sobject == 'Interactivity' ? 'File' : sobject}} is getting uploaded"></div>
	<div class="addobjectmodal">

		<div class="modal-content">
			<div class="modal-header" style="background-color: {{decry.masterConfig.appcolor}};">
				<button type="button" class="close" data-dismiss="modal"
					ng-click="close()" aria-label="Close"
					style="text-shadow: none; font-weight: normal; font-family: MyWebFont1; font-size: 30px">
					<span>&times;</span>
				</button>
				<h3 class="modaltitle1">
					Add Quiz <span ng-if="sobject != null"> - {{sobject }}</span>
				</h3>
			</div>
			
			<div class="modal-body"
				style="overflow: hidden ! important; background-color: {{decry.masterConfig.divbgcolor}}!important;">

				<div ng-if="selecttype == true" style="margin: 0px 50px 0px 50px;">
					<p
						style="font-size: 14px; margin: 10px 0; color: {{decry.masterConfig.darktextcolor}}; font-family: MyWebFont1;">Please
						select the type of Quiz</p>

					<div
						style="overflow: hidden ! important; margin: 40px 20px 10px 20px;color: {{decry.masterConfig.darktextcolor}};">
						<button class="objecttype" ng-disabled="!online" ng-repeat="type in otypes"
							ng-click="sobjecttype(type.id)">
							<img src="lib/Images/{{type.img}}.png"
								style="width: 25px; height: auto; margin: 0 5px 0 -5px;">{{type.type}}
						</button>
					</div>
				</div>


				<div ng-if="audiot == true">

					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="aerror1 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Audio
							title cannot be empty</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Title:</p>
						<input style="float: left; width: 546px; color:{{decry.masterConfig.darktextcolor}};" 
							name="tdescription" ng-model="audiodata.atitle" onkeypress="return alpha(event)"></input>
					</div>
					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="aerror2 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Audio
							description cannot be empty</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Description:</p>
						<textarea
							style="float: left; width: 546px; color:{{decry.masterConfig.mediumtextcolor}}; resize: none; border: 1px solid {{decry.masterConfig.mediumborderclr}}; padding: 6px;"
							name="tdescription" ng-model="audiodata.adesc" rows="4"></textarea>
					</div>
					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="aerror3 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Audio
							seconds should be less than or equal to 60</p>
						<p ng-if="aerror5 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Audio
							duration should be greater than 0</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Duration:</p>
							<div style="display: flex;margin-top: -8px;">	
								<p
								style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 95px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Mins</p>
								<p
								style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 400px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Seconds</p>
								</div>
							<div style="display: flex;">
								<input ng-keypress="onlyNumbers($event)" min="0" 
								style="float: left; width: 80px;margin-right: 15px; color:{{decry.masterConfig.darktextcolor}};" type="number"
								name="nduration" ng-model="audiodata.adur"></input>
								
							<input ng-keypress="onlyNumbers($event)" min="0"  
								style="float: left; width: 80px; color:{{decry.masterConfig.darktextcolor}};" type="number" max="60" value="0" 
								name="nduration" ng-model="audiodata.adursecs"></input>
							</div>
					</div>
					<p ng-if="aerror4 == true"
						style="position: fixed; font-size: 12px; margin: -15px 0 0px 161px; font-family: MyWebFont1; color: red;">Please
						select a audio file to upload</p>
					<div align=center
						style="margin: 20px 60px 20px 160px; overflow: hidden; padding: 40px; border: 2px dashed {{decry.masterConfig.mediumborderclr}};">
						<form name="form">

							<button class="browsebutton" ng-disabled="!online" ngf-select ng-model="audiodata.afile"
								name="audiodata.afile" ngf-pattern="'audio/*'"
								ngf-accept="'audio/*'" ngf-max-size="50MB" ngf-min-height="100"
								ngf-resize="{width: 400, height: 200}">Browse</button>
							<br>
							<p ng-if="audiodata.afile.name == null"
								style="margin: 5px 0 0 0 !important; color:{{decry.masterConfig.darktextcolor}}; font-family: 'MyWebFont1';">Audio
								file not selected</p>
							<p ng-if="audiodata.afile.name != null"
								style="margin: 5px 0 0 0 !important; color:{{decry.masterConfig.darktextcolor}}; font-family: 'MyWebFont1';">{{audiodata.afile.name}}</p>
							<!-- <p ng-show="objectfile.name == null" style="position: relative;float: left; width: 50%;margin: 5px 0 0 10px !important;">File not selected</p>
    -->
						</form>

					</div>
					<div style="margin: 20px 60px 15px 60px;">
						<p ng-if="aerror6 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Ad Products</p>

						<p style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">
							Ad Products: </p>
							
							<div  >
								<select class="muselect" style="width: 84%;" ng-model="audiodata.adprods"
								multiple="multiple" multi-select>
								<!-- <option value=""  selected>Select Ad Products</option> -->
									 <option value="CTV">CTV</option> 
									  <option value="Display">Display</option>
									  <option value="Email Marketing">Email Marketing</option>
									  <option value="Foot Traffic Attribution">Foot Traffic Attribution</option> 
									  <option value="Geofencing">Geofencing</option>
									  <option value="Listings Management">Listings Management</option>
									  <option value="Native">Native </option>
									  <option value="OTT">OTT</option> 
									  <option value="SEM">SEM</option>
									  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging </option>
									  <option value="Social">Social</option> 
									  <option value="Streaming Audio">Streaming Audio</option>
									  <option value="Video">Video</option>
									  <option value="Video Geofencing">Video Geofencing </option>
									</select>
								
								</div>
					</div>
					<div style="margin: 20px 60px 15px 60px; ">
						<p ng-if="aerror7 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Marketron Tools</p>

						<p
							style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Marketron Tools:</p>
							
							<div>
								<select class="muselect" style="width: 84%;" ng-model="audiodata.mrtools"
								multiple="multiple" multi-select>
								<!-- <option value=""  selected>Select Marketron Tools</option> -->
									 <option value="Email Marketing">Email Marketing</option> 
									 <option value="Listings Management">Listings Management</option>
									  <option value="NXT">NXT</option>
									  <option value="Pitch">Pitch</option>
									  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging</option>
									  <option value="NXT With Digital">NXT With Digital</option>
									</select>
								
								</div>
							</div>
							<div style="margin: 20px 60px 15px 60px; overflow: hidden;">
								<p ng-if="aerror8 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Sharable Yes or No</p>
		
								<p
									style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Sharable:</p>
									<div  id="ck-button" style="margin: 0px 5px 0 0px;" >
										<label style="font-weight: normal;">
										  
										   <input type="radio" name="hascert" ng-model="audiodata.sharable" 
										   value="true" />
										   <span>Yes</span>
										   </label>
										   </div>
										   <div  id="ck-button" style="margin: 0px 5px 0 0px;" >
										   <label style="font-weight: normal;">
										  
										   <input type="radio" name="hascert" ng-model="audiodata.sharable" 
										   value="false" />
										   <span>No</span>
										   </label>
									   </div>
									</div>
					<div style="margin: 20px 60px 15px 60px; overflow: hidden;">
						<p
							style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Add
							Tags: <span style="font-size: 11px; display: block;">(Upto 15)</span></p>
							
						<tags-input style="margin-top: -5px;" min-length=2 max-length=30 ng-paste="paste($event,15)" on-tag-added="onTagAdded($query, 15)" replace-spaces-with-dashes=false ng-model="stag"></tags-input>
					<span style="font-size: 12px; color:{{decry.masterConfig.darktextcolor}};display: block;"> * Tag name should be minimum 2 to 30 characters. </span>
					</div>

					<div class="modal-footer" style="border: none !important;">
						<div align=center>
							<button class="button1" ng-disabled="!online" ng-click="saveaudio()">Save</button>
							<button class="button2" ng-disabled="!online" ng-click="close()">Cancel</button>
						</div>
					</div>

				</div>

				<div ng-if="videot == true">

					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="verror1 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Video
							title cannot be empty</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Title:</p>
						<input style="float: left; width: 546px; color:{{decry.masterConfig.darktextcolor}};"
							name="tdescription" ng-model="videodata.vtitle" onkeypress="return alpha(event)"></input>
					</div>
					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="verror2 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Video
							description cannot be empty</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Description:</p>
						<textarea
							style="float: left; width: 546px; color:{{decry.masterConfig.mediumtextcolor}}; resize: none; border: 1px solid {{decry.masterConfig.mediumborderclr}};"
							name="tdescription" ng-model="videodata.vdesc" rows="4"></textarea>
					</div>
					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="verror3 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Video
							seconds should be less than or equal to 60</p>
						<p ng-if="verror5 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Video
							duration should be greater than 0</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Duration:</p>
							<div style="display: flex;margin-top: -8px;">	
								<p
								style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 95px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Mins</p>
								<p
								style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 400px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Seconds</p>
								</div>
							<div style="display: flex;">
								<input ng-keypress="onlyNumbers($event)" min="0"
							style="float: left; width: 80px;margin-right: 15px; color:{{decry.masterConfig.darktextcolor}};" type="number"
							name="nduration" ng-model="videodata.vdur"></input>
								
							<input ng-keypress="onlyNumbers($event)" min="0"  
								style="float: left; width: 80px; color:{{decry.masterConfig.darktextcolor}};" type="number" max="60" value="0" 
								name="nduration" ng-model="videodata.vdursecs"></input>
							</div>
						
					</div>
					<p ng-if="verror4 == true"
						style="position: fixed; font-size: 12px; margin: -15px 0 0px 161px; font-family: MyWebFont1; color: red;">Please
						select a video to upload</p>
					<div align=center
						style="margin: 20px 60px 20px 160px; overflow: hidden; padding: 40px; border: 2px dashed {{decry.masterConfig.mediumborderclr}};">

						<form name="form">

							<button class="browsebutton" ng-disabled="!online" ngf-select ng-model="videodata.vfile"
								name="videodata.vfile" ngf-pattern="'video/*'"
								ngf-accept="'video/*'" ngf-max-size="100MB" ngf-min-height="100"
								ngf-resize="{width: 400, height: 200}">Browse</button>
							<br>
							<p ng-if="videodata.vfile.name == null"
								style="margin: 5px 0 0 0 !important; color:{{decry.masterConfig.darktextcolor}}; font-family: MyWebFont1;">Video
								file not selected</p>
							<p ng-if="videodata.vfile.name != null"
								style="margin: 5px 0 0 0 !important; color:{{decry.masterConfig.darktextcolor}}; font-family: MyWebFont1;">{{videodata.vfile.name}}</p>
							<!-- <p ng-show="objectfile.name == null" style="position: relative;float: left; width: 50%;margin: 5px 0 0 10px !important;">File not selected</p>
    -->
						</form>
					</div>
					<div style="margin: 20px 60px 15px 60px; ">
						<p ng-if="verror6 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Ad Products</p>

						<p style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">
							Ad Products: </p>
							
							<div  >
								<select class="muselect" style="width: 84%;" ng-model="videodata.vadprods"
								multiple="multiple" multi-select>
								<!-- <option value=""  selected>Select Ad Products</option> -->
									 <option value="CTV">CTV</option> 
									  <option value="Display">Display</option>
									  <option value="Email Marketing">Email Marketing</option>
									  <option value="Foot Traffic Attribution">Foot Traffic Attribution</option> 
									  <option value="Geofencing">Geofencing</option>
									  <option value="Listings Management">Listings Management</option>
									  <option value="Native">Native </option>
									  <option value="OTT">OTT</option> 
									  <option value="SEM">SEM</option>
									  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging </option>
									  <option value="Social">Social</option> 
									  <option value="Streaming Audio">Streaming Audio</option>
									  <option value="Video">Video</option>
									  <option value="Video Geofencing">Video Geofencing </option>
									</select>
								
								</div>
					</div>
					<div style="margin: 20px 60px 15px 60px; ">
						<p ng-if="verror7 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Marketron Tools</p>

						<p
							style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Marketron Tools:</p>
							
							<div>
								<select class="muselect" style="width: 84%;" ng-model="videodata.vmrtools"
								multiple="multiple" multi-select>
								<!-- <option value=""  selected>Select Marketron Tools</option> -->
									 <option value="Email Marketing">Email Marketing</option>
									 <option value="Listings Management">Listings Management</option> 
									  <option value="NXT">NXT</option>
									  <option value="Pitch">Pitch</option>
									  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging</option>
									  <option value="NXT With Digital">NXT With Digital</option>
									</select>
								
								</div>
							</div>
							<div style="margin: 20px 60px 15px 60px; overflow: hidden;">
								<p ng-if="verror8 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Sharable Yes or No</p>
		
								<p
									style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Sharable:</p>
									<div  id="ck-button" style="margin: 0px 5px 0 0px;" >
										<label style="font-weight: normal;">
										  
										   <input type="radio" name="hascert" ng-model="videodata.sharable" 
										   value="true" />
										   <span>Yes</span>
										   </label>
										   </div>
										   <div  id="ck-button" style="margin: 0px 5px 0 0px;" >
										   <label style="font-weight: normal;">
										  
										   <input type="radio" name="hascert" ng-model="videodata.sharable" 
										   value="false" />
										   <span>No</span>
										   </label>
									   </div>
									</div>
					<div style="margin: 20px 60px; overflow: hidden;">
						<p
							style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Add
							Tags: <span style="font-size: 11px; display: block;">(Upto 15)</span></p>
						<tags-input style="margin-top: -5px;" min-length=2 max-length=30 ng-paste="paste($event,15)" on-tag-added="onTagAdded($query, 15)" replace-spaces-with-dashes=false ng-model="stag"></tags-input>
					<span style="font-size: 12px; color:{{decry.masterConfig.darktextcolor}};display: block;"> * Tag name should be minimum 2 to 30 characters. </span>
					</div>

					<div class="modal-footer" style="border: none !important;">
						<div align=center>
							<button class="button1" ng-disabled="!online" ng-click="savevideo()">Save</button>
							<button class="button2" ng-disabled="!online" ng-click="close()">Cancel</button>
						</div>
					</div>

				</div>
		<div ng-if="ytvideot == true">

					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="verror1 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Video	title cannot be empty</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Title:</p>
						<input style="float: left; width: 546px; color:{{decry.masterConfig.darktextcolor}};" 
							name="tdescription" ng-model="youtubevideodata.vtitle"></input>
					</div>
					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="verror2 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Video	description cannot be empty</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Description:</p>
						<textarea
							style="float: left; width: 546px; color:{{decry.masterConfig.mediumtextcolor}}; resize: none; border: 1px solid {{decry.masterConfig.mediumborderclr}};"
							name="tdescription" ng-model="youtubevideodata.vdesc" rows="4"></textarea>
					</div>
					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="verror3 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Video	seconds should be less than or equal to 60</p>
						<p ng-if="verror5 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Video	duration should be greater than 0</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Duration:</p>
							<div style="display: flex;margin-top: -8px;">	
								<p
								style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 95px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Mins</p>
								<p
								style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 400px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Seconds</p>
								</div>
							<div style="display: flex;">
								<input ng-keypress="onlyNumbers($event)" min="0"
							style="float: left; width: 80px;margin-right: 15px; color:{{decry.masterConfig.darktextcolor}};" type="number"
							name="nduration" ng-model="youtubevideodata.vdur"></input>
								
							<input ng-keypress="onlyNumbers($event)" min="0"  
								style="float: left; width: 80px; color:{{decry.masterConfig.darktextcolor}};" type="number" max="60" value="0" 
								name="nduration" ng-model="youtubevideodata.vdursecs"></input>
							</div>
						
					</div>
					<p ng-if="verror4 == true" style="position: fixed; font-size: 12px; margin: -15px 0 0px 161px; font-family: MyWebFont1; color: red;">Embed ID cannot be empty</p>
					
						<div style="margin: 20px 60px; overflow: hidden;">
						
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Embed ID:</p>
						<input type="text" style="float: left; width: 546px; color:{{decry.masterConfig.darktextcolor}};  border: 1px solid {{decry.masterConfig.mediumborderclr}};"	name="tdescription" ng-model="youtubevideodata.embd" ></input>
					</div>
					<div style="margin: 20px 60px 15px 60px;">
						<p ng-if="yerror6 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Ad Products</p>

						<p style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">
							Ad Products: </p>
							
							<div  >
								<select class="muselect" style="width: 84%;" ng-model="youtubevideodata.yadprods"
								multiple="multiple" multi-select>
								<!-- <option value=""  selected>Select Ad Products</option> -->
									 <option value="CTV">CTV</option> 
									  <option value="Display">Display</option>
									  <option value="Email Marketing">Email Marketing</option>
									  <option value="Foot Traffic Attribution">Foot Traffic Attribution</option> 
									  <option value="Geofencing">Geofencing</option>
									  <option value="Listings Management">Listings Management</option>
									  <option value="Native">Native </option>
									  <option value="OTT">OTT</option> 
									  <option value="SEM">SEM</option>
									  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging </option>
									  <option value="Social">Social</option> 
									  <option value="Streaming Audio">Streaming Audio</option>
									  <option value="Video">Video</option>
									  <option value="Video Geofencing">Video Geofencing </option>
									</select>
								
								</div>
					</div>
					<div style="margin: 20px 60px 15px 60px; ">
						<p ng-if="yerror7 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Marketron Tools</p>

						<p
							style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Marketron Tools:</p>
							
							<div>
								<select class="muselect" style="width: 84%;" ng-model="youtubevideodata.ymrtools"
								multiple="multiple" multi-select>
								<!-- <option value=""  selected>Select Marketron Tools</option> -->
									 <option value="Email Marketing">Email Marketing</option> 
									 <option value="Listings Management">Listings Management</option>
									  <option value="NXT">NXT</option>
									  <option value="Pitch">Pitch</option>
									  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging</option>
									  <option value="NXT With Digital">NXT With Digital</option>
									</select>
								
								</div>
							</div>
							<div style="margin: 20px 60px 15px 60px; overflow: hidden;">
								<p ng-if="yerror8 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Sharable Yes or No</p>
		
								<p
									style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Sharable:</p>
									<div  id="ck-button" style="margin: 0px 5px 0 0px;" >
										<label style="font-weight: normal;">
										  
										   <input type="radio" name="hascert" ng-model="youtubevideodata.sharable" 
										   value="true" />
										   <span>Yes</span>
										   </label>
										   </div>
										   <div  id="ck-button" style="margin: 0px 5px 0 0px;" >
										   <label style="font-weight: normal;">
										  
										   <input type="radio" name="hascert" ng-model="youtubevideodata.sharable" 
										   value="false" />
										   <span>No</span>
										   </label>
									   </div>
									</div>
					<div style="margin: 20px 60px; overflow: hidden;">
						<p
							style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Add
							Tags: <span style="font-size: 11px; display: block;">(Upto 15)</span></p>
						<tags-input style="margin-top: -5px;" min-length=2 max-length=30 ng-paste="paste($event,15)" on-tag-added="onTagAdded($query, 15)" replace-spaces-with-dashes=false ng-model="stag"></tags-input>
					<span style="font-size: 12px; color:{{decry.masterConfig.darktextcolor}};display: block;"> * Tag name should be minimum 2 to 30 characters. </span>
					</div>
					
					<div class="modal-footer" style="border: none !important;">
						<div align=center>
							<button class="button1" ng-disabled="!online" ng-click="saveyoutubevideo()">Save</button>
							<button class="button2" ng-disabled="!online" ng-click="close()">Cancel</button>
						</div>
					</div>

				</div>
				<div ng-if="htmlt == true">
					<div align=center ng-if="selecthtmltype == true">
						<p
							style="font-size: 14px; margin: 50px 0 10px 0; font-family: MyWebFont1; color: black;">Create
							a simple HTML</p>
						<button class="button1" ng-disabled="!online"
							style="margin-bottom: 50px; margin-right: 0;"
							ng-click="htmltype11()">Create HTML</button>
						<p
							style="font-size: 14px; margin: 0px; font-family: MyWebFont1; color: black;">or</p>
						<p
							style="font-size: 14px; margin: 50px 0 10px 0; font-family: MyWebFont1; color: black;">Upload
							a HTML / HTML package</p>
						<button class="button1" ng-disabled="!online"
							style="margin-bottom: 50px; margin-right: 0;"
							ng-click="htmltype22()">Upload HTML</button>
					</div>

					<div ng-if="htmltype1 == true">
						<div style="margin: 20px 00px; overflow: hidden;">
							<p ng-if="herror1 == true"
								style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">HTML
								title cannot be empty</p>
							<p
								style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Title:</p>
							<input style="float: left; width: 530px; color:{{decry.masterConfig.darktextcolor}};"
								name="tdescription" ng-model="htmldata.htitle" onkeypress="return alpha(event)"></input>
						</div>
						<div style="margin: 20px 00px; overflow: hidden;">
							<p ng-if="herror2 == true"
								style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">HTML
								seconds should be less than or equal to 60</p>
							<p ng-if="herror5 == true"
								style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">HTML
								duration should be greater than 0</p>
							<p
								style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Duration:</p>
								<div style="display: flex;margin-top: -8px;">	
									<p
									style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 95px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Mins</p>
									<p
									style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 400px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Seconds</p>
									</div>
								<div style="display: flex;">
									<input ng-keypress="onlyNumbers($event)" min="0" 
									style="float: left; width: 80px;margin-right: 15px; color:{{decry.masterConfig.darktextcolor}};" type="number"
									name="nduration" ng-model="htmldata.hdur"></input>
									
								<input ng-keypress="onlyNumbers($event)" min="0" 
									style="float: left; width: 80px; color:{{decry.masterConfig.darktextcolor}};" type="number" max="60" value="0" 
									name="nduration" ng-model="htmldata.hdursecs"></input>
								</div>

							
						</div>
						<p ng-if="herror3 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">HTML
							content cannot be empty</p>
						<ng-quill-editor ng-model="htmldata.quiloutput"
							on-editor-created="editorCreated(editor)"
							on-content-changed="contentChanged(editor, html, text)"
							toolbar="true" link-tooltip="true" image-tooltip="true"
							toolbar-entries="font size bold list bullet italic underline strike align color background link image"
							editor-required="true" required="" error-class="input-error"></ng-quill-editor>
						
							<div style="margin: 20px 00px; ">
								<p ng-if="herror6 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Ad Products</p>
		
								<p style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">
									Ad Products: </p>
									
									<div  >
										<select class="muselect" style="width: 84%;" ng-model="htmldata.hadprods"
										multiple="multiple" multi-select>
										<!-- <option value=""  selected>Select Ad Products</option> -->
											 <option value="CTV">CTV</option> 
											  <option value="Display">Display</option>
											  <option value="Email Marketing">Email Marketing</option>
											  <option value="Foot Traffic Attribution">Foot Traffic Attribution</option> 
											  <option value="Geofencing">Geofencing</option>
											  <option value="Listings Management">Listings Management</option>
											  <option value="Native">Native </option>
											  <option value="OTT">OTT</option> 
											  <option value="SEM">SEM</option>
											  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging </option>
											  <option value="Social">Social</option> 
											  <option value="Streaming Audio">Streaming Audio</option>
											  <option value="Video">Video</option>
											  <option value="Video Geofencing">Video Geofencing </option>
											</select>
										
										</div>
							</div>
							<div style="margin: 20px 00px; ">
								<p ng-if="herror7 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Marketron Tools</p>
		
								<p
									style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Marketron Tools:</p>
									
									<div>
										<select class="muselect" style="width: 84%;" ng-model="htmldata.hmrtools"
										multiple="multiple" multi-select>
										<!-- <option value=""  selected>Select Marketron Tools</option> -->
											 <option value="Email Marketing">Email Marketing</option> 
											 <option value="Listings Management">Listings Management</option>
											  <option value="NXT">NXT</option>
											  <option value="Pitch">Pitch</option>
											  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging</option>
											  <option value="NXT With Digital">NXT With Digital</option>
											</select>
										
										</div>
									</div>
									<div style="margin: 20px 00px; ">
										<p ng-if="herror8 == true"
											style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Sharable Yes or No</p>
				
										<p
											style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Sharable:</p>
											<div  id="ck-button" style="margin: 0px 5px 0 0px;" >
												<label style="font-weight: normal;">
												  
												   <input type="radio" name="hascert" ng-model="htmldata.sharable" 
												   value="true" />
												   <span>Yes</span>
												   </label>
												   </div>
												   <div  id="ck-button" style="margin: 0px 5px 0 0px;" >
												   <label style="font-weight: normal;">
												  
												   <input type="radio" name="hascert" ng-model="htmldata.sharable" 
												   value="false" />
												   <span>No</span>
												   </label>
											   </div>
											</div>
											<br/>
							<div style="margin: 20px 0px; ">
							<p
								style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Add
								Tags: <span style="font-size: 11px; display: block;">(Upto 15)</span></p>
							<tags-input style="margin-top: -5px;" min-length=2 max-length=30 ng-paste="paste($event,15)" on-tag-added="onTagAdded($query, 15)" replace-spaces-with-dashes=false ng-model="stag"></tags-input>
						<span style="font-size: 12px; color:{{decry.masterConfig.darktextcolor}};display: block;"> * Tag name should be minimum 2 to 30 characters. </span>
						</div>
				
						<div class="modal-footer" style="border: none !important;">
							<div align=center>
								<button class="button1" ng-disabled="!online" ng-click="savehtml()">Save</button>
								<button class="button2" ng-disabled="!online" ng-click="close()">Cancel</button>
							</div>
						</div>
					</div>

					<div ng-if="htmltype2 == true">
						<div style="margin: 20px 60px; overflow: hidden;">
							<p ng-if="herror1 == true"
								style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">HTML
								title cannot be empty</p>
							<p
								style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Title:</p>
							<input style="float: left; width: 546px; color:{{decry.masterConfig.darktextcolor}};"
								name="tdescription" ng-model="htmldata.htitle" onkeypress="return alpha(event)"></input>
						</div>
						<div style="margin: 20px 60px; overflow: hidden;">
							<p ng-if="herror2 == true"
								style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">HTML
								seconds should be less than or equal to 60</p>
							<p ng-if="herror5 == true"
								style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">HTML
								duration should be greater than 0</p>
							<p
								style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Duration:</p>
								<div style="display: flex;margin-top: -8px;">	
									<p
									style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 95px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Mins</p>
									<p
									style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 400px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Seconds</p>
									</div>
								<div style="display: flex;">
									<input ng-keypress="onlyNumbers($event)" min="0" 
								style="float: left; width: 80px;margin-right: 15px; color:{{decry.masterConfig.darktextcolor}};" type="number" 
								name="nduration" ng-model="htmldata.hdur"></input>
									
								<input ng-keypress="onlyNumbers($event)" min="0"  
									style="float: left; width: 80px; color:{{decry.masterConfig.darktextcolor}};" type="number" max="60" value="0" 
									name="nduration" ng-model="htmldata.hdursecs"></input>
								</div>
						
						</div>
						<p ng-if="herror3 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 161px; font-family: MyWebFont1; color: red;">Please
							select a HTML to upload</p>
						<div align=center
							style="margin: 20px 60px 20px 160px; overflow: hidden; padding: 40px; border: 2px dashed {{decry.masterConfig.mediumborderclr}};">

							<form name="form">
								<button class="browsebutton" ng-disabled="!online" ngf-select ng-model="htmldata.hfile"
									name="htmldata.hfile" ngf-pattern="'.html'"
									ngf-accept="'.html'" ngf-max-size="10MB" ngf-min-height="100"
									ngf-resize="{width: 400, height: 200}">Browse</button>
								<br>
								<p ng-if="htmldata.hfile.name == null"
									style="margin: 5px 0 0 0 !important; color:{{decry.masterConfig.darktextcolor}}; font-family: MyWebFont1;">HTML
									file not selected</p>
								<p ng-if="htmldata.hfile.name != null"
									style="margin: 5px 0 0 0 !important; color:{{decry.masterConfig.darktextcolor}}; font-family: MyWebFont1;">{{htmldata.hfile.name}}</p>
							
							</form>
						</div>
						<div style="margin: 20px 60px 15px 60px;">
							<p ng-if="herror6 == true"
								style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Ad Products</p>
	
							<p style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">
								Ad Products: </p>
								
								<div  >
									<select class="muselect" style="width: 84%;" ng-model="htmldata.hadprods"
									multiple="multiple" multi-select>
									<!-- <option value=""  selected>Select Ad Products</option> -->
										 <option value="CTV">CTV</option> 
										  <option value="Display">Display</option>
										  <option value="Email Marketing">Email Marketing</option>
										  <option value="Foot Traffic Attribution">Foot Traffic Attribution</option> 
										  <option value="Geofencing">Geofencing</option>
										  <option value="Listings Management">Listings Management</option>
										  <option value="Native">Native </option>
										  <option value="OTT">OTT</option> 
										  <option value="SEM">SEM</option>
										  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging </option>
										  <option value="Social">Social</option> 
										  <option value="Streaming Audio">Streaming Audio</option>
										  <option value="Video">Video</option>
										  <option value="Video Geofencing">Video Geofencing </option>
										</select>
									
									</div>
						</div>
						<div style="margin: 20px 60px 15px 60px;">
							<p ng-if="herror7 == true"
								style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Marketron Tools</p>
	
							<p
								style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Marketron Tools:</p>
								
								<div>
									<select class="muselect" style="width: 84%;" ng-model="htmldata.hmrtools"
									multiple="multiple" multi-select>
									<!-- <option value=""  selected>Select Marketron Tools</option> -->
										 <option value="Email Marketing">Email Marketing</option> 
										 <option value="Listings Management">Listings Management</option>
										  <option value="NXT">NXT</option>
										  <option value="Pitch">Pitch</option>
										  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging</option>
										  <option value="NXT With Digital">NXT With Digital</option>
										</select>
									
									</div>
								</div>
								<div style="margin: 20px 60px 15px 60px; ">
									<p ng-if="herror8 == true"
										style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Sharable Yes or No</p>
			
									<p
										style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Sharable:</p>
										<div  id="ck-button" style="margin: 0px 5px 0 0px;" >
											<label style="font-weight: normal;">
											  
											   <input type="radio" name="hascert" ng-model="htmldata.sharable" 
											   value="true" />
											   <span>Yes</span>
											   </label>
											   </div>
											   <div  id="ck-button" style="margin: 0px 5px 0 0px;" >
											   <label style="font-weight: normal;">
											  
											   <input type="radio" name="hascert" ng-model="htmldata.sharable" 
											   value="false" />
											   <span>No</span>
											   </label>
										   </div>
										</div>
										<br/>
						<div style="margin: 20px 60px; overflow: hidden;">
							<p
								style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Add
								Tags: <span style="font-size: 11px; display: block;">(Upto 15)</span></p>
							
							<tags-input style="margin-top: -5px;width: 645px;" min-length=2 ng-paste="paste($event,15)" max-length=30 on-tag-added="onTagAdded($query, 15)"
								replace-spaces-with-dashes=false onkeypress="return alpha(event)" ng-model="stag"></tags-input>
								
						<span style="font-size: 12px; color:{{decry.masterConfig.darktextcolor}};display: block;"> * Tag name should be minimum 2 to 30 characters. </span>
						</div>
					
						<div class="modal-footer" style="border: none !important;">
							<div align=center>
								<button class="button1" ng-disabled="!online" ng-click="savehtml()">Save</button>
								<button class="button2" ng-disabled="!online" ng-click="close()">Cancel</button>
							</div>
						</div>
					</div>

				</div>

				<div ng-if="swippert == true">

					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="serror1 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Swipper
							title cannot be empty</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Title:</p>
						<input style="float: left; width: 546px; color:{{decry.masterConfig.darktextcolor}};" 
							name="tdescription" ng-model="swipperdata.stitle" onkeypress="return alpha(event)"></input>
					</div>
					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="serror2 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Swipper
							seconds should be less than or equal to 60</p>
						<p ng-if="serror5 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Swipper
							duration should be greater than 0</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Duration:</p>
							<div style="display: flex;margin-top: -8px;">	
								<p
								style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 95px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Mins</p>
								<p
								style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 400px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Seconds</p>
								</div>
							<div style="display: flex;">
								<input ng-keypress="onlyNumbers($event)" min="0" 
							style="float: left; width: 80px;margin-right: 15px; color:{{decry.masterConfig.darktextcolor}};" type="number" 
							name="nduration" ng-model="swipperdata.sdur"></input>
								
							<input ng-keypress="onlyNumbers($event)" min="0"  
								style="float: left; width: 80px; color:{{decry.masterConfig.darktextcolor}};" type="number" max="60" value="0" 
								name="nduration" ng-model="swipperdata.sdursecs"></input>
							</div>
						
					</div>
					<p ng-if="serror3 == true"
						style="position: fixed; font-size: 12px; margin: -15px 0 0px 161px; font-family: MyWebFont1; color: red;">Swipper
						to upload cannot be empty</p>
					<p ng-if="serror9 == true"
						style="position: fixed; font-size: 12px; margin: -15px 0 0px 161px; font-family: MyWebFont1; color: red;">Swipper
						Zip package not according to specification</p>
					<div align=center
						style="margin: 20px 60px 20px 160px; overflow: hidden; padding: 40px; border: 2px dashed {{decry.masterConfig.mediumborderclr}};">
						<form name="form">

							<button class="browsebutton" ng-disabled="!online" ngf-select ng-model="swipperdata.sfile"
								name="swipperdata.sfile" ngf-pattern="'*'"
								ngf-accept="'.html, application/zip, application/x-zip-compressed, .zip'"
								ngf-max-size="50MB" ngf-min-height="100"
								ngf-resize="{width: 400, height: 200}">Browse</button>
							<br>
							<p ng-if="swipperdata.sfile.name  == null"
								style="margin: 5px 0 0 0 !important; color:{{decry.masterConfig.darktextcolor}}; font-family: MyWebFont1;">File
								not selected</p>
							<p ng-if="swipperdata.sfile.name != null"
								style="margin: 5px 0 0 0 !important; color:{{decry.masterConfig.darktextcolor}}; font-family: MyWebFont1;">{{swipperdata.sfile.name}}</p>
						
						</form>
					</div>
					<div style="margin: 20px 60px 15px 60px; ">
						<p ng-if="serror6 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Ad Products</p>

						<p style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">
							Ad Products: </p>
							
							<div  >
								<select class="muselect" style="width: 84%;" ng-model="swipperdata.sadprods"
								multiple="multiple" multi-select>
								<!-- <option value=""  selected>Select Ad Products</option> -->
									 <option value="CTV">CTV</option> 
									  <option value="Display">Display</option>
									  <option value="Email Marketing">Email Marketing</option>
									  <option value="Foot Traffic Attribution">Foot Traffic Attribution</option> 
									  <option value="Geofencing">Geofencing</option>
									  <option value="Listings Management">Listings Management</option>
									  <option value="Native">Native </option>
									  <option value="OTT">OTT</option> 
									  <option value="SEM">SEM</option>
									  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging </option>
									  <option value="Social">Social</option> 
									  <option value="Streaming Audio">Streaming Audio</option>
									  <option value="Video">Video</option>
									  <option value="Video Geofencing">Video Geofencing </option>
									</select>
								
								</div>
					</div>
					<div style="margin: 20px 60px 15px 60px;">
						<p ng-if="serror7 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Marketron Tools</p>

						<p
							style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Marketron Tools:</p>
							
							<div>
								<select class="muselect" style="width: 84%;" ng-model="swipperdata.smrtools"
								multiple="multiple" multi-select>
								<!-- <option value=""  selected>Select Marketron Tools</option> -->
									 <option value="Email Marketing">Email Marketing</option> 
									  <option value="NXT">NXT</option>
									  <option value="Pitch">Pitch</option>
									  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging</option>
									  <option value="NXT With Digital">NXT With Digital</option>
									</select>
								
								</div>
							</div>
							
							<div style="margin: 20px 60px 15px 60px; overflow: hidden;">
								<p ng-if="serror8 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Sharable Yes or No</p>
		
								<p
									style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Sharable:</p>
									<div  id="ck-button" style="margin: 0px 5px 0 0px;" >
										<label style="font-weight: normal;">
										  
										   <input type="radio" name="hascert" ng-model="swipperdata.sharable" 
										   value="true" />
										   <span>Yes</span>
										   </label>
										   </div>
										   <div  id="ck-button" style="margin: 0px 5px 0 0px;" >
										   <label style="font-weight: normal;">
										  
										   <input type="radio" name="hascert" ng-model="swipperdata.sharable" 
										   value="false" />
										   <span>No</span>
										   </label>
									   </div>
									</div>
					<div style="margin: 0px 60px; overflow: hidden;">
						<p
							style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Add
							Tags: <span style="font-size: 11px; display: block;">(Upto 15)</span></p>
						<tags-input style="margin-top: -5px;" min-length=2 max-length=30 ng-paste="paste($event,15)" on-tag-added="onTagAdded($query, 15)" replace-spaces-with-dashes=false ng-model="stag"></tags-input>
					<span style="font-size: 12px; color:{{decry.masterConfig.darktextcolor}};display: block;"> * Tag name should be minimum 2 to 30 characters. </span>
					</div>
				
					<div class="modal-footer" style="border: none !important;">
						<div align=center>
							<button class="button1" ng-disabled="!online" ng-click="saveswipper()">Save</button>
							<button class="button2" ng-disabled="!online" ng-click="close()">Cancel</button>
						</div>
					</div>
				</div>
				<div ng-if="scormt == true">

					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="scerror1 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Scorm
							title cannot be empty</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Title:</p>
						<input style="float: left; width: 546px; color:{{decry.masterConfig.darktextcolor}};" 
							name="tdescription" ng-model="scormdata.stitle" onkeypress="return alpha(event)"></input>
					</div>
					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="scerror2 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">
							Seconds should be less than or equal to 60</p>
						<p ng-if="scerror5 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">
							Duration should be greater than 0</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Duration:</p>
							<div style="display: flex;margin-top: -8px;">	
								<p
								style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 95px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Mins</p>
								<p
								style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 400px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Seconds</p>
								</div>
							<div style="display: flex;">
								<input ng-keypress="onlyNumbers($event)" min="0" 
							style="float: left; width: 80px;margin-right: 15px; color:{{decry.masterConfig.darktextcolor}};" type="number" 
							name="nduration" ng-model="scormdata.sdur"></input>
								
							<input ng-keypress="onlyNumbers($event)" min="0"  
								style="float: left; width: 80px; color:{{decry.masterConfig.darktextcolor}};" type="number" max="60" value="0" 
								name="nduration" ng-model="scormdata.sdursecs"></input>
							</div>
						
					</div>
					<p ng-if="scerror3 == true"
						style="position: fixed; font-size: 12px; margin: -15px 0 0px 161px; font-family: MyWebFont1; color: red;">Select Scorm
						package to upload</p>
					<p ng-if="scerror9 == true"
						style="position: fixed; font-size: 12px; margin: -15px 0 0px 161px; font-family: MyWebFont1; color: red;">Scorm
						Zip package not according to specification</p>
					<div align=center
						style="margin: 20px 60px 20px 160px; overflow: hidden; padding: 40px; border: 2px dashed {{decry.masterConfig.mediumborderclr}};">
						<form name="form">

							<button class="browsebutton" ng-disabled="!online" ngf-select ng-model="scormdata.sfile"
								name="scormdata.sfile" ngf-pattern="'*'"
								ngf-accept="'application/zip, application/x-zip-compressed, .zip'"
								ngf-max-size="50MB" ngf-min-height="100"
								ngf-resize="{width: 400, height: 200}">Browse</button>
							<br>
							<p ng-if="scormdata.sfile.name  == null"
								style="margin: 5px 0 0 0 !important; color:{{decry.masterConfig.darktextcolor}}; font-family: MyWebFont1;">File
								not selected</p>
							<p ng-if="scormdata.sfile.name != null"
								style="margin: 5px 0 0 0 !important; color:{{decry.masterConfig.darktextcolor}}; font-family: MyWebFont1;">{{scormdata.sfile.name}}</p>
						
						</form>
					</div>
					<div style="margin: 20px 60px 15px 60px; ">
						<p ng-if="scerror6 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Ad Products</p>

						<p style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">
							Ad Products: </p>
							
							<div  >
								<select class="muselect" style="width: 84%;" ng-model="scormdata.sadprods"
								multiple="multiple" multi-select>
								<!-- <option value=""  selected>Select Ad Products</option> -->
									 <option value="CTV">CTV</option> 
									  <option value="Display">Display</option>
									  <option value="Email Marketing">Email Marketing</option>
									  <option value="Foot Traffic Attribution">Foot Traffic Attribution</option> 
									  <option value="Geofencing">Geofencing</option>
									  <option value="Listings Management">Listings Management</option>
									  <option value="Native">Native </option>
									  <option value="OTT">OTT</option> 
									  <option value="SEM">SEM</option>
									  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging </option>
									  <option value="Social">Social</option> 
									  <option value="Streaming Audio">Streaming Audio</option>
									  <option value="Video">Video</option>
									  <option value="Video Geofencing">Video Geofencing </option>
									</select>
								
								</div>
					</div>
					<div style="margin: 20px 60px 15px 60px;">
						<p ng-if="scerror7 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Marketron Tools</p>

						<p
							style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Marketron Tools:</p>
							
							<div>
								<select class="muselect" style="width: 84%;" ng-model="scormdata.smrtools"
								multiple="multiple" multi-select>
								<!-- <option value=""  selected>Select Marketron Tools</option> -->
									 <option value="Email Marketing">Email Marketing</option> 
									  <option value="NXT">NXT</option>
									  <option value="Pitch">Pitch</option>
									  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging</option>
									  <option value="NXT With Digital">NXT With Digital</option>
									</select>
								
								</div>
							</div>
							
							<div style="margin: 20px 60px 15px 60px; overflow: hidden;">
								<p ng-if="scerror8 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Sharable Yes or No</p>
		
								<p
									style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Sharable:</p>
									<div  id="ck-button" style="margin: 0px 5px 0 0px;" >
										<label style="font-weight: normal;">
										  
										   <input type="radio" name="hascert" ng-model="scormdata.sharable" 
										   value="true" />
										   <span>Yes</span>
										   </label>
										   </div>
										   <div  id="ck-button" style="margin: 0px 5px 0 0px;" >
										   <label style="font-weight: normal;">
										  
										   <input type="radio" name="hascert" ng-model="scormdata.sharable" 
										   value="false" />
										   <span>No</span>
										   </label>
									   </div>
									</div>
					<div style="margin: 0px 60px; overflow: hidden;">
						<p
							style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Add
							Tags: <span style="font-size: 11px; display: block;">(Upto 15)</span></p>
						<tags-input style="margin-top: -5px;" min-length=2 max-length=30 ng-paste="paste($event,15)" on-tag-added="onTagAdded($query, 15)" replace-spaces-with-dashes=false ng-model="stag"></tags-input>
					<span style="font-size: 12px; color:{{decry.masterConfig.darktextcolor}};display: block;"> * Tag name should be minimum 2 to 30 characters. </span>
					</div>
				
					<div class="modal-footer" style="border: none !important;">
						<div align=center>
							<button class="button1" ng-disabled="!online" ng-click="savescorm()">Save</button>
							<button class="button2" ng-disabled="!online" ng-click="close()">Cancel</button>
						</div>
					</div>
				</div>
				<div ng-if="pdft == true">

					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="perror1 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">PDF
							title cannot be empty</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Title:</p>
						<input style="float: left; width: 546px; color:{{decry.masterConfig.darktextcolor}};" 
							name="tdescription" ng-model="pdfdata.ptitle" onkeypress="return alpha(event)"></input>
					</div>
					<div style="margin: 20px 60px; overflow: hidden;">
						<p ng-if="perror2 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">PDF
							seconds should be less than or equal to 60</p>
						<p ng-if="perror5 == true"
							style="position: fixed; font-size: 12px; margin: -20px 0 0px 102px; font-family: MyWebFont1; color: red;">PDF
							duration should be greater than 0</p>
							
							
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Duration:</p>
						<div style="display: flex;margin-top: -8px;">	
							<p
							style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 95px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Mins</p>
							<p
							style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 400px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Seconds</p>
							</div>
						<div style="display: flex;">
						<input ng-keypress="onlyNumbers($event)" min="0" 
							style="float: left; width: 80px;margin-right: 15px; color:{{decry.masterConfig.darktextcolor}};" type="number"  
							name="nduration" ng-model="pdfdata.pdur"></input>
							
						<input ng-keypress="onlyNumbers($event)" min="0"  
							style="float: left; width: 80px; color:{{decry.masterConfig.darktextcolor}};" type="number" max="60" value="0" 
							name="nduration" ng-model="pdfdata.pdursecs"></input>
						</div>
					</div>
					<p ng-if="perror3 == true"
						style="position: fixed; font-size: 12px; margin: -15px 0 0px 161px; font-family: MyWebFont1; color: red;">PDF
						to upload cannot be empty</p>
					<div align=center
						style="margin: 20px 60px 20px 160px; overflow: hidden; padding: 40px; border: 2px dashed {{decry.masterConfig.mediumborderclr}};">
						<form name="form">

							<button class="browsebutton" ng-disabled="!online" ngf-select ng-model="pdfdata.pfile"
								name="pdfdata.pfile" ngf-pattern="'.pdf'" ngf-accept="'.pdf'"
								ngf-max-size="10MB" ngf-min-height="100"
								ngf-resize="{width: 400, height: 200}">Browse</button>
							<br>
							<p ng-if="pdfdata.pfile.name === null || pdfdata.pfile.name === undefined"
								style="margin: 5px 0 0 0 !important; color:{{decry.masterConfig.darktextcolor}}; font-family: MyWebFont1;">PDF
								file not selected</p>
							<p ng-if="pdfdata.pfile.name != null"
								style="margin: 5px 0 0 0 !important; color:{{decry.masterConfig.darktextcolor}}; font-family: MyWebFont1;">{{pdfdata.pfile.name}}</p>
						
						</form>
					</div>
					<div style="margin: 20px 60px 15px 60px; ">
						<p ng-if="perror6 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Ad Products</p>

						<p style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">
							Ad Products: </p>
							
							<div  >
								<select class="muselect" style="width: 84%;" ng-model="pdfdata.padprods"
								multiple="multiple" multi-select>
								<!-- <option value=""  selected>Select Ad Products</option> -->
									 <option value="CTV">CTV</option> 
									  <option value="Display">Display</option>
									  <option value="Email Marketing">Email Marketing</option>
									  <option value="Foot Traffic Attribution">Foot Traffic Attribution</option> 
									  <option value="Geofencing">Geofencing</option>
									  <option value="Listings Management">Listings Management</option>
									  <option value="Native">Native </option>
									  <option value="OTT">OTT</option> 
									  <option value="SEM">SEM</option>
									  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging </option>
									  <option value="Social">Social</option> 
									  <option value="Streaming Audio">Streaming Audio</option>
									  <option value="Video">Video</option>
									  <option value="Video Geofencing">Video Geofencing </option>
									</select>
								
								</div>
					</div>
					<div style="margin: 20px 60px 15px 60px; ">
						<p ng-if="perror7 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Marketron Tools</p>

						<p
							style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Marketron Tools:</p>
							
							<div>
								<select class="muselect" style="width: 84%;" ng-model="pdfdata.pmrtools"
								multiple="multiple" multi-select>
								<!-- <option value=""  selected>Select Marketron Tools</option> -->
									 <option value="Email Marketing">Email Marketing</option> 
									 <option value="Listings Management">Listings Management</option>
									  <option value="NXT">NXT</option>
									  <option value="Pitch">Pitch</option>
									  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging</option>
									  <option value="NXT With Digital">NXT With Digital</option>
									</select>
								
								</div>
							</div>
							<div style="margin: 20px 60px 15px 60px; overflow: hidden;">
								<p ng-if="perror8 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Sharable Yes or No</p>
		
								<p
									style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Sharable:</p>
									<div  id="ck-button" style="margin: 0px 5px 0 0px;" >
										<label style="font-weight: normal;">
										  
										   <input type="radio" name="hascert" ng-model="pdfdata.sharable" 
										   value="true" />
										   <span>Yes</span>
										   </label>
										   </div>
										   <div  id="ck-button" style="margin: 0px 5px 0 0px;" >
										   <label style="font-weight: normal;">
										  
										   <input type="radio" name="hascert" ng-model="pdfdata.sharable" 
										   value="false" />
										   <span>No</span>
										   </label>
									   </div>
									</div>
					<div style="margin: 20px 60px; overflow: hidden;">
						<p
							style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Add
							Tags: <span style="font-size: 11px; display: block;">(Upto 15)</span></p>
						<tags-input style="margin-top: -5px;" min-length=2 max-length=30 ng-paste="paste($event,15)" on-tag-added="onTagAdded($query, 15)" replace-spaces-with-dashes=false ng-model="stag"></tags-input>
					<span style="font-size: 12px; color:{{decry.masterConfig.darktextcolor}};display: block;"> * Tag name should be minimum 2 to 30 characters. </span>
					</div>

					<div class="modal-footer" style="border: none !important;">
						<div align=center>
							<button class="button1" ng-disabled="!online" ng-click="savepdf()">Save</button>
							<button class="button2" ng-disabled="!online" ng-click="close()">Cancel</button>
						</div>
					</div>

				</div>

				<div ng-if="quizt == true">
					<div align=center style="margin: 0px 00px; overflow: hidden;">
					
						<div ng-if="quizquestions.length == 0 && !noques" align=center
							style="margin: 10px 00px 0 0; overflow: hidden;">
							<button class="objecttype" ng-click="addquestype('0')">
								Formative Quiz With Feedback</button>
							<button class="objecttype" ng-click="addquestype('2')">
								Formative Quiz</button>
							<button class="objecttype" ng-click="addquestype('1')">
								Summative Quiz</button>
						</div>


						<div ng-show="showques" ng-repeat="question in filteredQuestions">
							<div>
								<div style="margin: 00px 40px; overflow: hidden;">
									<p
										style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Question
										No:</p>
									<p
										style="padding: 6px 0 0 0; float: left; width: 530px; color:{{decry.masterConfig.darktextcolor}};"
										name="tdescription">{{currentPage}} of {{qid}}</p>
								</div>

								<div style="margin: 8px 40px; overflow: hidden;">

									<p ng-if="qerror1 == true"
										style="position: fixed; font-size: 12px; margin: -15px 0 0px 100px; font-family: MyWebFont1; color: red;">Question
										cannot be empty</p>
									<p
										style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Question:</p>
									<textarea
										style="float: left; width: 580px; color:{{decry.masterConfig.mediumtextcolor}}; resize: none; border: 1px solid {{decry.masterConfig.mediumborderclr}};"
										name="tdescription" ng-model="question.istem" rows="2"></textarea>
								</div>

								<div style="margin: 00px 40px; overflow: hidden;">
									<p
										style="margin-bottom: 0; padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Image:</p>

									<form name="form" style="width: 580px; float: left;">

										<button style="margin-top: 5px; float: left;" class="browsebutton" ng-disabled="!online"
											ngf-select="quizimageupload(question.image)"
											ng-model="question.image" name="question.image"
											ngf-pattern="'image/*'" ngf-accept="'image/*'"
											ngf-max-size="5MB" ngf-min-height="100"
											ngf-resize="{width: 400, height: 200}">Browse</button>
										<p ng-if="question.image.name != null"
											style="float: left; margin: 10px 0 0 5px !important; color:{{decry.masterConfig.darktextcolor}}; font-family: MyWebFont1;">{{question.image.name}}</p>
									</form>
									<p
										style="float: left; line-height: 10px; margin-top: -10px; width: 90px; color:{{decry.masterConfig.darktextcolor}}; text-align: left; font-size: 12px;">
										<sub>(Optional)</sub>
									</p>
								</div>


								<div style="margin: 00px 40px; overflow: hidden;">
									<p
										style="line-height: 10px; width: 90px; color:{{decry.masterConfig.darktextcolor}}; text-align: left; font-size: 12px; position: absolute; margin-top: 27px;">
										<sub>(Select the correct option)</sub>
									</p>
									<p
										style="margin-bottom: 0; padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Options:</p>
									<p ng-if="qerror2 == true"
										style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">You
										need to enter at least 2 options</p>
									<p ng-if="qerror3 == true"
										style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">Please
										select the correct option</p>
									<p ng-if="qerror4 == true"
										style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">You
										have selected an option for which no value has been entered</p>
									<p ng-if="qerror5 == true"
										style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">Option
										cannot just contain space</p>
									<p ng-if="qerror6 == true"
										style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">You
										have entered an option by skipping one of the previous one</p>
									<p ng-if="qerror7 == true"
										style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">Please
										enter a feedback</p>
									<p ng-if="qerror8 == true"
										style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">Entered
										options must have different values</p>
									<input style="margin: 10px 0 10px 00px;" class="quescheck"
										type="radio" name="iopts" value="opt1"
										ng-model="question.correctoption"> <input
										style="border-top: none !important; border-left: none !important; border-right: none !important; margin: 00px 0 10px 00px; float: left; width: 560px; color:{{decry.masterConfig.darktextcolor}};"
										name="tdescription" ng-model="question.iopts.opt1"
										ng-change="showfeedback('opt1',question.iopts.opt1)"></input>
									</br> <input ng-if="fdopt1"
										style="margin: 00px 0 10px 118px; float: left; width: 560px; color:{{decry.masterConfig.darktextcolor}};"
										ng-model="question.iopts.fdopt1" placeholder="Feedback"></input>
									</br> <input style="margin: 10px 0 10px 100px;" class="quescheck"
										type="radio" name="iopts" value="opt2"
										ng-model="question.correctoption"> <input
										style="border-top: none !important; border-left: none !important; border-right: none !important; margin: 00px 0 10px 00px; float: left; width: 560px; color:{{decry.masterConfig.darktextcolor}};"
										name="tdescription" ng-model="question.iopts.opt2"
										ng-change="showfeedback('opt2',question.iopts.opt2)"></input>
									</br> <input ng-if="fdopt2"
										style="margin: 00px 0 10px 118px; float: left; width: 560px; color:{{decry.masterConfig.darktextcolor}};"
										ng-model="question.iopts.fdopt2" placeholder="Feedback"></input>
									</br> <input style="margin: 10px 0 10px 100px;" class="quescheck"
										type="radio" name="iopts" value="opt3"
										ng-model="question.correctoption"> <input
										style="border-top: none !important; border-left: none !important; border-right: none !important; margin: 00px 0 10px 00px; float: left; width: 560px; color:{{decry.masterConfig.darktextcolor}};"
										name="tdescription" ng-model="question.iopts.opt3"
										ng-change="showfeedback('opt3',question.iopts.opt3)"></input>
									</br> <input ng-if="fdopt3"
										style="margin: 00px 0 10px 118px; float: left; width: 560px; color:{{decry.masterConfig.darktextcolor}};"
										ng-model="question.iopts.fdopt3" placeholder="Feedback"></input>
									</br> <input style="margin: 10px 0 10px 100px;" class="quescheck"
										type="radio" name="iopts" value="opt4"
										ng-model="question.correctoption"> <input
										style="border-top: none !important; border-left: none !important; border-right: none !important; margin: 00px 0 10px 00px; float: left; width: 560px; color:{{decry.masterConfig.darktextcolor}};"
										name="tdescription" ng-model="question.iopts.opt4"
										ng-change="showfeedback('opt4',question.iopts.opt4)"></input>
									</br> <input ng-if="fdopt4"
										style="margin: 00px 0 10px 118px; float: left; width: 560px; color:{{decry.masterConfig.darktextcolor}};"
										ng-model="question.iopts.fdopt4" placeholder="Feedback"></input>
									</br> <input style="margin: 10px 0 10px 100px;" class="quescheck"
										type="radio" name="iopts" value="opt5"
										ng-model="question.correctoption"> <input
										style="border-top: none !important; border-left: none !important; border-right: none !important; margin: 00px 0 10px 00px; float: left; width: 560px; color:{{decry.masterConfig.darktextcolor}};"
										name="tdescription" ng-model="question.iopts.opt5"
										ng-change="showfeedback('opt5',question.iopts.opt4)"></input>
									</br> <input ng-if="fdopt5"
										style="margin: 00px 0 10px 118px; float: left; width: 560px; color:{{decry.masterConfig.darktextcolor}};"
										ng-model="question.iopts.fdopt5" placeholder="Feedback"></input>
									</br> <input style="margin: 10px 0 10px 100px;" class="quescheck"
										type="radio" name="iopts" value="opt6"
										ng-model="question.correctoption"> <input
										style="border-top: none !important; border-left: none !important; border-right: none !important; margin: 00px 0 10px 00px; float: left; width: 560px; color:{{decry.masterConfig.darktextcolor}};"
										name="tdescription" ng-model="question.iopts.opt6"
										ng-change="showfeedback('opt6',question.iopts.opt6)"></input>
									</br> <input ng-if="fdopt6"
										style="margin: 00px 0 10px 118px; float: left; width: 560px; color:{{decry.masterConfig.darktextcolor}};"
										ng-model="question.iopts.fdopt6" placeholder="Feedback"></input>
									<!-- <p
										style="float: left; line-height: 10px; margin-top: -488px; width: 90px; color:{{decry.masterConfig.darktextcolor}}; text-align: left; font-size: 12px;">
										<sub>(Select the correct option)</sub>
									</p> -->
								</div>

							</div>
							




							<div align=center
								style="margin: 10px 00px 0 0; overflow: hidden;">
								<button ng-disabled="currentPage == 1 || !online" class="button1" 
									ng-click="prevques()">Previous</button>
								<button ng-disabled="currentPage == qid || !online" class="button1"  
									ng-click="nextques()">Next</button>
								<button class="button1" ng-disabled="!online"  ng-click="addques()">Add
									Question</button>
								<button ng-if="quizquestions.length >= 1" class="button1" ng-disabled="!online"
									ng-click="removeques(question)">Remove Question</button>
								<button ng-if="quizquestions.length >= 1" class="button1" ng-disabled="!online"
									ng-click="savequiz()">Save</button>
							</div>

						</div>

						<div ng-show="showcutoff == true && questype == '2'" align=center
							style="margin: 10px 00px 0 0; overflow: hidden;">
						<div style="margin: 0px 40px; overflow: hidden;">
							<p ng-if="qerror8 == true"
								style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">Please
								enter cutoff score</p>
							<p ng-if="qerror9 == true"
								style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">Cutoff
								score should be greater than equal to 0</p>
							<br>
							<p style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Cutoff Score
								:</p>
							<input style="margin-top: -5px;float: left;margin-bottom: 20px;" type="number" min="0" max="100"  onkeydown="return Allowtab(event)" ng-model="cutoffsc" />
							</div>
							<div style="margin: 0px 40px 20px 40px; text-align: left; ">
								<p ng-if="qerror10 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Ad Products</p>
		
								<p style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">
									Ad Products: </p>
									
									<div  >
										<select class="muselect" style="width: 85%;" ng-model="qdata.qadprods"
										multiple="multiple" multi-select>
										<!-- <option value=""  selected>Select Ad Products</option> -->
											 <option value="CTV">CTV</option> 
											  <option value="Display">Display</option>
											  <option value="Email Marketing">Email Marketing</option>
											  <option value="Foot Traffic Attribution">Foot Traffic Attribution</option> 
											  <option value="Geofencing">Geofencing</option>
											  <option value="Listings Management">Listings Management</option>
											  <option value="Native">Native </option>
											  <option value="OTT">OTT</option> 
											  <option value="SEM">SEM</option>
											  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging </option>
											  <option value="Social">Social</option> 
											  <option value="Streaming Audio">Streaming Audio</option>
											  <option value="Video">Video</option>
											  <option value="Video Geofencing">Video Geofencing </option>
											</select>
										
										</div>
							</div>
							<div style="margin: 0px 40px 20px 40px;text-align: left; ">
								<p ng-if="qerror11 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Marketron Tools</p>
		
								<p
									style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Marketron Tools:</p>
									
									<div>
										<select class="muselect" style="width: 85%;" ng-model="qdata.qmrtools"
										multiple="multiple" multi-select>
										<!-- <option value=""  selected>Select Marketron Tools</option> -->
											 <option value="Email Marketing">Email Marketing</option> 
											 <option value="Listings Management">Listings Management</option>
											  <option value="NXT">NXT</option>
											  <option value="Pitch">Pitch</option>
											  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging</option>
											  <option value="NXT With Digital">NXT With Digital</option>
											</select>
										
										</div>
									</div>
									<div style="margin: 0px 40px 20px 40px; overflow: hidden;">
										<p ng-if="qerror12 == true"
											style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Sharable Yes or No</p>
				
										<p
											style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Sharable:</p>
											<div  id="ck-button" style="margin: 0px 5px 0 0px;" >
												<label style="font-weight: normal;">
												  
												   <input type="radio" name="hascert" ng-model="qdata.qsharable" 
												   value="true" />
												   <span>Yes</span>
												   </label>
												   </div>
												   <div  id="ck-button" style="margin: 0px 5px 0 0px;" >
												   <label style="font-weight: normal;">
												  
												   <input type="radio" name="hascert" ng-model="qdata.qsharable" 
												   value="false" />
												   <span>No</span>
												   </label>
											   </div>
											</div>
							<div style="margin: 0px 40px 25px 40px; overflow: hidden;">
								<p
									style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Add
									Tags: <span style="font-size: 11px; display: block;">(Upto 15)</span></p>
								<tags-input style="margin-top: -5px;" min-length=2 max-length=30 ng-paste="paste($event,15)" on-tag-added="onTagAdded($query, 15)" replace-spaces-with-dashes=false ng-model="stag"></tags-input>
							<span style="font-size: 12px;float: left; color:{{decry.masterConfig.darktextcolor}};display: block;"> * Tag name should be minimum 2 to 30 characters. </span>
							</div>
							
							
							<br>
							<button class="button1" ng-disabled="!online" ng-click="sumsavequiz(cutoffsc)">
								Save</button>

						</div>
<div ng-show="showcategory == true && questype != '2'" align=center
							style="margin: 10px 00px 0 0; overflow: hidden;">
							<div style="margin: 0px 40px 20px 40px; overflow: hidden;">
								<p ng-if="qerror10 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Ad Products</p>
		
								<p style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">
									Ad Products: </p>
									
									<div  >
										<select class="muselect" style="width: 85%;" ng-model="qdata.qadprods"
										multiple="multiple" multi-select>
										<!-- <option value=""  selected>Select Ad Products</option> -->
											 <option value="CTV">CTV</option> 
											  <option value="Display">Display</option>
											  <option value="Email Marketing">Email Marketing</option>
											  <option value="Foot Traffic Attribution">Foot Traffic Attribution</option> 
											  <option value="Geofencing">Geofencing</option>
											  <option value="Listings Management">Listings Management</option>
											  <option value="Native">Native </option>
											  <option value="OTT">OTT</option> 
											  <option value="SEM">SEM</option>
											  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging </option>
											  <option value="Social">Social</option> 
											  <option value="Streaming Audio">Streaming Audio</option>
											  <option value="Video">Video</option>
											  <option value="Video Geofencing">Video Geofencing </option>
											</select>
										
										</div>
							</div>
							<div style="margin: 0px 40px 20px 40px; overflow: hidden;">
								<p ng-if="qerror11 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Marketron Tools</p>
		
								<p
									style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Marketron Tools:</p>
									
									<div>
										<select class="muselect" style="width: 85%;" ng-model="qdata.qmrtools"
										multiple="multiple" multi-select>
										<!-- <option value=""  selected>Select Marketron Tools</option> -->
											 <option value="Email Marketing">Email Marketing</option> 
											 <option value="Listings Management">Listings Management</option>
											  <option value="NXT">NXT</option>
											  <option value="Pitch">Pitch</option>
											  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging</option>
											  <option value="NXT With Digital">NXT With Digital</option>
											</select>
										
										</div>
									</div>
									<div style="margin: 0px 40px 20px 40px; overflow: hidden;">
										<p ng-if="qerror12 == true"
											style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Sharable Yes or No</p>
				
										<p
											style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Sharable:</p>
											<div  id="ck-button" style="margin: 0px 5px 0 0px;" >
												<label style="font-weight: normal;">
												  
												   <input type="radio" name="hascert" ng-model="qdata.qsharable" 
												   value="true" />
												   <span>Yes</span>
												   </label>
												   </div>
												   <div  id="ck-button" style="margin: 0px 5px 0 0px;" >
												   <label style="font-weight: normal;">
												  
												   <input type="radio" name="hascert" ng-model="qdata.qsharable" 
												   value="false" />
												   <span>No</span>
												   </label>
											   </div>
											</div>
<div style="margin: 0px 40px; overflow: hidden;">
								<p
									style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Add
									Tags: <span style="font-size: 11px; display: block;">(Upto 15)</span></p>
								<tags-input style="margin-top: -5px;" min-length=2 max-length=30 ng-paste="paste($event,15)" on-tag-added="onTagAdded($query, 15)" replace-spaces-with-dashes=false ng-model="stag"></tags-input>
							<span style="font-size: 12px; color:{{decry.masterConfig.darktextcolor}};display: block;float:left;"> * Tag name should be minimum 2 to 30 characters. </span>
							</div>
							
							<br>
							<button class="button1" ng-disabled="!online" ng-click="Catsavequiz()">
								Save</button>

						</div>
						
						<div align=center style="margin: 00px 00px; overflow: hidden;">
						<div style="margin: 20px 60px; overflow: hidden;" ng-if="noques && quizquestions.length == 0">
						<p ng-if="qzerror1 == true"
							style="position: fixed; font-size: 12px; margin: -20px 0 0px 102px; font-family: MyWebFont1; color: red;">Quiz
							title cannot be empty</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Title:</p>
						<input style="float: left; width: 546px; color:{{decry.masterConfig.darktextcolor}};" 
							name="tdescription" ng-model="qtitle.qztitle" onkeypress="return alpha(event)"></input>
						</div>
							<button ng-if="noques && quizquestions.length == 0"
								class="button1" ng-disabled="!online" ng-click="addques()">Add Question</button>
						</div>

					</div>

				</div>
			</div>



		</div>

	</div>
	<script>

function alpha(event)
{
    
    if((event.charCode >= 33 && event.charCode <= 47) || (event.charCode >= 58 && event.charCode <= 64 ) || (event.charCode >= 91 && event.charCode <= 96 )
            || (event.charCode >= 123 && event.charCode <= 126 ))
        {
        return false;
        }
    else
        {
        return true;
        }
	}
	function Allowtab(e)
    {
        if (e.keyCode == 9)
        {    
            return true;
        }
        else
        {
            return false;
        }
    }
</script>
