<!-- Added for add group screen -->
<div ng-show="loading" class="loader loader-default is-active"></div>

<div class="modal-content">
<!-- <div class="modal-header" >
<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close" style="text-shadow:none;font-family: MyWebFont1;font-weight:lighter;font-size: 26px;"><span >&times;</span></button>

</div> -->
<div class="modal-body" style="overflow:hidden;background-color: #fff !important;">


<div style="padding: 30px 10% 0px;">

<div  class="mudiv"  style="width: 100%">
<p ng-if="error" style="position:fixed;font-size:12px;margin: -7px 0 0px 0px;font-family: MyWebFont1;color:red;">Group name cannot be empty</p>
<p class="mgtitle">Group Name </p>
<input class="mgtext" name="tdescription" id="gname" onkeypress="return alpha(event)" maxlength="60" ng-model="gname" style="overflow:hidden; resize:none; width: 100%"></input>
</div>

</div>

</div>
<div class="modal-footer" >
<div align=right style="padding: 0px 7%;">
<button class="button1" ng-disabled="!online" ng-click="creategroup()">Add</button>
<button class="button2 footerbtn2" ng-disabled="!online" style="margin: 0px 0px 20px 0;" ng-click="close()"> Cancel </button>
</div>
</div>
</div>
<script>
$('#gname').bind("cut copy paste",function(e) {
    e.preventDefault();
});
function alpha(event)
{
    
    if((event.charCode >= 33 && event.charCode <= 47) || (event.charCode >= 58 && event.charCode <= 64 ) || (event.charCode >= 91 && event.charCode <= 96 )
            || (event.charCode >= 123 && event.charCode <= 126 ))
        {
        return false;
        }
    else
        {
        return true;
        }
    }
</script>



