<div>
<div ng-show="loading" class="loader loader-default is-active" data-text="{{objecttype}} is getting Uploaded"></div>
<div class="addobjectmodal">

<div class="modal-content">
<div class="modal-header" style="background-color:#393939;">
<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close" style="text-shadow:none;font-weight:normal;font-family: {{decry.masterConfig.regularfotnfamily}};font-size: 30px"><span >&times;</span></button>
<h3 class="modaltitle1">Add Module</h3>
</div>
<div class="modal-body" style="overflow:hidden ! important;background-color:white !important;">


<div align=center class="textdiv">
<p ng-if="error == true" style="position:fixed;font-size:12px;margin: -25px 0 0px 220px;font-family: {{decry.masterConfig.regularfotnfamily}};color:red;">Please enter the Module Title </p>
<p class="texttitle" style="width: auto;">Module Title </p>
<input name="ntitle" ng-model="ntitle" style="overflow:hidden; resize:none;" ></input>
</div>



<div class="modal-footer" style="border: none !important;">
<div align=center>
<button class="button1" ng-click="addnugget()"> Add </button>
<button class="button2" ng-click="close()"> Cancel </button>
</div>
</div>
</div>
</div>



</div>

</div>
