<div>
<div ng-show="loading" class="loader loader-default is-active" data-text="Quiz is getting Uploaded"></div>
<div class="addobjectmodal">

<div class="modal-content">
<div class="modal-header" >
<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>
<h3 class="modaltitle">Quiz Questions</h3>
</div>
<div class="modal-body" style="overflow:hidden ! important;">

<div>
<div class="viewnuggets">
<uib-accordion close-others="true">
	 <div uib-accordion-group class="panel-default" ng-model='questions' ng-repeat="question in questions track by $index" is-open="$last">
      <uib-accordion-heading> 
      <div class="uibheadeing"> <p class="qtitle">  Question {{questions.indexOf(question) + 1}} </p><p class="nimage"><IMG class="nimagesrc{{$last}}" ng-src="lib/Images/{{$last === true ? 'ntrue' : 'nfalse'}}.png"></IMG></p>
      </div>
      </uib-accordion-heading>
      <div style="overflow:hidden;">
      <button class="removenugget" type="button" ng-click="removequestion(question)">Remove Question</button>
      </div>
      
      
		<div class="qdescription">
		<p class="questitle">Question </p>
		<p class="quescolon">:</p>
		<textarea  class="questext" name="qtitle" ng-model="question.istem" rows="1" wrap="soft"   style="overflow:hidden; resize:none;line-height:30px;"></textarea>
		</div>
		<div class="qdescription">
		<p class="questitle1">Options </p>
		<p class="quescolon1">:</p>
		
		<input class="quescheck" type="radio" name="iopts" value="iopts1" ng-model="question.correctoption">
		<p class="quesnum"> A </p>
		<textarea  class="quesopt" name="qtitle" ng-model="question.iopts1" rows="1" wrap="soft"   style="overflow:hidden; resize:none;line-height:30px;"></textarea>
		
		<input style="margin-left:15px ! important" class="quescheck" type="radio" name="iopts" value="iopts2" ng-model="question.correctoption">
		<p class="quesnum"> B </p>
		<textarea  class="quesopt" name="qtitle" ng-model="question.iopts2" rows="1" wrap="soft"   style="overflow:hidden; resize:none;line-height:30px;"></textarea>
		
		<input class="quescheck" type="radio" name="iopts" value="iopts3" ng-model="question.correctoption">
		<p class="quesnum"> C </p>
		<textarea  class="quesopt" name="qtitle" ng-model="question.iopts3" rows="1" wrap="soft"   style="overflow:hidden; resize:none;line-height:30px;"></textarea>
		
		<input style="margin-left:15px ! important" class="quescheck" type="radio" name="iopts" value="iopts4" ng-model="question.correctoption">
		<p class="quesnum"> D </p>
		<textarea  class="quesopt" name="qtitle" ng-model="question.iopts4" rows="1" wrap="soft"   style="overflow:hidden; resize:none;line-height:30px;"></textarea>
		
		<input class="quescheck" type="radio" name="iopts" value="iopts5" ng-model="question.correctoption">
		<p class="quesnum"> E </p>
		<textarea  class="quesopt" name="qtitle" ng-model="question.iopts5" rows="1" wrap="soft"   style="overflow:hidden; resize:none;line-height:30px;"></textarea>
		
		<input style="margin-left:15px ! important" class="quescheck" type="radio" name="iopts" value="iopts6" ng-model="question.correctoption">
		<p class="quesnum"> F </p>
		<textarea  class="quesopt" name="qtitle" ng-model="question.iopts6" rows="1" wrap="soft"   style="overflow:hidden; resize:none;line-height:30px;"></textarea>
		
		</div>
		<div> <p style="float:left;margin-top:4px;">Plese select the right answer </p><img class="checkbox" src="lib/Images/checkbox.png"> </div>

	</div>
    </div>
</uib-accordion>
</div>
</div>

<div class="addnugget" align="center"> 
<div align="center"> 
<img style="position: relative;width: auto;height: 25px;border: none;cursor: pointer;" ng-click="addquestion()" src="lib/Images/add.png">
</div>
</div>

<div align="center"> 
<div style="display:inline-block;margin:10px 00px 0 0!important;">
<div style="display:inline;float:left;margin-left: 0px;">
<button class="userbutton" type="button" ng-click="savequestions()">Submit</button>
</div>
<div style="float:right;margin-left:20px;">
<button class="userbutton" type="button" ng-click="close()">Cancel</button>
</div>
</div>
</div>

</div>
</div>

</div>

</div>
