<!-- Added for add user screen -->
<div ng-show="loading" class="loader loader-default is-active"></div>

<div class="modal-content">
<!-- <div class="modal-header" >
<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close" style="text-shadow:none;font-family: MyWebFont1;font-weight:lighter;font-size: 26px;"><span >&times;</span></button>

</div> -->
<div class="modal-body" style="overflow:hidden;background-color: #fff !important;">

<div style="width:100%;overflow:hidden;">
	
<div align=center class="userlogo">
<img src="lib/Images/pic1.png"  class="userimg">
</div>
<div align="center" style="padding: 0px 0px 10px 0px;font-size: 21px;color:{{decry.masterConfig.darktextcolor}};font-family: MyWebFont1;">Create User</div>
<div style="width:100%;padding: 0px 50px;" class="userrightdata">
<p ng-if="error && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">Name cannot be empty</p>
<p ng-if="error1 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">Email cannot be empty</p>
<p ng-if="error2 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">Please select gender</p>
<p ng-if="error3 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">User Role cannot be empty</p>
<p ng-if="error4 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">Contact number cannot be empty</p>
<p ng-if="error5 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">Address cannot be empty</p>
<p ng-if="error6 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">User group cannot be empty</p>
<p ng-if="error7 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">Enter valid email Id</p>
<p ng-if="error8 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">Enter valid 10 digit mobile number</p>
<p ng-if="error9 || !online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family: MyWebFont1;color:red;">Please check your internet connection!</p>
	<div  class="mudiv">

	<input class="mutext" name="tdescription" id="uname" ng-model="uname" maxlength="50" style="overflow:hidden;  resize:none;" placeholder="Name" onkeypress="return alpha(event)"></input>
	</div>
	<div  class="mudiv">

	<input class="mutext" type="text" name="tdescription" ng-model="eid" id="email" placeholder="Email" style="overflow:hidden; resize:none;"></input>
	</div>


	<div  class="mudiv" >

	<input class="mutext" ng-keypress="onlyNumbers($event)" id="mno" name="tdescription" maxlength="12" placeholder="Contact No" ng-model="contactno" style="overflow:hidden; resize:none;"></input>
	</div>
	<div  class="mudiv" >
	
	<select class="muselect" ng-model="ugender"  >
	 <option value="" style="display: none" selected >Select Gender</option> 
	     <option value="0">Male</option> 
	      <option value="1">Female</option>
	       <option value="2">Unknown</option>
	    </select>
	
	</div>
	<div  class="mudivtarea">
	
	<textarea class="mutext" name="tdescription" placeholder="Address" maxlength="200" ng-model="address" style="overflow:hidden; resize:none;border: 1px solid {{decry.masterConfig.mediumborderclr}};padding: 6px;width: 100%;" rows="3" wrap="soft"></textarea>
	</div>
	<div  class="mudiv">
	
	<select class="muselect" ng-model="urole">
	<option value="" style="display: none" selected>Select User Role</option>
	     <option value="User">User</option> 
	      <!-- <option value="Instructor">Instructor</option>
	      <option value="Content Creator">Content Creator</option> -->
	    </select>
	
	</div>



</div>
</div>

</div>
<div class="modal-footer" >
<div align="right" class="auserfooter" >
<button class="button1" ng-disabled="!online" ng-click="createuser()"> Save </button>
<button class="button2" ng-disabled="!online" style="margin-right: -17px;" ng-click="close()"> Cancel </button>
</div>
</div>
</div>

<script>

$('#uname').bind("cut copy paste",function(e) {
    e.preventDefault();
});
$('#mno').bind("cut copy paste",function(e) {
    e.preventDefault();
});
$('#email').bind("cut copy paste",function(e) {
    e.preventDefault();
});
function alpha(event)
{
    
    if((event.charCode >= 33 && event.charCode <= 47) || (event.charCode >= 58 && event.charCode <= 64 ) || (event.charCode >= 91 && event.charCode <= 96 )
            || (event.charCode >= 123 && event.charCode <= 126 ))
        {
        return false;
        }
    else
        {
        return true;
        }
    }
</script>



