<div>
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'"></div>
</div>
<div class="sidenav">
<div align="center"> 
<img src="https://dn5j56u4lo8jt.cloudfront.net/ED-IMAGES/000001/000001-lg.png" style="width:90%;height:120px;margin-bottom:10px;"> 
<h4 style="margin-top:5%;"> Topic Id: {{ topicid }}</h4>
<p style="margin-top:35%;font-size:18px;"> Total No. of Users: {{ totalusers }}</p>
 <a style="margin-top:5%;font-size:16px;" href="#dashboard">List Of Users</a>
</div>

</div>
<div style="margin-left:18%;margin-right:0%">

<div class="analytics">
<p style="text-align:center;font-size:16px;"> User Subscription for last 12 months</p>
<nvd3 options='options1' data='data1'></nvd3>
</div>
<div  class="analytics1">
<p style="text-align:center;font-size:16px;"> Completion %</p>
<nvd3 options="options2" data="data2"></nvd3>
</div>
<div  class="analytics1">
<p style="text-align:center;font-size:16px;"> Certificate Generated %</p>
<nvd3 options="options3" data="data3"></nvd3>
</div>
<div class="analytics">
<p style="text-align:center;font-size:16px;"> Times viewed in last 12 months</p>
<nvd3 options='options4' data='data4'></nvd3>
</div>
<div  class="analytics1">
<p style="text-align:center;font-size:16px;"> Device </p>
<nvd3 options="options5" data="data5"></nvd3>
</div>
<div  class="analytics1">
<p style="text-align:center;font-size:16px;"> Gender</p>
<nvd3 options="options6" data="data6"></nvd3>
</div>
</div>
</div>