<!-- Added for manage users screen -->
  <div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
    <div ng-show="loading" class="loader loader-default is-active"></div>
    
    <div style="overflow: hidden;padding: 0 0 60px 0;">
  
    <div ng-controller="sidenavCtrl">
      <div ng-include="'sidenav.html'">
      </div>
    </div>
	<div ng-if="!online" align=center class="offline">
		<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
		</div>

    <div id="content" ng-style="second" style="background-color:{{decry.masterConfig.pagebgcolor}};">

<div style="width:95%;overflow:hidden;margin: 0 2.5%;">
 <div>
 <nav aria-label="breadcrumb" role="navigation" style="margin-left:0px;">
			  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
			     <li><a style="cursor: pointer;" >Content</a></li>
			    <li style="color:{{decry.masterConfig.lighttextcolor}};">Manage Categories</li>
			  </ol>
			</nav>
 <!-- <h3 style="margin: 35px 0 0 15px;color:#484848;font-size:14px;"><span style="color:#b2b2b2;">Settings ></span> Manage Categories</h3> -->
 </div>
<div class="container-fluid" style="padding:0;">

  		<div class="usersactivity" >
   				<input ng-model="globalSearchTermAuto"
                 type="text" 
                 class="searchuser" 
                 placeholder="Search Categories" 
                 name="searchName"
                 autocomplete="off"
                 style="background-image: url('lib/Images/searchicon.png');background-size: 20px;background-position-x: 5px;margin-top: -25px !important;" />
                 <button ng-disabled="!online" class="adduserbutton" ng-click="addcategory()"> Add Category </button>
         </div>
 
      <div style="margin: 20px 0 15px 0;padding: 4px;background-color: {{decry.masterConfig.divbgcolor}};">
     <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" align="center">
     <tr >
     <th style="padding: 0 !important;border: none !important;"></th>
     </tr>
       <tr ng-repeat="(index,category) in $data" >
           
			<!-- <td style="width:5%;color: #484848;padding: 8px 0 8px 10px !important;" ><img class="accesskeyimg" src="{{imgurl}}{{orgidlow}}-resources/images/category-images/{{row.id}}.png"/></td>
          	<td style="width:85%;padding: 15px 0 15px 10px !important;font-family: MyWebFont1;color: #101010;" >{{row.category}}</td>
          	<td style="width:5%;padding: 15px 0 15px  10px !important;font-family: MyWebFont1;" data-title="''"> <button style="padding: 4px 0;width:120px;border-radius: 4px;border: 1px solid grey;color:black;" ng-click="editcategory(row)"> Edit </button></td>
          	<td style="width:10%;padding: 15px 0 15px  10px !important;font-family: MyWebFont1;">  
          	<input type="image" src="lib/Images/edit.png" alt="Edit" ng-click="editcategory(row)"   style="border-bottom: none;border-top: none;width: 30px;">
          	<input type="image" src="lib/Images/deleteicon.png" alt="Delete" ng-click="deletewarn(row)"   style="border-bottom: none;border-top: none;border-left: none;width: 30px;height: 30px">
          	<input type="image" src="lib/Images/add.png" alt="Delete" ng-click="addsubcategory(row)"   style="border-bottom: none;border-top: none;border-left: none;width: 30px;height: 30px">

          	</td> -->
          <td style="padding: 0 !important;font-family: MyWebFont;">
          <div class="panel panel-default"
					is-open="category.open"
					style=" font-size: 14px; padding: 4px 5px; word-wrap: break-word;border-radius: 0px; 
					color:{{decry.masterConfig.darktextcolor}};margin-bottom: -1px;background-color: {{decry.masterConfig.divbgcolor}};">
					<div class="panel-heading" style="border-bottom: none;margin-bottom: -5px;background-color: {{decry.masterConfig.divbgcolor}} !important;">
						<div style="float: left; width: 130px;">
						
							<img src="{{imgurl}}{{orgidlow}}-resources/images/category-images/{{category.id}}.png"
								width="40px;background-color: burlywood;"
								style="height: 60px; margin-top: -9px; margin-left: -14px;width:120px;"></img>
								
						</div>
						<h4 class="panel-title">
							<div style="margin-right: 6px;float: right;margin: 10px;">
						
							<!-- <input type="image" src="lib/Images/edit.png" alt="Edit" ng-click="editcategory(category)"   style="border-left: none;border-bottom: none;border-top: none;width: 28px;float: left;"> -->
							<button  class="btn" ng-disabled="!online" alt="Delete" ng-click="editcategory(category)"
									style="float: left; font-size: 12px;margin: 0px 0px 0 0px;padding: 0px 10px 0 0px;max-width: 25px ;background-color: {{decry.masterConfig.divbgcolor}};border-radius: unset !important;
									border-right: 1px solid {{decry.masterConfig.mediumborderclr}};"
									 >
									<img src="lib/Images/edit.png" 
										 style="border-bottom: none;border-top: none;border-left: none;width: 14px !important;height: 14px !important;opacity: 0.9;"  /> 
										
								</button>
							<!-- <input type="image" src="lib/Images/deleteicon.png" alt="Delete" ng-click="deletewarn(category)"   style="border-bottom: none;border-top: none;border-left: none;width: 26px;height: 26px;opacity: 0.7;"> -->
							<button  class="btn" ng-disabled="!online" alt="Delete" ng-click="deletewarn(category)"
									style="float: left; font-size: 12px;margin: 0px 0px 0 0px;padding: 0px 23px 0 8px;max-width: 25px;background-color: {{decry.masterConfig.divbgcolor}};border-right: 1px solid {{decry.masterConfig.mediumborderclr}};border-radius: unset !important;"
									 >
									<img src="lib/Images/deleteicon.png" 
										 style="border-bottom: none;border-top: none;border-left: none;width: 14px !important;height: 14px !important;opacity: 0.7;"  /> 
										
								</button>
							
							<button  class="btn" ng-disabled="!online"
									style="float: right; font-size: 12px;margin: -2px 0px 0 0px;padding: 0 0 0 3px;max-width: 25px;background-color: {{decry.masterConfig.divbgcolor}};"
									data-toggle="collapse" href="#{{category.id}}"  ng-click="rotateImg = !rotateImg" >
									<img src="lib/Images/arrowdown.png" ng-class="{'rotate': rotateImg}"
										style="width: 28px; height: 26px;margin-left: -1px;opacity: 0.4;"  /> 
										
								</button>
							<!-- <input type="image" src="lib/Images/add.png" alt="Delete" ng-click="addsubcategory(qu)"   style="border-bottom: none;border-top: none;border-left: none;width: 30px;height: 30px"> -->	
							
							</div>
							<div style="margin: 0px 0px 0px -109px;text-align: left;width: 90%;font-size: 14px;word-wrap: break-word;color:{{decry.masterConfig.darktextcolor}};line-height: 17px;padding: 0px 105px;">
							
								{{category.category}} <span><br>
								
								<button data-toggle="collapse" href="#{{qu.id}}"  
										style="font-size: 11px; margin: 8px 0px 5px -8px; color: teal;border: none;
										background-color: {{decry.masterConfig.divbgcolor}};color:{{decry.masterConfig.divbgcolor}};">
										.</button></span>
							</div>


						</h4>
					</div>
					<div id="{{category.id}}" class="panel-collapse collapse" style="background-color: rgb(242, 242, 242) !important;padding-bottom: 10px;padding-top: 8px;">
							
						<div class="panel-body"
							style=" padding: 10px 66px 0 66px; font-size: 14px;"
							ng-repeat="(aind,an) in category.subcategories" is-open="an.open">
						 <div style="margin-right: 0px;float: right;">
							<!-- <input type="image" src="lib/Images/edit.png" alt="Edit" ng-click="addsubcategory(category,an)"   style="border-left: none;border-bottom: none;border-top: none;width: 28px;">
							<input type="image"  src="lib/Images/deleteicon.png" alt="Delete" ng-click="deleteScat(an,category.id)"   style="border-bottom: none;border-top: none;border-right: none;border-left: none;width: 26px;height: 26px;opacity: 0.7;">					
							 -->
						 <button  class="btn" ng-disabled="!online" alt="Delete" ng-click="editScategory(category,an,index,$index)"
									style="float: left; font-size: 12px;margin: 0px 0px 0 0px;padding: 0px 10px 0 0px;max-width: 25px ;background-color: unset;border-radius: unset !important;
									border-right: 1px solid {{decry.masterConfig.mediumborderclr}};"
									 >
									<img src="lib/Images/edit.png" 
										 style="border-bottom: none;border-top: none;border-left: none;width: 14px !important;height: 14px !important;opacity: 0.9;"  /> 
										
								</button>	
								<button  class="btn" ng-disabled="!online" alt="Delete" ng-click="deleteScat(an,category.id)"
									style="float: left; font-size: 12px;margin: 0px 0px 0 0px;padding: 0px 23px 0 8px;max-width: 25px;background-color: unset;border-radius: unset !important;"
									 >
									<img src="lib/Images/deleteicon.png" 
										 style="border-bottom: none;border-top: none;border-left: none;width: 14px !important;height: 14px !important;opacity: 0.7;"  /> 
										
								</button> 
								
								</div> 
							<div class="scaticon"  style="margin: 0px 79px;border-bottom: 1px solid {{decry.masterConfig.lightborderclr}};padding-bottom: 10px;text-align: left;width: 92%;">
								<p style="margin-left:30px;margin: 0 0 0 25px;">{{an.scat}}</p>
								
							</div>
							

						</div>
						<div class="panel-body"
							style=" padding: 10px 66px 0 66px; font-size: 14px;"
							>
						<div class="addobject1" style="width: 94%;margin-left: 83px;" align="center"> 
							      <div align="left"> 
									  <button ng-disabled="!online" style="border: none;" ng-click="addsubcategory(category,null,index)">
									<p style="font-size: 14px;margin:5px 0;color:{{decry.masterConfig.darktextcolor}};font-family: MyWebFont;"  >
									<img style="width: auto;height: 25px;border: none;cursor: pointer;margin: 0 15px;" src="lib/Images/add.png"> Add Sub Category</p>
								</button>
								</div>
								</div>
								</div>
					</div>
				</div>
          </td>
        </tr>
       <tr>
            <td ng-show="$data.length == 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="3">
				There is nothing here, yet
            </td>
        </tr>
      </table> 
  
      </div>
    
</div>
</div>
</div>

    </div>
    
    <div class="footer">
</div>
    
    </div>
    
    
    
    
    