<!-- Added for userreport screen -->
<style>
.nv-axis.nv-x .tick line {
        display:none;
    }
    .nv-axis.nv-y .tick line {
        display:none;
    }
  .tick line {
  opacity: 0;
  display: none;
}
</style>
  <div ng-controller="headerCtrl" class="headerbox">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview" >
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family: MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>

<div style="padding: 0 0 60px 0;overflow:hidden;background-color:{{decry.masterConfig.pagebgcolor}};">
<!--  -->
<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
  <p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
  </div>
<div id="content"   align=center ng-style="second">
<div align=center style="width:95%;overflow:hidden;margin: 0 2.5%;">
<div align=left>
<nav aria-label="breadcrumb" role="navigation" style="margin-bottom:5px;">
			  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
			     <li ><a style="cursor: pointer;" >Reports</a></li>
			    <li style="color:{{decry.masterConfig.lighttextcolor}};">Content Reports</li>
			  </ol>
			</nav>
</div>

<div align=center >


<div style="overflow:hidden;">
<div class="box1">
		<div align=center class="ubox2" style="border-radius: 8px 8px 0px 0px;">  <p class="uboxp1">TOTAL ACTIVE COURSES</p> </div>
		<div align=center class="ubox3"> <p class="uboxp2">{{total}}</p> </div>

</div>
<div class="box2" style="width: 66%;margin: 0 0% 20px 1.25%;">
		<div align=center class="dbox2" style="border-radius: 8px 8px 0px 0px;"> <p class="dboxp1">MOST POPULAR COURSES</p> </div>
		<div >
		    <nvd3 options="options" data="data" stacked="true"></nvd3>
		</div>
</div>

</div>

<div class="dashbox2" style="height: auto;">
  <div class="ausertopic"  style="background-color: {{decry.masterConfig.divbgcolor}};min-height: 49px;margin-top: 0px;">
          
    <div style="float: left;width: 360px;">
    <ul class="viewscrollheading" style="padding: 0; margin: 4px 0 0 5px;">
                <li class='{{ allcourses == true ? "viewlistactive" : "listinactive"}} '
                  style=" padding: 8px 6%"><a
                  ng-click="allcourses = true;allobjects = false;"
                  class='listinactive '>ALL COURSES</a></li>
                <li class='{{ allobjects == true ? "viewlistactive" : "listinactive"}} '
                  style=" padding: 8px 6%"><a
                  ng-click="allcourses = false;allobjects = true;"
                  class='listinactive '>ALL OBJECTS</a></li>
                
              </ul>	
        </div>		  
  </div>
<!-- <div ng-if="allcourses == true" style="background: {{decry.masterConfig.rptdivheaderclr}};height: 53px;border-radius: 8px 8px 0px 0px;">
<div style="float: left">
<p style="color: {{decry.masterConfig.rptdivheaderfontclr}};margin: 16px 25px" class="useract">ALL COURSES</p></div>
	<div  >
	</div>
</div> -->

<div ng-if="allcourses == true" class="ausertopic atopictable">
		
    <table ng-table="tableParams" show-filter="true" class="table head" align="center">
     <!--  <thead>
            <th  > </th>
           <th  style="text-align: left !important" > Name</th>
            <th ># Users Started</th>
            <th ># Users Completed</th>
        </thead> -->
         <tbody>   
        <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
       
         <td align=center style="width:10%;color:{{decry.masterConfig.darktextcolor}};text-align:left;padding: 8px 0 8px 10px !important;"
         ><img style="width: 90px;height: 45px;" src="{{imgurl}}{{orgidlow}}-resources/images/topic-images/{{row.TID}}.png"></td>
       
          <td align=center style="text-decoration: none;cursor: default;text-align:left;width:40%;padding: 0px 0 0px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};outline: none;" data-title="'Course Name'"  ng-click="topicdetail(row)"
          sortable="'TN'" filter="{ 'TN': 'text'}" >{{row.TN}}</td>
          
           <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'# Users Started'" 
           sortable="'SUBCOUNT'"  >{{row.SUBCOUNT}}</td>
           <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'# Users Completed'" 
           sortable="'COMPCOUNT'"  >{{row.COMPCOUNT }}</td>
          
           <td align=center style="width:50%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" 
           data-title="'Ratings'" sortable="'STAR.avg'" 
            ><div style="margin: 0px 0 0px 0px;text-align: left;" star-rating rating-value="row.STAR.avg" max="5" ng-click="viewrating(row.TID)"></div></td>
          
        </tr>
        <tr>
            <td ng-show="$data.length == 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="4">
              There is nothing here, yet
            </td>
        </tr>
        </tbody>
      </table>
   </div> 
   <!-- <div ng-if="allobjects === true" style="background: {{decry.masterConfig.rptdivheaderclr}};height: 53px;border-radius: 8px 8px 0px 0px;">
    <div style="float: left">
    <p style="color: {{decry.masterConfig.rptdivheaderfontclr}};margin: 16px 25px" class="useract">ALL OBJECTS</p></div>
      <div  >
      </div>
    </div> -->
    
    <div  ng-if="allobjects == true" class="ausertopic atopictable">
      <table ng-table="tableParams1" ng-focus="false" show-filter="true" class="table head" align="center" >

       <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'"  >
       <td align=center style="width:2%;color: {{decry.masterConfig.pagebgcolor}};text-align:center;padding: 8px 0 8px 10px !important;">
       <div class="ng-scope" ng-if="row.OD.OTYPE == 'video' || row.OD.OTYPE == 'vimeo' || row.OD.OTYPE == 'youtube'">
       <div class="videomark ng-scope"></div>
       </div> 
       <div class="ng-scope" ng-if="row.OD.OTYPE == 'pdf' || row.OD.OTYPE == 'html'">
       <div class="htmldrak cmngrey ng-scope"></div>
       </div>
       <div class="ng-scope" ng-if="row.OD.OTYPE == 'audio'">
       <div class="audiodark cmngrey ng-scope"></div>
       </div>
        <div class="ng-scope" ng-if="row.OD.OTYPE == 'interactivity'">
       <div class="interdrak cmngrey ng-scope"></div>
       </div>
        <div class="ng-scope" ng-if="row.OD.OTYPE == 'quiz'">
       <div class="quizdrak cmngrey ng-scope"></div>
       </div>
       </td>
        <td align=left style="width:30%;padding: 15px 0 15px 15px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" 
        data-title="'Title'" sortable="'OD.ON'" filter="{ 'OD.ON': 'text'}" >
        {{row.OD.ON}}
        </td>
       
        <td align=center style="width:15%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
        data-title="'# Users Subscribed'" sortable="'CSUBS'" >{{row.CSUBS}}</td>
        
        <td align=center style="width:15%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  
        data-title="'# Users Viewed'" sortable="'CTV'"  >{{row.CTV}}</td>
        
        <td align=center style="width:7%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  
        data-title="'Ratings'" sortable="'STAR'"><div style="margin: 0px 0 0px 0px;text-align: left;" star-rating rating-value="row.STAR" max="5" 
        ng-click="viewrating(row.OBJID)"></div></td>

     
      </tr>
      <tr>
          <td ng-show="$data.length == 0" style="color: {{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="6">
            There is nothing here, yet
          </td>
      </tr>
           
         </table> 
      </div>

</div>
<div style="height: 40px"></div>
</div>


</div>

</div>

</div>

<div class="footer">
<p style="font-family:MyWebFont1;color:#fff;float: left;line-height:20px ! important;font-size:13px; margin:21px 0 20px 50px;display: inline;">©</p>
<p style="font-family: MyWebFont1;color:#fff;float: left;line-height:20px ! important;font-size:12px; margin:20px 0 20px 3px;display: inline;">{{cright}} Enhanzed Education (P) Ltd.</p>

<a style="font-family: MyWebFont1;color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 50px 17.5px 0px;"> Privacy Policy </a>
<p style="font-family: MyWebFont1;color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 10px 17.5px 10px;"> | </p>
<a style="font-family: MyWebFont1;	color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;"> Terms & Conditions</a>
<p style="color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;" ng-if="version != undefined" > Version: {{version}} &nbsp Build: {{build}}&nbsp;&nbsp;&nbsp;</p>
</div>

</div>
<style>
.input-filter::placeholder   { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: #fff;
	  opacity: 1; /* Firefox */
	}
</style>
