<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
	<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<div ng-show="loading" class="loader loader-default is-active" ></div>
<div id="content" ng-style="second" style="background-color:{{decry.masterConfig.pagebgcolor}};">

<div class="container-fluid" style="padding: 0 30px 30px 30px;">
<nav aria-label="breadcrumb" role="navigation">
			  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
			     <li ><a style="cursor: pointer;" ng-click="loadPage()">Tenants</a></li>
			       <li><a style="cursor: pointer;" ng-click="viewtenant()">{{decry.tenant}}</a>
			      </li> 
			    <li style="color:{{decry.masterConfig.lighttextcolor}};">{{decry.caction == '0' || decry.caction == 0 ? 'COURSE':'CONTENT & COLLATERAL'}}</li>
			  </ol>
      </nav>
      <img src="lib/Images/export.png" alt="" style="position: absolute; height: 28px;
                          right: 35px; margin-top: -16px;" ng-click="exportcsv()">	
      <div style="background: {{decry.masterConfig.rptdivheaderclr}};width: 100%;border-radius: 8px 8px 0px 0px;padding: 15px;height:53px;margin: 15px 0px 0px 0;text-align: center;" align="left">
        <p style="color: {{decry.masterConfig.rptdivheaderfontclr}};margin: 0px;font-size: 16px;" class="useract">{{decry.ctn}}</p>
       
        </div>
        
      <div ng-show="decry.caction == '0'" style="margin: 0px 0 20px 0;padding: 0 4px 4px 4px;background-color:{{decry.masterConfig.divbgcolor}};">
        <table  ng-table="tableParams" show-filter="true" class="table head" align="center">
       <!-- <thead>
          <th style="border:none;float: left;margin-left: 32px;">User Name</th>
              <th style="border:none;">Start Date</th>
              <th style="border:none;">Completed Date</th>
             
       </thead>  -->
          <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
          
           <td  style="padding: 15px 0 15px 10px !important;font-family: MyWebFont;display: flex;align-items: center;color:{{decry.masterConfig.mediumtextcolor}};"
           data-title="'User Name'" sortable="'UNAME'">
           
         {{row.UNAME}}
            </td>
              <td align=center style="width:30%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
              data-title="'Start Date'" sortable="'sdate'" >{{row.sdate | date:'MM-dd-yyyy'}}</td>
              <td align=center style="width:30%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
              data-title="'Completed Date'" sortable="'cdate'" >{{row.cdate === ' ' ? ' ' : row.cdate | date:'MM-dd-yyyy'}}</td>
          </tr>
          <tr>
              <td ng-show="$data.length === 0 || json1 === null || json1 === 'null'" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color:{{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="6">
                There is nothing here, yet!
              </td>
          </tr>
        </table>
        </div>
    <div ng-show="decry.caction == '1'" style="margin: 0px 0 20px 0;padding: 0 4px 4px 4px;background-color:{{decry.masterConfig.divbgcolor}};">
          <table  ng-table="tableParams1" show-filter="true" class="table head" align="center">
        
            <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
            
             <td  style="padding: 15px 0 15px 10px !important;font-family: MyWebFont;display: flex;align-items: left;color:{{decry.masterConfig.mediumtextcolor}};"
             data-title="'User Name'" sortable="'UNAME'">
             
           {{row.UNAME}}
              </td>
                <td align=center style="width:30%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                data-title="'Viewed Date'" sortable="'sdate'" >{{row.sdate | date:'MM-dd-yyyy'}}</td>
                <td align=center style="width:30%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                data-title="'Duration'" sortable="'mins'">{{row.mins}} min {{row.secs}} sec</td>
            </tr>
            <tr>
                <td ng-show="$data.length === 0 || json1 === null || json1 === 'null'" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color:{{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="6">
                  There is nothing here, yet!
                </td>
            </tr>
          </table>
          </div>
</div>
</div>
<div class="footer">
</div>
</div>
   