<!-- Added for dashboard screen -->
<html>
  <div ng-controller="headerCtrl" class="headerbox">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family: MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>

<div style="padding: 0 0 60px 0;overflow:hidden;background-color:{{decry.masterConfig.pagebgcolor}};">
<!--  -->
<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>



<div id="content" align=center ng-style="second">

<div align=right style="width: 100%; padding-right: 32px;">
	<img src="lib/Images/export.png" alt="" style="position: relative; height: 28px;
right: 5px; margin-top: 0px;" ng-click="exportcsv('dash')">	
	<button class="btn btn-secondary dropdown-toggle" style="background-color: #fff !important;border: 1px solid grey; border-radius: 4px;margin: 10px 0 10px 0;" type="button" 
	id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click='gettenants()' >
	  {{selectedTenant}}
  </button>
		<!-- <div class="dropdown" style="width: 300px; margin: 10px;background-color: #fff !important;">
			<button class="btn btn-secondary dropdown-toggle" style="background-color: #fff !important;border: 1px solid grey; border-radius: 4px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{selectedTenant}}
			</button>
			<div class="dropdown-menu" style="height: 400px; overflow: scroll;" aria-labelledby="dropdownMenuButton">
				<input class="dropdown-item" type="text" ng-model="tenantssearch" placeholder="Search" ></input>
				<p class="dropdown-item" ng-repeat="x in tenants" ng-click="getTenantData(x)">{{x}}</p>
			</div>
		</div> -->
		</div>

<div align=center style="width:95%;overflow:hidden;margin: 0 2.5%;text-align:center;">
<!-- <div>
<h3 align=left style="margin: 35px 0 0 15px;color:#484848;font-size:20px;">Dashboard</h3>
</div> -->


<div align=center ng-if="user">
<!-- 
<div class="dashbox">
<img class="timg" src="lib/Images/tusers.png">
<p style="float:left;width: 50%;margin: 36px 0 0 0;color:#484848;font-size: 26px;">{{tusers}}</p>
<p style="float:left;width: 50%;margin: 8px 0 0 0;color:#606060;font-family: MyWebFont1;">Total Users</p>
</div>

<div class="dashbox1">
<img class="timg" src="lib/Images/ttopics.png">
<p style="float:left;width: 50%;margin: 36px 0 0 0;color:#484848;font-size: 26px">{{ttopics}}</p>
<p style="float:left;width: 50%;margin: 8px 0 0 0;color:#606060; font-family: MyWebFont1;">Total Topics</p>
</div>
 -->

<div style="overflow:hidden;">
<div class="dabox1">
	<div class="dubox1">
		<!-- <div align=center class="ubox2"><p class="uboxp1">TOTAL USERS </p></div> -->
		 <p class="duboxp2">{{tusers}}</p> <p style="color:{{decry.masterConfig.mediumtextcolor}};font-family: MyWebFont1;font-size: 15px;">Total Users </p> 
	</div>
	<!--  <div class="ubox4" >
		<div align=center class="ubox2"> <p class="uboxp1">ACTIVE TODAY</p> </div> 
		<div align=center class="ubox3"> <p class="uboxp2">{{ausers}}</p> <p class="">TOTAL USERS </p> </div>
	</div>-->
	<!-- <div style="width:48%;overflow:hidden;margin: 10px 0 10px 1%;float: left;">
		<div align=center style="height:75px;overflow:hidden;"> <p style="color:#606060;margin:0;border-bottom: 1px solid #606060;width: 90%;padding: 25px 0 3px 0;font-family: MyWebFont1;font-weight: bold;font-size: 18px;">Active Users</p> </div>
		<div align=center style="height:205px;overflow:hidden;"> 
				<div align=center style="border-bottom: 1px solid #606060;height:102.5px;overflow:hidden;"> <p style="color:#606060;margin:0;width: 90%;padding: 10px 0 15px 0;font-family: MyWebFont1;font-weight: bold;font-size: 16px;">This Week</p>
				<p style="color:#D3B0B0;width: 90%;padding: 00px 0 15px 0;font-family: MyWebFont1;font-weight: bold;font-size: 18px;">12</p>
				</div>
				<div align=center style="height:102.5px;overflow:hidden;"> <p style="color:#606060;margin:0;width: 90%;padding: 10px 0 15px 0;font-family: MyWebFont1;font-weight: bold;font-size: 16px;">Last 24 H</p>
				<p style="color:#D3B0B0;margin:0;width: 90%;padding: 00px 0 15px 0;font-family: MyWebFont1;font-weight: bold;font-size: 18px;">8</p>
				</div> 
		 </div>
	</div>-->
</div>

<div class="dabox2">
	<div class="dubox1">
		<p class="duboxp2">{{ttopics}}</p> <p style="color:{{decry.masterConfig.mediumtextcolor}};font-family:MyWebFont1;font-size: 15px;">Total Stories </p> 
	</div>
</div>

<div class="dabox3">
	<div class="dubox2">
		 <p class="duboxp1" style="color:{{decry.masterConfig.mediumtextcolor}};font-family: MyWebFont1;font-size: 18px;"> TODAY </p> 
	</div>
	<div class="dubox3">
		<p class="duboxp2">{{ausers}}</p> <p style="color:{{decry.masterConfig.mediumtextcolor}};font-family: MyWebFont1;font-size: 15px;">Active Users </p> 
	</div>
	<div class="dubox4">
		 <p class="duboxp2">{{analytics.tstarted}}</p> <p style="color:{{decry.masterConfig.mediumtextcolor}};font-family: MyWebFont1;font-size: 15px;">Stories Started </p>
	</div>
</div>
<!-- <div class="box2">
	<div class="dbox1">
		<div align=center class="dbox2"> <p class="dboxp1"> BY PLATFORM</p> </div>
		<div align=center class="dbox3"> <img src="lib/Images/ios.png" style="width:25px; height:auto;float: left;"> <p class="dboxp2" > IOS </p>  <p class="dboxp3"> {{ios}}% </p> </div>
		<div align=center class="dbox3"> <img src="lib/Images/Android.png" style="width:25px; height:auto;float: left;"> <p class="dboxp2"> Android </p>  <p class="dboxp3"> {{android}}% </p> </div>
		<div align=center class="dbox3"> <img src="lib/Images/web.png" style="width:25px; height:auto;float: left;"> <p class="dboxp2"> Web </p>  <p class="dboxp3"> {{desktop}}% </p> </div>
	</div>
</div> -->
<!--  <div class="box1" >
	<div class="dbox1">
		<div align=center class="gbox1"> <p class="gboxp1">BY GENDER</p> </div>
		<div align=center ng-style="chart" class="gbox2"> <nvd3 options="options6" data="data6"></nvd3> </div>
	
	</div>
</div> -->
</div>

<div ng-if="tactive" class="dashbox2">
		<div style="float: left;width: 300px;">
	<ul class="viewscrollheading" style="padding: 0; margin: 0px 0 0 -2px;">
				<li class='{{ tactive == true ? "viewlistactive" : "listinactive"}} '
					style=" padding: 8px 6%"><a
					ng-click="tactiveusere()"
					class='listinactive '>DAILY</a></li>
				<li class='{{ mactive == true ? "viewlistactive" : "listinactive"}} '
					style=" padding: 8px 6%"><a
					ng-click="mactiveusere()"
					class='listinactive '>MONTHLY</a></li>
				
				</ul>	
		</div>	
<div style="background: {{decry.masterConfig.divbgcolor}};width: 100%;border-radius: 8px 8px 0px 0px;padding: 20px;height:53px;" align="center">
<p style="color:{{decry.masterConfig.mediumtextcolor}};font-family: MyWebFont1;margin: 0px;font-size: 18px;" class="useract">USER ACTIVITY</p>
<div style="float: right;width: 500px;display: flex;">
                          
	<!-- <input id="datetimepicker1"  type="text" ng-model="dates1" placeholder="Start Date" ng-change="handler1();" onfocus="(this.type='date')" 
	style="overflow:hidden;  resize:none;width: 100%;margin: 10px 15px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" 
	onkeydown="return Allowtab(event)">
  <input id="datetimepicker2"  type="text"  ng-model="dates2" placeholder="End Date" ng-change="handler();"
style="overflow:hidden;  resize:none;width: 100%;margin: 10px 0px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" onfocus="(this.type='date')"  onkeydown="return Allowtab(event)"> -->
<md-datepicker ng-model="dates1" id="datetimepicker1" style="overflow:hidden;width: 50%;  resize:none;margin: 10px 15px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" ng-change="handler1(dates1);" md-max-date="maxDate" md-placeholder="Start Date" onkeydown="return Allowtab(event)"></md-datepicker>
<md-datepicker ng-model="dates2" id="datetimepicker2" style="overflow:hidden;width: 50%;  resize:none;margin: 10px 0px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" ng-change="handler(dates2);" md-max-date="maxDate" md-placeholder="End Date" onkeydown="return Allowtab(event)"></md-datepicker>		
</div>	
<img src="lib/Images/export.png" alt="" style="position: absolute; height: 28px;
right: 17px; margin-top: -41px;" ng-click="exportcsv('day')">	
</div>

<div class="analytics" style="padding-top: 20px">
<!-- <button ng-click="month = false;year = true;week = false" class="{{year == true ? 'bactive' : 'binactive'}}" style="margin:0 0 0 5px;float:right;font-family: MyWebFont1;"> Year </button>
<button ng-click="month = true;year = false;week = false" class="{{month == true ? 'bactive' : 'binactive'}}" style="margin:0 0 0 5px;float:right;font-family: MyWebFont1;"> Month </button>
<button ng-click="month = false;year = false;week = true" class="{{week == true ? 'bactive' : 'binactive'}}" style="float:right;font-family: MyWebFont1;"> Week </button> -->

<nvd3 ng-if="week" options='options1' data='data1'></nvd3>
<!-- <nvd3 ng-if="month" options='options2' data='data2'></nvd3>
<nvd3 ng-if="year" options='options3' data='data3'></nvd3> -->
</div>
</div>

<div ng-if="mactive" class="dashbox2">
		<div style="float: left;width: 300px;">
		<ul class="viewscrollheading" style="padding: 0; margin: 0px 0 0 -2px;">
			<li class='{{ tactive == true ? "viewlistactive" : "listinactive"}} '
				style=" padding: 8px 6%"><a
				ng-click="tactiveusere()"
				class='listinactive '>DAILY</a></li>
			<li class='{{ mactive == true ? "viewlistactive" : "listinactive"}} '
				style=" padding: 8px 6%"><a
				ng-click="mactiveusere()"
				class='listinactive '>MONTHLY</a></li>
			
			</ul>	
			</div>	
			
	<div style="background: {{decry.masterConfig.divbgcolor}};width: 100%;border-radius: 8px 8px 0px 0px;padding: 20px;height:53px;" align="center">
			<p style="text-align: center; color:{{decry.masterConfig.mediumtextcolor}};font-family: MyWebFont1;margin: 0px;font-size: 18px;" class="useract">MONTHLY USER ACTIVITY</p>
	<div style="float: right;width: 500px;display: flex;">
							  
		<!-- <input id="datetimepicker3"  type="text" ng-model="dates1" placeholder="Start Date" ng-change="mhandler();" onfocus="(this.type='date')" 
		style="overflow:hidden;  resize:none;width: 100%;margin: 10px 15px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" 
		onkeydown="return Allowtab(event)">
	  <input id="datetimepicker4"  type="text"  ng-model="dates2" placeholder="End Date" ng-change="mhandler();"
	style="overflow:hidden;  resize:none;width: 100%;margin: 10px 0px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" onfocus="(this.type='date')"  onkeydown="return Allowtab(event)"> -->
	<md-datepicker ng-model="mdates1" style="overflow:hidden;width: 50%;  resize:none;margin: 10px 15px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" ng-change="mhandler(mdates1);" md-max-date="maxDate" md-placeholder="Start Date" onkeydown="return Allowtab(event)"></md-datepicker>
	<md-datepicker ng-model="mdates2" style="overflow:hidden;width: 50%;  resize:none;margin: 10px 0px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" ng-change="mhandler1(mdates2);" md-max-date="maxDate" md-placeholder="End Date" onkeydown="return Allowtab(event)"></md-datepicker>			
</div>		
<img src="lib/Images/export.png" alt="" style="position: absolute; height: 28px;
right: 17px; margin-top: -41px;" ng-click="exportcsv('mon')">
	</div>
	
	<div class="analytics" style="padding-top: 20px">
	<!-- <button ng-click="month = false;year = true;week = false" class="{{year == true ? 'bactive' : 'binactive'}}" style="margin:0 0 0 5px;float:right;font-family: MyWebFont1;"> Year </button>
	<button ng-click="month = true;year = false;week = false" class="{{month == true ? 'bactive' : 'binactive'}}" style="margin:0 0 0 5px;float:right;font-family: MyWebFont1;"> Month </button>
	<button ng-click="month = false;year = false;week = true" class="{{week == true ? 'bactive' : 'binactive'}}" style="float:right;font-family: MyWebFont1;"> Week </button> -->
	
	<nvd3 ng-if="week" options='moptions1' data='mdata1'></nvd3>
	<!-- <nvd3 ng-if="month" options='options2' data='data2'></nvd3>
	<nvd3 ng-if="year" options='options3' data='data3'></nvd3> -->
	</div>
	</div>

</div>


</div>

</div>

</div>

<div class="footer">
</div>

</div>
<script>
	 function Allowtab(e)
    {
        if (e.keyCode == 9)
        {    
            return true;
        }
        else
        {
            return false;
        }
    }
// 	var input = document.getElementById("datetimepicker1");
// var input1 = document.getElementById("datetimepicker2");
// var today = new Date();
// var day = new String(today.getDate());
// // Set month to string to add leading 0
// var mon = new String(today.getMonth()+1); //January is 0!
// var yr = today.getFullYear();
//   if(mon.length < 2) { mon = "0" + mon; }
//   if(day.length < 2) { day = "0" + day; }
//   var date = new String( yr + '-' + mon + '-' + day );
  
// input.setAttribute('max', date);
// input.disabled = false; 
// input1.setAttribute('max', date);
// input1.disabled = false; 
</script>
<style>
	.md-datepicker-button
	{
	visibility: hidden;
	}
	.md-datepicker.md-default-theme, md-datepicker
	{
	background: unset;
	}
	.md-datepicker-input-mask 
	{
	width: 308px;
	}
	.md-datepicker-calendar 
	{
	width: 308px;
	}
	
	
	
	</style>
</html>
<!--  <div style="min-height:100vh;overflow:hidden;">
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div ng-show="loading" class="loader loader-default is-active"></div>


<div class="dashbox" style="margin-top:4.75%;">
<div ng-repeat="object in objects" align="center">
	<ul style="margin: 22px 0 0px 0;float: left;padding:0 0 0 25px;">
	<li style="margin: 0px 0 0 0%;float: left;list-style: none;">
	<section>
	<label><img class="dashimg" src="lib/Images/{{object.id}}.png" ng-click="action(object.id)"></label>
	</section>
	</li>
	</ul>
</div>

</div>
</div>





<div>
<div class="sidenav">
<img class="sidenavlogo" src="lib/Images/EnhanzED.png"> 

  <a href="" class="activemenu"><img class="sidenavimg" src="lib/Images/dash1.png"> Dashboard</a>
  <div class="ung">
  <p class="inactivemenu"><img class="sidenavimg" src="lib/Images/u&g0.png"> Users & Groups  <b class="hovercontent">></b></p>
  
  <div class="dropdown-content">
    <a href="" class="inactivemenu">Manage Users</a>
    <a href="" class="inactivemenu">Manage Groups</a>
  </div>
 
  </div>
  
  <a href="" class="inactivemenu"><img class="sidenavimg" src="lib/Images/cr0.png"> Content Repository</a>
  <a href="" class="inactivemenu"><img class="sidenavimg" src="lib/Images/a&p0.png"> Publish / Assign</a>
  <a href="" class="inactivemenu"><img class="sidenavimg" src="lib/Images/a&r0.png"> Analytics</a>
  <a href="" class="inactivemenu"><img class="sidenavimg" src="lib/Images/ue0.png"> Engagement</a>
  <a href="" class="inactivemenu"><img class="sidenavimg" src="lib/Images/ak0.png"> Access Keys</a>
  <a href="" class="inactivemenu" ><img class="sidenavimg" src="lib/Images/set0.png"> Settings</a>
  <a href="" ng-click="signout()" class="inactivemenu" style="border-bottom: 1px solid #d2d2d2;"><img class="sidenavimg" src="lib/Images/signout.png"> Sign Out</a>
  <div align=left style="position:absolute;bottom: 2%;">
  
  </div>
  
</div>
</div>
-->
