<div>
<div ng-show="loading" class="loader loader-default is-active" ></div>
<div class="addobjectmodal" style="overflow:hidden;">

<div class="modal-content">
<div class="modal-header" style="background-color:#393939;">
<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>
<h3 class="modaltitle1">Assign</h3>
</div>
<div class="modal-body" style="overflow:hidden ! important;background-color: {{decry.masterConfig.divbgcolor}} !important;">


<div align=center>

<div ng-if="select" style="margin:40px 0;">
<button  class="button1" style="width:180px;" ng-click="pickdate()"> Select a due date</button> <button  class="button1" style="width:180px;" ng-click="assign1()"> Due date not required</button>
</div>

<div ng-if="!select">
<p ng-if="error" style="position:fixed;font-size:12px;margin: -12px 0 0px 350px;font-family:MyWebFont1;color:red;">Please select a Due Date </p>
<md-content layout-padding="" layout-margin="" class="datepickerdemoMoment">
  <md-datepicker ng-model="myDate.date" md-min-date="minDate" md-placeholder="Select a date"></md-datepicker>
</md-content>

</div>



</div>



<div ng-if="!select" class="modal-footer" style="border: none !important;">
<div align=center>
<button class="button1" ng-click="assign()"> Assign </button>
<button class="button2" ng-click="close()"> Cancel </button>
</div>
</div>
</div>
</div>



</div>

</div>
