<div>
<div ng-show="loading" class="loader loader-default is-active" ></div>
<div class="addobjectmodal">

<div class="modal-content">
<!-- <div class="modal-header" style="background-color:#393939;">
<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>
<h3 class="modaltitle1">Edit Category</h3>
</div> -->
<div class="modal-body" style="overflow:hidden ! important;background-color:{{decry.masterConfig.divbgcolor}} !important;">
	<!-- <button style="float:right;height:28px;width:120px;background-color:#fff;border-radius:3px;border:1px solid;" ng-click="deletewarn()"> Delete </button> -->

	<div align=center class="textdiv" style="margin-top: 5px !important;padding: 0px 40px;">
    <p ng-if="error && online" style="position:fixed;font-size:12px;margin: -10px 0 0px 0px;font-family:MyWebFont1;color:red;">Topic name cannot be empty </p>
    <p ng-if="error1 || !online" style="position:fixed;font-size:12px;margin: -10px 0 0px 0px;font-family:MyWebFont1;color:red;">Please check your internet connection!</p>
	<p class="texttitle" style="width: auto;">Topic Name </p>
	<input  name="cname" maxlength="50" ng-model="cname"  onkeypress="return alpha(event)" style="overflow:hidden; resize:none;"></input>
	</div>
	<div align=center style="padding: 0px 40px;">
	
	<img ngf-src="oldedittopicfile" style="width:100%;height:auto;margin-top: 10px">
   
    <div align=center  class="bottomright" style="cursor:pointer;border-radius: 50%;width:30px;margin: -35px 30px;cursor: pointer;background-color: {{decry.masterConfig.appcolor}};" 
	 ng-model="edittopicfile" name="edittopicfile" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-select="catimageupload(edittopicfile)">
            <form name="form">
            <img src="lib/Images/addimg.png" alt="Image" style="width:20px;height:auto;margin: 5px 0 7px 0px;">
 
        </form>
    </div>
    <p ng-if="edittopicfile" style="font-size:12px;margin: 0px 0 -10px 0;font-family:MyWebFont1;color:red;">Change in image would take 3 - 5 mins to reflect in Dashboard and in Enhanzed App </p>
	</div>



<div class="modal-footer" style="border: none !important;">
<div align=right style="padding: 0px 14px;">
<button class="{{edit == true ? 'button2' : 'button1'}}" ng-disabled="edit || !online" ng-click="editcategory()"> Save </button>
<button class="button2" ng-click="close()"> Cancel </button>
</div>
</div>
</div>
</div>



</div>

</div>

<script>
function alpha(event)
{
    
    if((event.charCode >= 33 && event.charCode <= 47) || (event.charCode >= 58 && event.charCode <= 64 ) || (event.charCode >= 91 && event.charCode <= 96 )
            || (event.charCode >= 123 && event.charCode <= 126 ))
        {
        return false;
        }
    else
        {
        return true;
        }
    }
</script>
