<div>
<div ng-show="loading" class="loader loader-default is-active" ></div>
<div class="addobjectmodal">

<div class="modal-content">

<div class="modal-body" style="overflow:hidden ! important;background-color:{{decry.masterConfig.divbgcolor}} !important;">
	

    <div align=center class="textdiv" style="margin-top: 5px !important;padding: 0px 40px;">
        <p ng-if="error && online" style="position:fixed;font-size:12px;margin: -10px 0 0px 0px;font-family:MyWebFont1;color:red;">Sub category name cannot be empty </p>
	<p ng-if="error1 || !online" style="position:fixed;font-size:12px;margin: -10px 0 0px 0px;font-family:MyWebFont1;color:red;">Please check your internet connection!</p>
	<p class="texttitle" style="width: auto;">Sub category Name </p>
	<input  name="cname" maxlength="50" ng-model="cname"  onkeypress="return alpha(event)" style="overflow:hidden; resize:none;"></input>
	</div>

<div class="modal-footer" style="border: none !important;">
<div align=right style="padding: 0px 14px;">
<button class="{{edit == true ? 'button2' : 'button1'}}" ng-disabled="edit || !online" ng-click="editsubcategory()"> Submit </button>
<button class="button2" ng-click="close()"> Cancel </button>
</div>
</div>
</div>
</div>



</div>

</div>

<script>
function alpha(event)
{
    
    if((event.charCode >= 33 && event.charCode <= 47) || (event.charCode >= 58 && event.charCode <= 64 ) || (event.charCode >= 91 && event.charCode <= 96 )
            || (event.charCode >= 123 && event.charCode <= 126 ))
        {
        return false;
        }
    else
        {
        return true;
        }
    }
</script>
