<!-- Added for manage users screen -->
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
<div ng-show="loading" class="loader loader-default is-active"></div>

<div style="overflow: hidden;padding: 0 0 60px 0;">

<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
  <p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
  </div>
<div id="content" ng-style="second" style="background-color: {{decry.masterConfig.pagebgcolor}};">

<div style="width:95%;overflow:hidden;margin: 0px 2.5% 0px 2.5%;">
 <div>
 	<nav aria-label="breadcrumb" role="navigation" style="margin-left:0px;">
			  <ol class="breadcrumb" style="background-color:{{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
			     <li ><p style="cursor: pointer;font-size: 14px;" >Engage</p></li>
			  </ol>
			</nav>
			<!--  <h3 style="margin: 35px 0 0 15px;color: #606060;font-size: 14px"><span style="color:#b2b2b2;">Users & Groups ></span> Manage Groups</h3>-->
 </div>
<div class="container-fluid" style="padding:0;">
  
  		<div class="usersactivity">
   				<input ng-model="globalSearchTermAuto"
                 type="text" 
                 class="searchuser" 
                 placeholder="Search Tenants" 
                 name="searchName"
                 autocomplete="off"
                 style="background-image: url('lib/Images/searchicon.png');background-size: 20px;background-position-x: 5px;margin-top: -25px !important;" />
                 <!-- <button ng-disabled="!online" class="adduserbutton" ng-click="addgroup()"> Create Group </button> -->
                 <button ng-disabled="!online" ng-if="multigroups" class="adduserbutton" ng-click="viewmail()"> Send </button>
        
                </div>

    
         <div style="margin: 20px 0 15px 0;padding: 4px;background-color: {{decry.masterConfig.divbgcolor}};">

        <table  ng-table="tableParams" show-filter="true" class="table head" align="center">
            <th style="padding: 0 !important;border: none !important;"></th>
               <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
               <td  style="width:5%;padding: 15px 0 15px 15px !important;font-family: MyWebFont;align-items: center;">
                <input class="clinkDisabled === 0"
                 ng-disabled="!online" ng-click="sendmail(row)" type="checkbox" name="" value="" ng-checked="row.checked">
              </td>
                <td  style="padding: 15px 0 15px 15px !important;font-family: MyWebFont;display: flex;align-items: center;">
               
                  <div>
                   <a ng-click="viewtenant(row.OID)" ng-class="!online ? 'isDisabled': ''" style="color: {{decry.masterConfig.mediumtextcolor}};cursor:pointer;">{{row.OID}}</a>
                </div></td>

               </tr>
               <tr>
                   <td ng-show="$data.length == 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color:{{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="6">
                    There is nothing here, yet
                   </td>
               </tr>
             </table>
   
 </div>
 
</div>
</div>
</div>

</div>

<div class="footer">
</div>

</div>

