<div ng-show="loading" class="loader loader-default is-active"></div>
<div class="modal-content" style="overflow:hidden;background-color: transparent ! important;">
 
<div class="bottom" 
style="border-radius: 4px;z-index: 99;display: block;height: 400px;overflow: auto;overflow:hidden;background-color:#fff;" 
ng-show=" SelectedEvent.length != undefined">
		
		
		<button type="button" style="margin: 4px 8px 0 0;color:#fff; opacity: 1;font-weight: 100;" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>
	
    <h3  class="popover-title" style="background-color: {{decry.masterConfig.appcolor}};color:white;padding: 16px;height: 50px;" > {{SelectedEvent[0].start | date : "MM-dd-y"}}</h3>
   
 <div  style="overflow: auto;height: 368px;">
  <table  ng-table="tableParams" show-filter="true" class="table head" align="center">
    <thead>
       <!-- <th style="border:none;float: left;margin-left: 32px;">Group</th> -->
           <th style="border:none;">Type</th>
           <th style="border:none;float: left;">Title</th>
           <th style="border:none;text-align: left !important;">Description</th>
           <th></th>
          
    </thead> 
       <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
        <!-- <td style="width:15%;padding: 15px 0 15px 10px !important;font-family: MyWebFont1;color:{{decry.masterConfig.mediumtextcolor}};">
         {{row.gid !== '1' ? row.gname : '' }}
       </td> -->
        <td  style="text-align: center;width:10%;padding: 15px 0 15px 10px !important;font-family: MyWebFont1;color:{{decry.masterConfig.mediumtextcolor}}">
          {{row.link !== undefined ? 'Webinar' : 'Event'}}
         </td>
         <td style="width:15%;padding: 15px 0 15px 10px !important;font-family: MyWebFont1;color:{{decry.masterConfig.mediumtextcolor}};word-break: break-word;">
          {{row.title}}
        </td>  
         <td style="width:30%;padding: 15px 0 15px 10px !important;font-family: MyWebFont1;color:{{decry.masterConfig.mediumtextcolor}};word-break: break-word;">
         
          {{row.desc}}
          <a ng-if="row.link !== undefined" style="float:left;color: #337ab7 !important;text-align: justify;font-family: MyWebFont1;text-align: left;word-break: break-word;padding: 4px 0;margin: 0;width: 100%;" href="{{row.link}}" target="_blank" >  {{row.link}}</a>
        </td>
        <td style="text-align: right;width:10%;padding: 15px 0 15px 10px !important;font-family: MyWebFont1;color:{{decry.masterConfig.mediumtextcolor}};">
          <button  class="btn" ng-disabled="!online" alt="Delete" ng-click="deleteEvent(row)"
          style="float: left; font-size: 12px;margin: 0px 0px 0 0px;padding: 0px 23px 0 8px;max-width: 25px;background-color: transparent;border-radius: unset !important;"
           >
          <img src="lib/Images/deleteicon.png" 
             style="border-bottom: none;border-top: none;border-left: none;width: 14px !important;height: 14px !important;opacity: 0.7;"  /> 
            
        </button>
        </td>
       
       </tr>
       <tr>
           <td ng-show="$data.length == 0 " style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color:{{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="6">
            There is nothing here, yet
           </td>
       </tr>
     </table>
    </div>
		</div>
    </div>
</div>
