


<div>
<div ng-show="loading" class="loader loader-default is-active"></div>
<div class="addobjectmodal">

<div class="modal-content">

<div class="modal-body" style="overflow:hidden ! important;background-color:{{decry.masterConfig.divbgcolor}} !important;padding: 5px 15px 15px 15px;">

<button type="button" class="close" style="color: black ! important;font-family: MyWebFont1;font-weight:unset;font-size: 31px;" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>

<div align=center style="overflow:hidden;background-color:{{decry.masterConfig.divbgcolor}} !important;padding: 37px 0px 0px 0px;">
<!-- <img src="lib/Images/EnhanzED.png" class="modallogo1"> -->

<div style="margin: -10px 0 -15px 0;">
<p class="modaltitle" style="margin: 0px 0 6px 0px;font-size: 21px;font-weight: normal;">Forgot Password?</p>
<h4 style="font-size: 13px;color: {{decry.masterConfig.lighttextcolor}};margin: 0px 0 38px 0px;font-family: MyWebFont1;">Please enter your email address</h4>
<div align=left>
<p ng-if="ferror" style="position:fixed;font-size:11px;margin: -14px 0 0px 85px;font-family:MyWebFont1;color:red;">Please enter valid email id</p>
</div>
<div align=left>
<p ng-if="ferror1 == 1" style="position:fixed;font-size:11px;margin: -14px 0 0px 85px;font-family:MyWebFont1;color:red;">Password reset attempt limit exceeded, please try after some time.</p>
</div>
<div align=left>
<p ng-if="ferror1 == 2" style="position:fixed;font-size:11px;margin: -14px 0 0px 85px;font-family:MyWebFont1;color:red;">Invalid user email id!</p>
</div>
<div align=left>
<p ng-if="ferror1 == 3" style="position:fixed;font-size:11px;margin: -14px 0 0px 85px;font-family:MyWebFont1;color:red;">Invalid verification code provided, please try again.</p>
</div>
<div align=left>
<p ng-if="ferror1 == 4" style="position:fixed;font-size:11px;margin: -14px 0 0px 85px;font-family:MyWebFont1;color:red;">Please check your internet connection!</p>
</div>
<input style="background-image: url('lib/Images/nmail.png');margin-bottom: 35px;" class="loginmail1" type="email" ng-model="femail" placeholder="Email">
</div>

<div style="margin-bottom: 20px;">
<button class="submit" style="margin-right: -10px;" type="button" ng-click="next()">Next</button>
</div>

</div>

</div>
</div>



</div>

</div>
