<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview" >

<div style="padding: 0 0 60px 0;overflow:hidden;background-color:#ededed;">

<div ng-show="loading" class="loader loader-default is-active"></div>

<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>

<div id="content" ng-style="second">
<div>
<!-- <h3 style="margin: 26px 0 0 43.5px;color: #606060;font-size: 14px;">Access Keys</h3> -->
</div>
 <div align=center>
 <h3 style="margin: 200px 0 0 43.5px;color:#484848;font-size:16px;">This feature has not been enabled.</h3>
 </div>
</div>

</div>

<div class="footer">
<p style="font-family:MyWebFont1;color:#fff;float: left;line-height:20px ! important;font-size:13px; margin:21px 0 20px 50px;display: inline;">©</p>
<p style="font-family: MyWebFont1;color:#fff;float: left;line-height:20px ! important;font-size:12px; margin:20px 0 20px 3px;display: inline;">2019 Enhanzed Education (P) Ltd.</p>
<a style="font-family: MyWebFont1;color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 50px 17.5px 0px;"> Privacy Policy </a>
<p style="font-family: MyWebFont1;color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 10px 17.5px 10px;"> | </p>
<a style="font-family: MyWebFont1;	color:#fff;float: right;line-height:25px ! important;font-size:12px; margin:17.5px 0px 17.5px 0px;"> Terms & Conditions</a>
</div>

</div>