<!-- Added for manage group users screen -->
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
<div ng-show="loading" class="loader loader-default is-active"></div>

<div style="overflow: hidden;padding: 0 0 60px 0;">

<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
  <p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
  </div>
<div id="content" ng-style="second" style="background-color: {{decry.masterConfig.pagebgcolor}};">

<div style="width:95%;overflow:hidden;margin: 0 2.5%;">
 <!-- <div><h3 style="margin: 35px 0 0 15px;color:#606060;font-size:14px;"> <img src="lib/Images/Back.png" ng-click="back()" style="width:23px;margin-top:-3px;cursor:pointer;"> {{gname}}</h3>
 </div> -->
  <div>
  <nav aria-label="breadcrumb" role="navigation" style="margin-left:0px;">
			  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
			     <li ><a style="cursor: pointer;" >Users & Groups</a></li>
			     <li ><a style="cursor: pointer;" href="#managegroups" ng-click="loadPage()">Manage Groups</a></li>
			    <li style="color:{{decry.masterConfig.lighttextcolor}};"> {{gname}}</li>
			  </ol>
			</nav>
<!-- <h3 style="margin: 35px 0 0 15px;color: #606060;font-size: 14px"><span style="color:#b2b2b2;">Users & Groups > <a href="#managegroups"> Manage Groups</a> > </span>  {{gname}}</h3> -->
 </div>

<div class="container-fluid" style="padding:0;">

  		<div ng-show="delgroup == false" class="usersactivity">
   				<!-- <input ng-model="globalSearchTermAuto"
                 type="text" 
                 class="searchuser pos" 
                 placeholder="Search Users" 
                 name="searchName"
                 style="background-image: url('lib/Images/searchicon.png');background-size: 20px;background-position-x: 5px;margin-top: -25px !important;" /> -->
                 <button ng-if="gname != 'Default Group'" ng-disabled="!online" class="button1" style="float: right;margin-top: -25px;margin-right: 10 px;" ng-click="adduser()"> Add </button>
         		
         </div>
 	<div ng-if="delgroup == true" class="usersactivity">
                 
                 <button ng-if="gname != 'Default Group' && delgroup === true" ng-disabled="!online" class="addsavebutton1" ng-click="deletegroup()"> Delete Group </button>
                 <button ng-if="gname != 'Default Group'" ng-disabled="!online" class="button1" style="float: right;margin-top: -25px;" ng-click="adduser()"> Add </button>
         		
         </div>
      <div style="margin: 20px 0 20px 0;padding:4px;background-color:{{decry.masterConfig.divbgcolor}};">
      <table ng-table="tableParams" show-filter="true" class="table head" align="center" ng-show="users.length != 0">
      <!--   <thead>
        <th style="border:none;float: left;margin-left: 32px;">Name</th>
            <th style="border:none;">Email</th>
            <th style="border:none;">Last Active</th>
            <th style="border:none;">Status</th>
            <th style="border:none;"></th>
     </thead> -->
        <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
       
          <!-- <td  style="width:25%;padding: 15px 0 15px 10px !important;color:#101010;" data-title="'Name'" ><img src="lib/Images/pic.png" class="profilepic">{{row.UNAME}}</td> -->
         <td  style="padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};display: flex;flex-wrap: nowrap;align-items: center;"
         data-title="'Name'" sortable="'UNAME'" filter="{ 'UNAME': 'text'}">
         <div style="float: left;margin-left: -20px;margin-right: -8px;"><img ng-if="$odd" src="lib/Images/pic1.png"   class="profilepic">
          <img ng-if="$even" src="lib/Images/pic.png"  class="profilepic"></div>{{row.UNAME}}</td>
          <td align=center style="width:30%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'Email'" 
          data-title="'Email'" sortable="'EMAILID'" filter="{ 'EMAILID': 'text' }" >{{row.EMAILID}}</td>
         
          <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'Last Active'"
          data-title="'Last Active'" sortable="'LA'" >{{row.LA | moment: 'fromNow'}}</td>
          
          <td align=center style="width:15%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'Status'" 
          data-title="'Status'" sortable="'US'" > <div class="tcircle{{row.US == '1' ? '1' : '0'}}" style="display:inline-block;"></div> {{row.US == '1' ? 'Active' : 'Disabled'}}</td>
         
          <td align=center ng-if="gname != 'Default Group'" style="width:10%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" >
          <button class="button2" style="padding: 4px 0;width: 130px;margin-left: 15px;margin-top: 6px;border-radius: 4px;background-color: transparent;" 
          ng-click="removeuserConf(row)" ng-disabled="!online">Remove</button></td>
        </tr>
         <tr>
            <td ng-show="$data.length === 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="5">
              There is nothing here, yet
            </td>
        </tr>
      </table>
        <div ng-show="users.length === 0 || users.length === undefined" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="5">
          There is nothing here, yet
            </div>
      </div>
   
</div>
</div>
</div>
</div>

<div class="footer">
</div>

</div>
<style>
.input-filter::placeholder   { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: #fff;
	  opacity: 1; /* Firefox */
	}
</style>

