<style>
.md-datepicker-button
{
visibility: hidden;
}
.md-datepicker.md-default-theme, md-datepicker
{
background: unset;
}
.md-datepicker-input-mask 
{
width: 308px;
}
.md-datepicker-calendar 
{
width: 308px;
}



</style>
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
  <p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
  </div>
<div ng-show="loading" class="loader loader-default is-active" ></div>
<div id="content" ng-style="second" style="background-color: {{decry.masterConfig.pagebgcolor}};">

<!-- <div class="addobjectmodal" style="overflow:hidden;"> -->

<!-- <div class="modal-content" style=""> -->
<!-- <div class="modal-header" style="background-color:#393939;">
<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close" style="text-shadow:none;font-family: MyWebFont1;font-weight:lighter;font-size: 26px;"><span >&times;</span></button>
<h3 class="modaltitle1">Assign Content > {{gname}}</h3>
</div> -->
<!-- <div class="modal-body" style="overflow:hidden ! important;background-color:white !important;"> -->


<!-- <div style="padding: 0 0 60px 0;overflow:hidden;background-color:#ededed;"> -->



<!-- <div style="width:95%;overflow:hidden;margin: 0 2.5%;"> -->

<div class="container-fluid" style="padding: 0px 35px 45px 25px;">
<nav aria-label="breadcrumb" role="navigation" >
  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
     <li ><a style="cursor: pointer;" >Assign</a></li>
      <li ><a style="cursor: pointer;" href="#assigngroups" ng-click="loading = true">To Groups</a></li>
    <li style="color:{{decry.masterConfig.lighttextcolor}};">{{gname}}</li>
  </ol>
</nav>
<!-- <h3 style="margin:30px 0px 37px 15px; color: #606060; font-size: 14px; font-family: MyWebFont1;"> <span style="color: #b2b2b2;">Assign ></span> <a href="#assigngroups" ng-click="loading = true"> To Groups </a> > {{gname}}	 </h3> -->
<div class="ausertopic"  style="background-color:{{decry.masterConfig.divbgcolor}};margin-top: 10px;">
<!-- <button ng-click="alltopics = true;assigntopics = false;" style="font-family: 'MyWebFont1';" class="{{alltopics == true ? 'auserbactive' : 'auserbinactive'}}" > UNASSIGNED TOPICS </button>
<button ng-click="alltopics = false;assigntopics = true;" style="font-family: 'MyWebFont1';" class="{{assigntopics == true ? 'auserbactive' : 'auserbinactive'}}" > ASSIGNED TOPICS </button> -->
<div style="float: left;width: 380px;">
<ul class="viewscrollheading" style="padding: 0; margin: 4px 0 0 4px;justify-content: center;">
						<li class='{{ alltopics == true ? "viewlistactive" : "listinactive"}} '
							style=" padding: 8px 20px"><a
							ng-click="alltopics = true;assigntopics = false;"
							class='listinactive '>UNASSIGNED COURSES</a></li>
						<li class='{{ assigntopics == true ? "viewlistactive" : "listinactive"}} '
							style=" padding: 8px 20px"><a
							ng-click="alltopics = false;assigntopics = true;"
							class='listinactive '>ASSIGNED COURSES</a></li>
						
					</ul>	
		</div>			

<div class="usersactivity" ng-show="alltopics == true">
   				<input ng-model="globalSearchTermAuto"
                 type="text" 
                 class="searchuser searchuser1" 
                 placeholder="Search Courses" 
                 name="searchName"
                 autocomplete="off"
                 style="background-image: url('lib/Images/searchicon.png');margin-right: 12px !important;" />         		
         </div>
          <div class="usersactivity" ng-show="assigntopics == true">
   				<input ng-model="globalSearchTermAuto1"
                 type="text" 
                 class="searchuser searchuser1" 
                 placeholder="Search Courses" 
                 name="searchName"
                 autocomplete="off"
                 style="background-image: url('lib/Images/searchicon.png');margin-right: 12px !important;"
                  />     
                
         </div>
</div>

     <div  ng-if="alltopics == true" class="ausertopic atopictable">
      <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" align="center">
       <thead>
        <th style="border:none;padding: 0px 0 5px 0px !important;"></th>
           
            <th style="border:none;padding: 0px 0 5px 0px !important;"></th>
            
      </thead>
        <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
       
          <td style="width:10%;padding: 8px 0 8px 10px !important;font-family: MyWebFont;text-align: left;color:{{decry.masterConfig.mediumtextcolor}};" class="atopictd1" >
          <img class="accesskeyimg" src="{{imgurl}}{{orgidlow}}-resources/images/topic-images/{{row.tid}}.png"></td>
         
          <td style="width:50%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  class="atopictd2"   >{{row.ttitle}}</td>
         
         <td style="width:40%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" >
         <md-datepicker ng-model="row.date" md-min-date="minDate" md-placeholder="No due Date" onkeydown="return Allowtab(event)"></md-datepicker>
         <button class="addsavebutton1" ng-disabled="!online" style="padding: 4px 0;margin-left: 15px;margin-top: 10px;font-family: MyWebFont;background-color: transparent;" ng-click="assign(row,$index)"> Assign </button></td>
      </tr>
       <tr>
            <td ng-show="$data.length == 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="3">
              There is nothing here, yet
            </td>
        </tr>
      </table>
      </div>
      
     <!--   <p style="margin:20px 0 0 0;width:200px;">Assigned Topics</p>    -->
    
         
  <div  ng-if="assigntopics == true" class="ausertopic atopictable">
      <table ng-table="tableParams1" ng-focus="false" class="table table-condensed table-bordered table-striped" align="center" >
      <thead>
        <th style="border:none;padding: 0px 0 5px 0px !important;"></th>
           
            <th style="border:none;padding: 0px 0 5px 0px !important;"></th>
            
      </thead>
        <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
       
         <td style="width:10%;padding: 8px 0 8px 10px !important;font-family: MyWebFont;text-align: left;color:{{decry.masterConfig.mediumtextcolor}};" class="atopictd1" ><img class="accesskeyimg" src="{{imgurl}}{{orgidlow}}-resources/images/topic-images/{{row.tid}}.png"></td> 
      <!--     <td align=center style="width:10%;color: #767676;text-align:center;padding: 8px 0 8px 10px !important;"><img class="accesskeyimg" src="{{imgurl}}{{orgidlow}}-resources/images/topic-images/{{row.tid}}.png">
         </td> -->
         
          <td style="width:55%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" class="atopictd2"  >{{row.ttitle}}</td>
       
          <td style="width:35%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" >
          <button class="addsavebutton1" ng-disabled="!online" style="padding: 4px 0;margin-left: 15px;margin-top: 10px;font-family: MyWebFont;background-color: transparent;" ng-click="unassign(row)"> Unassign </button></td>
       </tr>
        <tr>
            <td ng-show="$data.length == 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="3">
              There is nothing here, yet
            </td>
        </tr>
      </table>
      </div>
      
      
</div>
<!-- </div> -->

<!-- </div> -->


<!-- </div> -->
<!-- </div> -->



<!-- </div> -->

</div>
<div class="footer">
</div>
</div>
<script>
function Allowtab(e)
{
    if (e.keyCode == 9)
    {    
        return true;
    }
    else
    {
        return false;
    }
}
</script>

