<!-- Added for manage users screen -->
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
<div ng-show="loading" class="loader loader-default is-active"></div>

<div style="overflow: hidden;padding: 0 0 60px 0;">

<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>

	<div ng-if="!online" align=center class="offline">
		<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
    </div>
<div id="content" ng-style="second">

<div style="width:95%;overflow:hidden;margin: 0px 2.5% 0px 2.5%;">
 <div>
 <nav aria-label="breadcrumb" role="navigation">
			  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
			     <li ><a style="cursor: pointer;" >Reports</a></li>
			    <li style="color:{{decry.masterConfig.lighttextcolor}};">Group Reports</li>
			  </ol>
			</nav>
 <!-- <h3 style="margin: 35px 0 0 15px;color: #606060;font-size: 14px"><span style="color:#b2b2b2;">Users & Groups ></span> Manage Groups</h3> -->
 </div>
<div class="container-fluid" style="padding:0;">
  
  		<div class="usersactivity">
   				<input ng-model="filterText"
                 type="text" 
                 class="searchuser" 
                 placeholder="Search Groups" 
                 name="searchName"
                 autocomplete="off"
                 style="background-image: url('lib/Images/searchicon.png');background-size: 20px;background-position-x: 5px;margin-top: -25px !important;margin-bottom: 10px !important;" />
               
         		
         </div>

    
    <div align=center style="margin:0px 5% 0 5%;width:90%;overflow:hidden;" class="groupcard">

 	<div align=center ng-repeat="group in filterData = (groups | filter : {GNAME: filterText}) | limitTo:limit:limit*(currentPage-1)">
 	<button  ng-disabled="!online" ng-click="viewgroup(group)"  class="mgroup">
 	<div class="mgname"><p class="mgpara">{{group.GNAME}}</p></div>
 	<div align=center >
 	<div class="mgusers">
 	<img src="lib/Images/group.png" class="mgimg">
 	<p class="mgpara1">{{group.UC}} Users</p>
 	</div>
 	</div>
 	</button>
 	</div>
 	
 </div>
 <div align="center" ng-show="filterData.length!=0" ><uib-pagination class="paginationul"  ng-model="currentPage" ng-change="pageChanged()" total-items="filterData.length" max-size="maxSize" boundary-links="true" items-per-page={{limit}}></uib-pagination>
 	</div>
 	<div align="center" ng-show="filterData.length==0" style="color: {{decry.masterConfig.darktextcolor}};font-size: 18px;margin-top: 20px !important;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;border: 1px solid {{decry.masterConfig.mediumborderclr}};border-radius: 2px;">No Data
 	</div>
</div>
</div>

</div>

</div>

<div class="footer">
</div>

</div>


