<div>
<header class="enheader">

<img ng-if="lscreen" ng-click="funhome()" style="width: 125px;margin: 18.5px 20.5px;" src="{{orgimg}}" > 
<img ng-if="sscreen" ng-click="funhome()" style="width: 45px;margin: 8.5px 13.5px" src="{{orgimgs}}">
 <div style="float:right;">
 <div class="dropdown" >
<button   ng-class="decry.htype === 0 ? 'dropdownMenuButton-dark':'dropdownMenuButton-light'" ng-disabled="!online" data-toggle="dropdown" >{{username}} 
  <img alt="" ng-if="decry.htype === 0" src="lib/Images/pic1.png" class="headerimg" >
  <img alt="" ng-if="decry.htype === 1" src="lib/Images/pic.png" class="headerimg" >
</button>

<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="border: none;border-radius: 0px;margin-top: 8px !important;">

    <a class="dropdown-item" ng-class="!online ? 'isDisabled': ''" style="text-decoration: none" ng-click="signout()">Signout</a>
  </div>
  </div>
  </div>
</header>
</div>
<div ng-show="loading" class="loader loader-default is-active"></div>