<!-- Added for manage users screen -->
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
<div ng-show="loading" class="loader loader-default is-active"></div>

<div style="overflow: hidden;padding: 0 0 60px 0;">

<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
  <p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
  </div>
<div id="content" ng-style="second" style="background-color: {{decry.masterConfig.pagebgcolor}};">

<div style="width:95%;overflow:hidden;margin: 0px 2.5% 0px 2.5%;">
 <div>
 	<nav aria-label="breadcrumb" role="navigation" style="margin-left:0px;">
			  <ol class="breadcrumb" style="background-color:{{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
			     <li ><a style="cursor: pointer;" >Users & Groups</a></li>
			    <li style="color:'{{decry.masterConfig.lighttextcolor}}';">Manage Groups</li>
			  </ol>
			</nav>
			<!--  <h3 style="margin: 35px 0 0 15px;color: #606060;font-size: 14px"><span style="color:#b2b2b2;">Users & Groups ></span> Manage Groups</h3>-->
 </div>
<div class="container-fluid" style="padding:0;">
  
  		<div class="usersactivity">
   				<input ng-model="filterText"
                 type="text" 
                 class="searchuser" 
                 placeholder="Search Groups" 
                 name="searchName"
                 autocomplete="off"
                 style="background-image: url('lib/Images/searchicon.png');background-size: 20px;background-position-x: 5px;margin-top: -25px !important;" />
                 <!-- <button ng-disabled="!online" class="adduserbutton" ng-click="addgroup()"> Create Group </button> -->
         		
         </div>

    
    <div align=center style="margin:0px 5% 0 5%;width:90%;overflow:hidden;" class="groupcard">
    <!--   <div ng-repeat="group in filteredgroups">
 	<div  ng-click="group" class="mgroup">
 	<div class="mgname"><p class="mgpara">{{group.gname}}</p></div>
 	<div class="mgusers">
 	<img src="lib/Images/group.png" class="mgimg">
 	<p class="mgpara1">{{group.gusers}} Users</p>
 	</div>
 	</div>
 	</div>-->
 	<div align=center  ng-repeat="group in filterData = (groups | filter : {GNAME: filterText}) | limitTo:limit:limit*(currentPage-1)">
 	<button  ng-disabled="!online" ng-click="viewgroup(group)" class="mgroup">
 	<div class="mgname" ><p class="mgpara">{{group.GNAME}}</p></div>
 	<div align=center >
 	<div class="mgusers">
 	<img src="lib/Images/group.png" class="mgimg">
 	<p class="mgpara1">{{group.UC}} Users</p>
 	</div>
 	</div>
 	</button>
 	</div>
 	
 </div>
 <div align="center" style="" ng-show="filterData.length!=0"><uib-pagination class="paginationul"  ng-model="currentPage" ng-change="pageChanged()" total-items="filterData.length" max-size="maxSize" boundary-links="true" items-per-page="{{limit}}"></uib-pagination>
 	</div>
 	<div align="center" ng-show="filterData.length==0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;border: 1px solid {{decry.masterConfig.mediumborderclr}};border-radius: 2px;">No Data
 	</div>
</div>
</div>
</div>

</div>

<div class="footer">
</div>

</div>


<!-- 
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'"></div>
</div>
<div ng-show="loading" class="loader loader-default is-active"></div>

<div class="col-10" style="margin-top: 4%;">
<div class="manageusers">
<div>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb" style="background-color: white;margin-bottom: 10px;">
    <li ><a style="cursor: pointer;" ng-click="loaddashboard();loading = true">DashBoard</a></li>
    <li style="color:#767676;" >Manage Users</li>
  </ol>
</nav>

</div>
<div class="backbutton">
<a href="#/dashboard" ng-click="loading = true"><img src= "lib/Images/Back.png" class="photo"></a>
<h3 style="margin-top: 0 ! important;display:inline-block;color:#767676" >Manage Users</h3>


</div>
<div class="container-fluid">

<div >

  <div>
  		<div class="usersactivity">
   				<input ng-model="globalSearchTermAuto"
                 type="text" 
                 class="searchuser" 
                 placeholder="Search User" 
                 name="searchName"
                 style="background-image: url('lib/Images/searchicon.png');" />
                 <button class="adduserbutton" ng-click="adduser()"> Add User </button>
         		
         </div>
 
      
      <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" align="center">
        <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
       
          <td  style="width:20%;padding-left:20px;color: #767676;padding:15px 0 15px 20px ! important;" data-title="'Name'" ><a ng-click="viewuser(row)">{{row.USERNAME}}</a></td>
         
          <td  style="width:25%;padding-left:20px;color: #767676;" data-title="'Email'" >{{row.EMAIL}}</td>
          
          <td align="center" style="width:10%" data-title="'Gender'">{{row.GENDER}}</td>
         
          <td align="center" style="width:5%" data-title="'User Role'" >{{row.USERROLE}}</td>
          
          <td align="center" style="width:20%" data-title="'Last Active'">{{row.LASTACTIVITY}}</td>
          
          <td align="center" style="width:10%" data-title="'Batch Of'">{{row.BATCHES.join()}}</td>
         
        </tr>
      </table>
    </div>
    
</div>
</div>
</div>
</div>
 -->
