<!-- Added for manage users screen -->
<div ng-controller="headerCtrl">
    <div ng-include="'header.html'">
    </div>
  </div>
  <div class="pageview">
      <div ng-show="loading" class="loader loader-default is-active"></div>
      
      <div style="overflow: hidden;padding: 0 0 60px 0;">
    
      <div ng-controller="sidenavCtrl">
        <div ng-include="'sidenav.html'">
        </div>
      </div>
      <div ng-if="!online" align=center class="offline">
          <p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
          </div>
  
      <div id="content" ng-style="second" style="background-color:{{decry.masterConfig.pagebgcolor}};">
  
  <div style="width:95%;overflow:hidden;margin: 0 2.5%;">
   <div>
   <nav aria-label="breadcrumb" role="navigation" style="margin-left:0px;">
                <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
                   <li><p style="cursor: pointer;font-size: 14px;" >Content</p></li>
                  <!-- <li style="color:{{decry.masterConfig.lighttextcolor}};">Manage Content</li> -->
                </ol>
              </nav>
   <!-- <h3 style="margin: 35px 0 0 15px;color:#484848;font-size:14px;"><span style="color:#b2b2b2;">Settings ></span> Manage Categories</h3> -->
   </div>
  <div class="container-fluid" style="padding:0;">
  
            <div class="usersactivity" >
                     <input ng-model="globalSearchTermAuto"
                   type="text" 
                   class="searchuser" 
                   placeholder="Search Topics" 
                   name="searchName"
                   autocomplete="off"
                   style="background-image: url('lib/Images/searchicon.png');background-size: 20px;background-position-x: 5px;margin-top: -25px !important;" />
                   <button ng-disabled="!online" class="adduserbutton" ng-click="addcategory()"> Add Topic </button>
           </div>
   
        <div style="margin: 20px 0 15px 0;padding: 4px;background-color: {{decry.masterConfig.divbgcolor}};">
       <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" align="center">
       <tr >
       <th style="padding: 0 !important;border: none !important;"></th>
       </tr>
         <tr ng-repeat="(index,category) in $data" >

            <td style="padding: 0 !important;font-family: MyWebFont;">
            <div class="panel panel-default"
                      is-open="category.open"
                      style=" font-size: 14px; padding: 4px 5px; word-wrap: break-word;border-radius: 0px; 
                      color:{{decry.masterConfig.darktextcolor}};margin-bottom: -1px;background-color: {{decry.masterConfig.divbgcolor}};">
                      <div class="panel-heading" style="border-bottom: none;margin-bottom: -5px;background-color: {{decry.masterConfig.divbgcolor}} !important;">
                          <div style="float: left; width: 130px;">
                          
                              <img src="{{imgurl}}{{orgidlow}}-resources/images/category-images/{{category.id}}.png"
                                  width="40px;background-color: burlywood;"
                                  style="height: 60px; margin-top: -9px; margin-left: -14px;width:120px;"></img>
                                  
                          </div>
                          <h4 class="panel-title">
                              <div style="margin-right: 6px;float: right;margin: 10px;">
                          
                              <!-- <input type="image" src="lib/Images/edit.png" alt="Edit" ng-click="editcategory(category)"   style="border-left: none;border-bottom: none;border-top: none;width: 28px;float: left;"> -->
                              <button ng-if="decry.role ==='Admin'"  class="btn" ng-disabled="!online" alt="Delete" ng-click="editcategory(category)"
                                      style="float: left; font-size: 12px;margin: 0px 0px 0 0px;padding: 0px 10px 0 0px;max-width: 25px ;background-color: {{decry.masterConfig.divbgcolor}};border-radius: unset !important;"
                                       >
                                      <img src="lib/Images/edit.png" 
                                           style="border-bottom: none;border-top: none;border-left: none;width: 14px !important;height: 14px !important;opacity: 0.9;"  /> 
                                          
                                  </button>
                   
                              </div>
                              <div style="margin: 0px 0px 0px -109px;text-align: left;width: 90%;font-size: 14px;word-wrap: break-word;color:{{decry.masterConfig.darktextcolor}};line-height: 17px;padding: 0px 105px;">
                              
                                 <a ng-click = "gettopicdata(category)">{{category.name}}</a>  <span><br>
                                  
                                  <button data-toggle="collapse" href="#{{qu.id}}"  
                                          style="font-size: 11px; margin: 8px 0px 5px -8px; color: teal;border: none;
                                          background-color: {{decry.masterConfig.divbgcolor}};color:{{decry.masterConfig.divbgcolor}};">
                                          .</button></span>
                              </div>
  
  
                          </h4>
                      </div>
                  
                  </div>
            </td>
          </tr>
         <tr>
              <td ng-show="$data.length == 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="3">
                There is nothing here, yet
              </td>
          </tr>
        </table> 
    
        </div>
      
  </div>
  </div>
  </div>
  
      </div>
      
      <div class="footer">
</div>
      
      </div>
      
      
      
      
      