
<div ng-show="loading" class="loader loader-default is-active"></div>
<div class="col-10" style="margin-top: 4%;">
<div class="manageusers">
<div>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.divbgcolor}};margin-bottom: 10px;">
    <li ><a style="cursor: pointer;" ng-click="loaddashboard();loading = true">DashBoard</a></li>
    <li style="color:{{decry.masterConfig.lighttextcolor}};" >Manage Courses</li>
  </ol>
</nav>

</div>
<div class="backbutton">
<a style="cursor: pointer;" ng-click="loaddashboard();loading = true"><img src= "lib/Images/Back.png" class="photo"></a>
<h3 style="margin-top: 0 ! important;display:inline-block;color:{{decry.masterConfig.lighttextcolor}}" >Manage Courses</h3>


</div>
<div class="container-fluid">
 
<div >

  <div>
  		<div class="usersactivity">
   				<input ng-model="globalSearchTermAuto"
                 type="text" 
                 class="searchuser" 
                 placeholder="Search Courses" 
                 name="searchName"
                 style="background-image: url('lib/Images/searchicon.png');" />
                  <button class="adduserbutton" ng-click="addcourse()"> Add Course </button>
                
         		
         </div>
 
      
      <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" align="center">
        <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
       
       
       	  <td  style="width:1%;color: {{decry.masterConfig.lighttextcolor}};text-align:center;"><img class="accesskeyimg" src="https://d2vjtiiivpsell.cloudfront.net/USP-IMAGES/{{row.cid}}/{{row.cid}}.png"></td>
         
          <td  style="width:25%;padding-left:20px;color: {{decry.masterConfig.lighttextcolor}};" data-title="'Course Name'" > <a  style="cursor: pointer;" ng-click="viewcourse(row)" >{{row.cname}}</a></td>

        
        </tr>
         <tr>
            <td ng-show="$data.length == 0" style="color: {{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="2">
              There is nothing here, yet
            </td>
        </tr>
      </table>
    </div>
    
</div> 
</div>
</div>
</div>

