
<div ng-show="loading" class="loader loader-default is-active"></div>
<div  ng-keypress="myFunct($event)">
<div align="center" style="height:100%;width:100%;overflow:hidden;">
<div class="appbox" align="center" > 

<img class="appimg" src="lib/Images/marketron.png" > 

<div>
<p style="font-size:24px;margin: 0px 0 50px 0px;font-family:MyWebFont1;color:#5c5c5c;font-weight:bold;">Admin Dashboard</p>
</div>
<div>
<p style="font-size:16px;margin: 0px 0 30px 0px;font-family:MyWebFont1;color: #5c5c5c;">Enter Your Organization Code</p>
</div>
<div >
<p ng-if="error == true" style="position:fixed;font-size:12px;margin: -20px 0 0px 65px;font-family:MyWebFont1;color:red;">Organization code must be at least of 3 characters</p>
<p ng-if="error2 == true" style="position:fixed;font-size:12px;margin: -20px 0 0px 95px;font-family:MyWebFont1;color:red;">Please enter Organization Code</p>
<p ng-if="error1 == true" style="position:fixed;font-size:12px;margin: -20px 0 0px 100px;font-family:MyWebFont1;color:red;">Invalid Organization Code</p>
<p ng-if="error3 == true" style="position:fixed;font-size:12px;margin: -20px 0 0px 75px;font-family:MyWebFont1;color:red;">Please check your internet connection!</p>
</div>
<div >
<input class="orgid" type="text" ng-model="orgid" placeholder="">
</div>
<br>
<div >
<button class="submitorg" type="button" ng-click="submit()">Submit</button>

</div>

</div>

</div>
</div>