<div ng-show="loading" class="loader loader-default is-active"></div>

<div  class="modal-content" >

<!-- <button id="btncls" style="margin: 5px 10px 0 0" type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button> -->
<div align=center >
<!-- <img src="lib/images/JSSAHER.png" class="modallogo1" style="margin-left:32px"> -->

<div align=center>
<p class="modaltitle" style="margin: 42px 0 0px 0;"> Password Reset</p>
<p class="modaltitle" style="margin: 1px 0 42px 0;font-size: 14px;max-width: 100%;"> Please enter the Verification Code sent to your email</p>
<div align=left>
<p ng-if="error === 7" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Please check your internet connection!</p>
</div>
<div align=left>
<p ng-if="error === 4" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">The password you entered do not  match , Please re-enter password  </p>
</div>
<div align=left>
<p ng-if="error === 1" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Please enter a verification code</p>
</div>
<div align=left>
<p ng-if="error2 == 5" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Invalid Password: Password length should be minimum of 8 Characters</p>
</div>
<div align=left>
<p ng-if="error == 6" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Invalid password format</p>
</div>
<div align=left>
<p ng-if="error == 8" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Please enter valid verification code</p>
</div>
<div >
<input style="background-image: url('lib/Images/vcode.png');" class="logindet" style="width:380px" id="vcode" type="password" ng-model="vcode" placeholder="Verification Code" ng-keypress="myFunct($event)">
</div>

<div align=left>
<p ng-if="error2 == 0" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Please enter a password</p>
</div>
<div align=left>
<p ng-if="error2 == 1" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Invalid password format</p>
</div>
<div align=left>
<p ng-if="error2 == 9" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Password should not contain space</p>
</div>
<div >
<input style="background-image: url('lib/Images/npwd.png');" class="logindet" style="width:380px" type="password" ng-model="pwd" placeholder="Password" ng-keypress="myFunct($event)">
</div>
<div align=left>
<p ng-if="error3 == 0" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Please Enter Confirm password </p>
</div>
<div align=left>
<p ng-if="error3 == 1" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Invalid password format</p>
</div>
<div align=left>
<p ng-if="error3 == 2" style="position:fixed;font-size:11px;margin: -17px 0 0px 111px;font-family:MyWebFont1;color:red;">Password and confirm password does not match!</p>
</div>
<div >
<input style="background-image: url('lib/Images/npwd.png');margin-bottom:5px ! important;" style="width:380px" class="logindet" type="password" ng-model="cpwd" placeholder="Confirm Password" ng-keypress="myFunct($event)">
</div>
<div align=left>
<p style="font-size:11px;margin: 0px 90px 0px 90px;font-family:MyWebFont1;color:{{decry.masterConfig.mediumtextcolor}};">* Password should be at least 8 characters, contain at least one lowercase letter & one number & one special character.
</p>
</div>
<div>
<button class="signupbutton" style="margin-bottom: 42px" type="button" ng-click="changepwd()">Submit</button> 
<button class="signupbuttonnew" type="button" ng-click="close()">Cancel</button>
</div>


</div>



</div>


</div>
<script>
$('#vcode').bind("cut copy paste",function(e) {
    e.preventDefault();
});
</script>