<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview" >

<div style="padding: 0 0 60px 0;overflow:hidden;background-color:{{decry.masterConfig.pagebgcolor}};">

<div ng-show="loading" class="loader loader-default is-active"></div>

<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>

<div id="content" ng-style="second" style="width: 88%;overflow: hidden;">
<div>
<!-- <h3 style="margin: 26px 0 0 43.5px;color: #606060;font-size: 14px;">Access Keys</h3> -->
</div>
 <div align=center>
 <h3 style="margin: 200px 0 0 43.5px;color:{{decry.masterConfig.darktextcolor}};font-size:16px;">This feature has not been enabled.</h3>
 </div>
</div>

</div>

<div class="footer">
</div>

</div>