<div>
<div ng-show="loading" class="loader loader-default is-active" ></div>
<div class="publishobjectmodal" style="width: 900px ! important;
height: 500px ! important;overflow:hidden;">

<div class="modal-content">
<div class="modal-header" style="background-color:#393939;">
<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>
<h3 class="modaltitle1">Publish {{obj === undefined ? 'Content' : 'Course'}} </h3>
</div>
<div class="modal-body" style="overflow:hidden ! important;background-color:white !important;">


<div style="overflow: hidden;">
<div  style="float: right;">
        <label style="font-weight: normal !important;" > Published for {{cnt}} tenants</label>
</div>
        <div class="checkbox checkbox-inline col-sm-4" style="margin:0px 0;">
                <input type="checkbox" id="SelectAll" name="SelectAll" ng-click="toggleAll()" ng-checked="publishToTenants.length === tenants.length">
                <label for="SelectAll"> Select All</label>
              </div>
</div>
<div style="height: 300px; overflow: scroll;">
        <div class="checkbox checkbox-inline col-sm-4" style="margin:2px 0; overflow: hidden;float: left; width: 33%;"
        ng-repeat="item in tenants">
          <!-- <input type="checkbox" name="item" id="chk-{{item}}" ng-model="options[$index]" ng-value="item" 
          ng-change="toggleCurrency($index)">
          <label for="chk-{{item}}">{{item}}</label> -->
          <input type="checkbox" id="item" ng-click="updateTenant(item.OID)" name="item" ng-checked="publishToTenants.includes(item.OID)">
          <label for="item">{{item.OID}}</label>
        </div>

</div>

<!-- <div align=center style="margin: 20px 0 0 0;height:35px;width:120px;" ng-if="publishToTenants.length === 0">
</div> -->
<div align=center >
        <button  class="button1" style="margin: 20px 0 0 0;height:35px;width:160px;" ng-click="publish()"> Save </button>
</div>
        


<!-- <div ng-if="!select" class="modal-footer" style="border: none !important;">
<div align=center>
<button class="button1" ng-click="publish()"> Publish </button>
<button class="button2" ng-click="close()"> Cancel </button>
</div>
</div> -->
</div>
</div>



</div>

</div>
