<div>
<div ng-show="loading" class="loader loader-default is-active"></div>
<div class="addobjectmodal">

<div class="modal-content">
<div class="modal-header" >
<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>
<h3 class="modaltitle">Quiz Questions</h3>
</div>
<div class="modal-body" style="overflow:hidden ! important;">

<div class="keywords" > 

<p ng-hide="keywords[0] != null"> No Keywords Added</p>
<p class="showkeywords" ng-repeat="keyword in keywords"> {{keyword.word}} <a ng-click="removekeyword(keyword)"><img src= "lib/Images/close.png" class="removekeyword"></a></p>

</div>

<div class="addkeyword">
		<p class="keytitle">Key Word </p>
		<p class="keycolon">:</p>
		<textarea  class="keytext" name="keyword" ng-model="keyword" rows="1" wrap="soft"   style="overflow:hidden; resize:none;line-height:30px;"></textarea>
		<button class="keybutton" type="button" ng-click="addkeyword()">Add Keyword</button>
		</div>


<div align="center"> 
<div style="display:inline-block;margin:10px 00px 0 0!important;">
<div style="display:inline;float:left;margin-left: 0px;">
<button class="userbutton" type="button" ng-click="publish()">Submit</button>
</div>
<div style="float:right;margin-left:20px;">
<button class="userbutton" type="button" ng-click="close()">Cancel</button>
</div>
</div>
</div>



</div>
</div>

</div>

</div>
