<div>
<div ng-show="loading" class="loader loader-default is-active" ></div>
<div class="addobjectmodal">

<div class="modal-content">
<!-- <div class="modal-header" style="background-color:#393939;">
<button type="button" class="close closebtn" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>
<h3 class="modaltitle1">Send Notification to {{teamname}} Team</h3>
</div> -->
<div class="modal-body" style="overflow:hidden ! important;background-color:#fff !important;padding: 40px;">

  <div align=center class="textdiv" style="display: flex;" >
    <p ng-if="!online" style="position:fixed;font-size:12px;margin: -14px 0 0px 0px;font-family:MyWebFont1;color:red;">Please check your internet connection!</p>
  <p ng-if="error4 == true && online" style="position:fixed;font-size:12px;margin: -14px 0 0px 0px;font-family:MyWebFont1;color:red;">Select Type</p>
  <input type="radio" id="male" name="gender"   ng-model="type" style="margin: 0px 0px 4px 0px;width: 25px; height: auto;" value="MAIL">
  <label for="male" style="margin-right: 10px;">MAIL</label><br>
  <input type="radio" id="female" name="gender" style="margin: 0px 0px 4px 0px;width: 25px; height: auto;" ng-model="type" value="NOTIFICATION">
  <label for="female"  style="margin-right: 10px;">NOTIFICATION</label><br>
  <input type="radio" id="other" name="gender"  ng-model="type" style="margin: 0px 0px 4px 0px;width: 25px; height: auto;" value="BOTH">
  <label for="other"  style="margin-right: 10px;">BOTH</label> 

  </div>

<div align=center class="textdiv" >
  <p ng-if="!online" style="position:fixed;font-size:12px;margin: -14px 0 0px 0px;font-family:MyWebFont1;color:red;">Please check your internet connection!</p>
<p ng-if="error == true && online" style="position:fixed;font-size:12px;margin: -14px 0 0px 0px;font-family:MyWebFont1;color:red;">Please enter the Title/ Subject </p>
<p  style="text-align: left;margin: 0 0 5px;color:{{decry.masterConfig.darktextcolor}}">Title/ Subject </p>
<textarea  name="ntitle" maxlength="100" ng-model="mtitle" style="color:{{decry.masterConfig.mediumtextcolor}};overflow:hidden; resize:none;border: 1px solid {{decry.masterConfig.mediumborderclr}};padding: 5px;height: 33px;"></textarea>
</div>
<div align=center class="textdiv" >
<p ng-if="error1 == true && online" style="position:fixed;font-size:12px;margin: -14px 0 0px 0px;font-family:MyWebFont1;color:red;">Please enter the Description/ Body </p>
<p  style="text-align: left;margin: 0 0 5px;color:{{decry.masterConfig.darktextcolor}}" >Description/ Body </p>
<textarea  name="ntitle" maxlength="200" ng-model="mdesc" style="color:{{decry.masterConfig.mediumtextcolor}};overflow:hidden; resize:none;border: 1px solid {{decry.masterConfig.mediumborderclr}};padding: 5px;" rows="4" cols="1"></textarea>
</div>
<div align=center class="textdiv" style="display: block " >
  <input style="float:left;margin:  0px 5px 0 0;color:{{decry.masterConfig.mediumtextcolor}};" ng-click="url()" type="checkbox" name="" value=""> <p style="margin: -2px 0 0px 0px;font-family:MyWebFont1;float:left;color:{{decry.masterConfig.darktextcolor}};"> Include a link</p>
</div>
<div ng-if="link" align=center class="textdiv" >

 <p ng-if="error3 == true && online" style="position:fixed;font-size:12px;margin: -14px 0 0px 0px;font-family:MyWebFont1;color:red;">Please enter a valid URL </p>
<p  style="text-align: left;margin: 0 0 5px;color:{{decry.masterConfig.darktextcolor}}">URL </p>
<input type="text"   name="url" ng-model="obj.url" style="overflow:hidden; resize:none;padding: 5px;color:{{decry.masterConfig.mediumtextcolor}};"></input>

</div>

<div class="modal-footer" style="border: none !important;padding: 15px 0px;">
<div align=right>
<button class="button1" ng-disabled="!online" ng-click="sendmsg()" style="margin: 0px 5px 0px 0;"> Send </button>
<button class="button2" ng-disabled="!online" ng-click="close()" style="margin: 8px 5px 0px 0px;"> Cancel </button>
</div>

</div>
</div>
</div>



</div>

</div>
