<!-- Added for manage users screen -->
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
<div ng-show="loading" class="loader loader-default is-active"></div>

<div style="overflow: hidden;padding: 0 0 60px 0;">

<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
  <p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
  </div>

<div id="content" ng-style="second" style="background-color: {{decry.masterConfig.pagebgcolor}};">

<div style="width:95%;overflow:hidden;margin: 0 2.5%;">
<!--  <div><h3 style="margin: 35px 0 0 15px;color:#606060;font-size:14px;"><span style="color:#b2b2b2;">Settings</h3>
 </div> -->
 
<div style="margin: 50px 0px 0px 0px;overflow: hidden;padding: 0px;">
<!-- <div class="settingdiv">
<a ng-click="loadcategories()" style="cursor:pointer;">Manage Categories</a>
</div> -->

<div class="settingdiv">
<button ng-click="emailtemp()" ng-disabled="!online" style="cursor:pointer;border: none;font-family:MyWebFont1;background-color: unset;color: {{decry.masterConfig.darktextcolor}};">Welcome Email Template</button>
</div>

</div>


</div>
</div>
</div>

    <div class="footer">
</div>

</div>

