<!-- Added for sidenav screen -->


<div ng-show="loading" class="loader loader-default is-active"></div>

<div  id="sidenav" onscroll="scollPos()">
<!-- <img ng-if="lscreen" class="sidenavlogo" src="{{orgimg}}" > 
<img ng-if="sscreen" class="sidenavlogo" src="{{orgimgs}}"> -->


  <a  ng-click="goto('dash')" class="{{activemenu == 'dashboard' ? 'activemenu' : 'inactivemenu'}}"><div class="sidenavimgdash{{activemenu == 'dashboard' ? '1' : '0'}}" ></div> <z class="dash" >DASHBOARD</z></a>
  <div class="ung" ng-if="disable == '2'">
  <a ng-click="goto('tenants')" class="{{activemenu == 'tenants' ? 'activemenu' : 'inactivemenu'}}"  ><div class="sidenavimguserg{{activemenu == 'tenants' ? '1' : '0'}}"  ></div> <z  class="dash"> INSTITUTIONS </z> </a>
  <a ng-click="goto('contents')" ng-show="decry.role != 'MIDLEVELADMIN'" class="{{activemenu == 'contentrep' ? 'activemenu' : 'inactivemenu'}}"  ><div class="sidenavimgmc{{activemenu == 'contentrep' ? '1' : '0'}}"  ></div> <z  class="dash"> CONTENT </z> </a>
  <!-- <div class="dropdown-content" id="drp-content" ng-style="sidedropdow">
    <a ng-click="goto('musers')" style="font-size: 14px;" class="inactivemenu">Manage Users</a>
    <a ng-click="goto('mgroups')" style="font-size: 14px;" class="inactivemenu">Manage Groups</a>
  </div>
 
  </div>
   <div class="ung" ng-if="uglist && disable == '2'" >
    <a ng-click="goto('musers')"  class="{{activemenu == 'users' ? 'activemenu' : 'inactivemenu'}}    chllist"   ><z class="dash" style="font-size: 14px;">Manage Users</z></a>
    <a ng-click="goto('mgroups')"  class="{{activemenu == 'groups' ? 'activemenu' : 'inactivemenu'}}   chllist"  ><z class="dash" style="font-size: 14px;">Manage Groups</z></a>
  </div> -->

  <!-- <div class="ung" ng-if="mclist" ng-style="disable == '1'? {'border-bottom':'1px solid'},{'border-bottom-color':decry.masterConfig.mediumborderclr}:''" >
    <a ng-click="goto('contents')"  class="{{activemenu == 'contentrep' ? 'activemenu' : 'inactivemenu'}}  chllist" ><z class="dash" style="font-size: 14px;">Manage Content</z></a>
</div> -->
        <div class="ung" ng-if="disable != '1'">
  <!-- <a ng-click="assignfunclick()" class=" inactivemenu" ><div class="sidenavimgact{{activemenu == 'agroups' ||activemenu == 'ausers' ? '1' : '0'}}" ></div><z class="dash" >ASSIGN</z>  <b  class="fixedcontent"><img class="{{aclist == false ? 'optionsimg1' : 'optionsimg' }}" src="lib/Images/options0.png"></b></a>
  
  <div class="dropdown-content" id="drp-content1" ng-style="sidedropdow">
    <a ng-click="goto('pub1')" class="inactivemenu">To Users</a>
    <a ng-click="goto('pub0')" class="inactivemenu">To Groups</a>
  </div>
 
  </div>
  <div class="ung" ng-if="aclist && disable != '1'">
  <a ng-click="goto('pub1')" class="{{activemenu == 'ausers' ? 'activemenu' : 'inactivemenu'}}  chllist" ><z class="dash" style="font-size: 14px;">To Users</z></a>
    <a ng-click="goto('pub0')"  class="{{activemenu == 'agroups' ? 'activemenu' : 'inactivemenu'}}  chllist" ><z class="dash" style="font-size: 14px;">To Groups</z></a>  
  </div> -->
   <!-- <div class="ung" ng-if="disable != '1'">
  <a ng-click="alylistclick()" class="inactivemenu"><div class="sidenavimgar{{activemenu == 'ureport' || activemenu == 'creport' || activemenu == 'greport' ? '1' : '0'}}" ></div> <z class="dash" >REPORTS</z> <b  class="fixedcontent"><img class="{{alylist == false ? 'optionsimg1' : 'optionsimg' }}" src="lib/Images/options0.png"></b></a>
  
   <div class="dropdown-content " id="drp-content4"  ng-style="sidedropdow">
    <a ng-click="goto('aly0')" class="inactivemenu">Users Reports</a>
    <a ng-click="goto('aly1')" class="inactivemenu">content Reports</a>
    <a ng-click="goto('aly2')" class="inactivemenu">Group Reports</a>
  </div>
  
   </div>
    <div class="ung" ng-if="alylist && disable != '1'">
    <a ng-click="goto('aly0')" class="{{activemenu == 'ureport' ? 'activemenu' : 'inactivemenu'}} chllist" ><z class="dash" style="font-size: 14px;">Users Reports</z></a>
    <a ng-click="goto('aly1')" class="{{activemenu == 'creport' ? 'activemenu' : 'inactivemenu'}} chllist" ><z class="dash" style="font-size: 14px;">Content Reports</z></a>
    <a ng-click="goto('aly2')" class="{{activemenu == 'greport' ? 'activemenu' : 'inactivemenu'}} chllist" ><z class="dash" style="font-size: 14px;">Group Reports</z></a>
  </div> -->
  <!-- <div class="ung" ng-if="disable != '1'" ng-style="disable == '0'? {'border-bottom':'1px solid'},{'border-bottom-color':decry.masterConfig.mediumborderclr}:''">
  <a ng-click="elistclick()" class=" inactivemenu" ><div class="sidenavimgcr{{activemenu == 'gengagement'||activemenu == 'uengagement' ? '1' : '0'}}"   ></div><z class="dash" >ENGAGE</z>  <b  class="fixedcontent"><img class="{{elist == false ? 'optionsimg1' : 'optionsimg' }}" src="lib/Images/options0.png"></b></a>
  
  <div class="dropdown-content" id="drp-content2" ng-style="sidedropdow">
    <a ng-click="goto('eng1')" class="inactivemenu">With Users</a>
    <a ng-click="goto('eng0')" class="inactivemenu">With Groups</a>
  </div>
 
  </div>
   <div class="ung" ng-if="elist && disable != '1'" ng-style="disable == '0'? {'border-bottom':'1px solid'},{'border-bottom-color':decry.masterConfig.mediumborderclr}:''">
    <a ng-click="goto('eng1')" class="{{activemenu == 'uengagement' ? 'activemenu' : 'inactivemenu'}} chllist" ><z class="dash" style="font-size: 14px;">With Users</z></a>
    <a ng-click="goto('eng0')" class="{{activemenu == 'gengagement' ? 'activemenu' : 'inactivemenu'}} chllist" ><z class="dash" style="font-size: 14px;">With Groups</z></a>
  </div> -->
  <!--  <a ng-click="goto('eng')" class="{{activemenu == 'engagement' ? 'activemenu' : 'inactivemenu'}}"><div class="sidenavimgue{{activemenu == 'engagement' ? '1' : '0'}}" ></div><z class="dash">Engagement</z> </a>-->
  <a ng-click="goto('engage')" class="{{activemenu == 'engage' ? 'activemenu' : 'inactivemenu'}}"><div class="sidenavimgcr{{activemenu == 'engage' ? '1' : '0'}}" ></div><z class="dash" >ENGAGE</z></a>
  <a ng-click="goto('events')" ng-show="disable == '2'" class="{{activemenu == 'events' ? 'activemenu' : 'inactivemenu'}}" style="border-bottom: 1px solid {{decry.masterConfig.mediumborderclr}};" ><div class="sidenavimgak{{activemenu == 'events' ? '1' : '0'}}" ></div><z class="dash" >EVENTS</z></a>
  <a ng-click="goto('reports')" ng-show="disable == '2'" class="{{activemenu == 'reports' ? 'activemenu' : 'inactivemenu'}}" style="border-bottom: 1px solid {{decry.masterConfig.mediumborderclr}};" ><div class="sidenavimgrp{{activemenu == 'reports' ? '1' : '0'}}" ></div><z class="dash" >REPORTS</z></a>
  <!-- <a ng-click="goto('akeys')" class="{{activemenu == 'accesskeys' ? 'activemenu' : 'inactivemenu'}}"><div class="sidenavimgak{{activemenu == 'accesskeys' ? '1' : '0'}}" ></div><z class="dash" >ACCESS KEYS</z></a> -->
  <!-- <a ng-click="goto('set')" ng-show="disable == '2'" class="{{activemenu == 'settings' ? 'activemenu' : 'inactivemenu'}}" style="border-bottom: 1px solid {{decry.masterConfig.mediumborderclr}};" ><div class="sidenavimgset{{activemenu == 'settings' ? '1' : '0'}}" ></div><z class="dash" >SETTINGS</z> </a>
  -->
<!--   <a ng-click="signout()" class="inactivemenu" style="border-bottom: 1px solid #d2d2d2;"><div class="sidenavimgso" ></div><z class="dash">Sign Out</z></a> -->
  <div align=left style="bottom: 2%;min-height: 92px;">
  
  </div>
  
</div>
<script>
 
function sticky_relocate() {
    
    var window_top = $(window).scrollTop();
    var  top=-70;
    var div = document.getElementById("sidenav").scrollTop;

   
$("#drp-content").css("margin-top", top - parseInt(div) - +window_top+"px");

$("#drp-content1").css("margin-top", top - parseInt(div) - +window_top+"px");
$("#drp-content2").css("margin-top", top - parseInt(div) - +window_top+"px");
$("#drp-content3").css("margin-top", top - parseInt(div) - +window_top+"px");
$("#drp-content4").css("margin-top", top - parseInt(div) - +window_top+"px");
}

$(function() {
    $(window).scroll(sticky_relocate);
    sticky_relocate();
});

 function scollPos() {
    var div = document.getElementById("sidenav").scrollTop;
    var  top=-70;
    $("#drp-content").css("margin-top", top - +div+"px");
    $("#drp-content1").css("margin-top", top - +div+"px");
    $("#drp-content2").css("margin-top", top - +div+"px");
    $("#drp-content3").css("margin-top", top - +div+"px"); 
    $("#drp-content4").css("margin-top", top - +div+"px"); 
  
  
} 


</script>