<div>
<div ng-show="loading" class="loader loader-default is-active" data-text="{{objecttype}} is getting Uploaded"></div>
<div class="addlabscoremodal">

<div class="modal-content">
<div class="modal-header" >
<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>
<h3 class="modaltitle">Add Object</h3>
</div>
<div class="modal-body" style="overflow:hidden ! important;">
</br>
<div>
<p class="oatitle">Lab Score</p>
<p class="oacolon">:</p>
<textarea name="ntitle" rows="1" wrap="soft" ng-model="score" class="oadesc"></textarea>				
</div>
</br>
</br>
<div>
<p class="oatitle">Lab Score</p>
<p class="oacolon">:</p>
<div layout = "column" ng-cloak>
<md-content>
            
            <md-datepicker 
               ng-model = "myDate" 
               md-placeholder = "Enter date">
               </form>
               </md-datepicker>
            
</md-content>
</div>								
</div>
</br>
</br>
</br>
</br>


<div align="justify" style="display:inline-block;margin-top:10px !important;">
<div style="display:inline;float:left;margin-left:120px;">
<button class="userbutton" type="button" ng-click="addobject()">Update Score</button>
</div>
<div style="float:right;margin-left:20px;">
<button class="userbutton" type="button" ng-click="close()">Cancel</button>
</div>
</div>



</div>
</div>

</div>

</div>
