<!-- Added for userreport screen -->
  <div ng-controller="headerCtrl" class="headerbox">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview" >
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>

<div style="padding: 0 0 60px 0;overflow:hidden;background-color:{{decry.masterConfig.pagebgcolor}};">
<!--  -->
<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
  <p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
  </div>
<div id="content"   align=center ng-style="second">
<div align=center style="width:95%;overflow:hidden;margin: 0 2.5%;">
<div align=left>
<nav aria-label="breadcrumb" role="navigation" style="margin-bottom:5px;">
			  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
			     <li ><a style="cursor: pointer;" >Reports</a></li>
			    <li style="color:{{decry.masterConfig.lighttextcolor}};">User Reports</li>
			  </ol>
			</nav>
</div>

<div align=center >


<div style="overflow:hidden;">
<div class="box1">
	<div class="ubox1">
		<div align=center class="ubox2"><p class="uboxp1">TOTAL USERS </p></div>
		<div align=center class="ubox3" style="border-right: 1px solid {{decry.masterConfig.darkborderclr}};"> <p class="uboxp2">{{analytics.users}}</p> </div>
	</div>
	<div class="ubox4" >
		<div align=center class="ubox2"> <p class="uboxp1">ACTIVE TODAY</p> </div>
		<div align=center class="ubox3"> <p class="uboxp2">{{ausers}}</p> </div>
	</div>

</div>
<div class="box2">
	<div class="dbox1">
		<div align=center class="dbox2"> <p class="dboxp1">USERS BY PLATFORM</p> </div>
		<div align=center class="dbox3"> <img src="lib/Images/ios.png" style="width:25px; height:auto;float: left;"> <p class="dboxp2" > IOS </p>  <p class="dboxp3"> {{ios}}% </p> </div>
		<div align=center class="dbox3"> <img src="lib/Images/Android.png" style="width:25px; height:auto;float: left;"> <p class="dboxp2"> Android </p>  <p class="dboxp3"> {{android}}% </p> </div>
		<div align=center class="dbox3"> <img src="lib/Images/web.png" style="width:25px; height:auto;float: left;"> <p class="dboxp2"> Web </p>  <p class="dboxp3"> {{desktop}}% </p> </div>
	</div>
</div>
<div class="box1" >
	<div class="dbox1">
		<div align=center class="gbox1"> <p class="gboxp1">USERS BY GENDER</p> </div>
		<div align=center ng-style="chart" class="gbox2"> <nvd3 options="options6" data="data6"></nvd3> </div>
	
	</div>
</div>
</div>

<div class="dashbox2" style="height: unset !important;">
<div style="background: {{decry.masterConfig.rptdivheaderclr}};width: 100%;border-radius: 8px 8px 0px 0px;padding: 15px;height:53px;" align="left">
<p style="color: {{decry.masterConfig.rptdivheaderfontclr}};margin: 0px" class="useract">ALL USERS</p>
<div class="usersactivity" >
   				<!-- <input  ng-model="globalSearch"  type="text" 
                 class="searchuser" 
                 placeholder="Search Users" 
                 name="searchName"
                 autocomplete="off"
                 style="background-image: url('lib/Images/searchicon.png');background-size: 20px;background-position-x: 5px;margin-top: -26px !important;margin-right: -2px !important;" />
                 -->
         </div>
</div>


    <div style="margin: 0px 0 20px 0;padding: 0 4px 4px 4px;background-color:{{decry.masterConfig.divbgcolor}};">
    
    <table ng-table="tableParams" show-filter="true" class="table head" align="center">
     <!--  <thead>
            <th style="text-align: left !important;"> Name</th>
            <th>Last Active</th>
            <th >Started Topics</th>
        </thead> -->
         <tbody>   
        <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
       
          <td  style="width:40%;padding: 20px 0 20px 20px !important;font-family: MyWebFont;text-align: left" data-title="'Name'" 
          data-title="'Name'" sortable="'UNAME'" filter="{ 'UNAME': 'text'}" ><a  style="color:{{decry.masterConfig.mediumtextcolor}};" ng-click="viewuser(row)">{{row.UNAME}}</a></td>
              
              <td  style="width:40%;padding: 20px 0 20px 20px !important;font-family: MyWebFont;text-align: left;color:{{decry.masterConfig.mediumtextcolor}};" 
          data-title="'Email'" sortable="'EMAILID'" filter="{ 'EMAILID': 'text'}" >{{row.EMAILID}}</td>
                 
          <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'Last Active'"
          data-title="'Last Active'" sortable="'LA'" >{{row.LA | moment: 'fromNow'}}</td>
          
          <!--  <td align=center style="width:15.5%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'Started Topics'" 
           data-title="'Started Topics'" sortable="'TNO'"  >{{row.TNO}}</td> -->
          
          
         
        </tr>
         <tr>
            <td ng-show="$data.length == 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="4">
              There is nothing here, yet 
            </td>
        </tr>
        </tbody>
      </table>
      </div>


</div>
</div>


</div>

</div>

</div>

<div class="footer">
</div>

</div>
<style>
.input-filter::placeholder   { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: #fff;
	  opacity: 1; /* Firefox */
	}
</style>
