<div>
<div ng-show="loading" class="loader loader-default is-active" ></div>
<div class="addobjectmodal">

<div class="modal-content">
<!-- <div class="modal-header" style="background-color:#393939;">
<button type="button" class="close closebtn" data-dismiss="modal" ng-click="close()" aria-label="Close"><span >&times;</span></button>
<h3 class="modaltitle1">User Notification</h3>
</div> -->
<div class="modal-body" style="overflow:hidden ! important;background-color:{{decry.masterConfig.divbgcolor}} !important;padding: 40px;">


<div align=center class="textdiv" style="display: grid;margin: 17px 0px 0px 0px;padding: 0px;width: 100%">
  <p ng-if="!online" style="position:fixed;font-size:12px;margin: -14px 0 0px 0px;font-family:MyWebFont1;color:red;">Please check your internet connection!</p>
<p ng-if="error == true && online" style="position:fixed;font-size:12px;margin: -14px 0 0px 0px;font-family:MyWebFont1;color:red;">Please enter the Message Title </p>
<p class="texttitle" style="width: auto;">Message Title </p>
<input  name="ntitle" ng-model="mtitle" maxlength="100" style="overflow:hidden; resize:none;"></input>
</div>
<div align=center class="textdiv">
<p ng-if="error1 == true && online" style="position:fixed;font-size:12px;margin: -14px 0 0px 0px;font-family:MyWebFont1;color:red;">Please enter the Message Description </p>
<p class="texttitle" style="width: auto;">Message Description </p>
<!-- <input  name="ntitle" ng-model="mdesc" style="overflow:hidden; resize:none;"></input> -->
<textarea  maxlength="200" name="ntitle" ng-model="mdesc" style="overflow:hidden; resize:none;border: 1px solid {{decry.masterConfig.mediumborderclr}};padding: 5px;" rows="4" cols="1"></textarea>
</div>
<div align=center class="textdiv" style="display: block;" >
  <input style="float:left;margin:  0px 5px 0 0;" ng-click="url()" type="checkbox" name="" value=""> <p style="margin: -2px 0 0px 0px;font-family:MyWebFont1;float:left;color:{{decry.masterConfig.darktextcolor}};"> Include a link</p>
</div>
<div ng-if="link" align=center class="textdiv">

 <p ng-if="error3 == true && online" style="position:fixed;font-size:12px;margin: -14px 0 0px 0px;font-family:MyWebFont1;color:red;">Please enter a valid URL </p>
<p class="texttitle" style="width: auto">URL</p>
<input type="text" ng-pattern="regex"  name="obj.url" ng-model="obj.url" style="overflow:hidden; resize:none;"></input>

</div>

<div class="modal-footer" style="border: none !important;padding: 15px 0px;">
<div align=center style="text-align: right;">
<button class="button1" ng-disabled="!online" ng-click="sendmsg()"> Send </button>
<button class="button2" ng-disabled="!online" ng-click="close()" style="margin: 8px 5px 0px 0px;"> Cancel </button>
</div>
</div>
</div>
</div>



</div>

</div>
