<style>
.md-datepicker-button
{
visibility: hidden;
}
.md-datepicker.md-default-theme, md-datepicker
{
background: unset;
}
.md-datepicker-input-mask 
{
width: 308px;
}
.md-datepicker-calendar 
{
width: 308px;
}



</style>
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
	<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>
<div ng-show="loading" class="loader loader-default is-active" ></div>
<div id="content" ng-style="second" style="background-color:{{decry.masterConfig.pagebgcolor}};">

<div class="container-fluid" style="padding: 0 0 30px 30px;">
<nav aria-label="breadcrumb" role="navigation">
			  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
			     <li ><a style="cursor: pointer;" ng-click="loadPage()">{{decry.reports == true ? "Reports" : "Tenants"}}</a></li>
			       <li><a style="cursor: pointer;" ng-click="viewtenant()">{{decry.reports == true ? "Users Based" : decry.tenant}}</a>
			      </li> 
			    <li style="color:{{decry.masterConfig.lighttextcolor}};">{{user}}</li>
			  </ol>
			</nav>
<!--  <h3 style="margin:30px 0px 37px 15px; color: #606060; font-size: 14px; font-family: MyWebFont1;">
<span style="color: #b2b2b2;">Reports ></span><a href="#userreport" ng-click="loading = true"> User Reports </a> > {{userdetails.UNAME}}</h3> -->


<div style="height: 90px; background: {{decry.masterConfig.divbgcolor}};max-width: 1600px;min-width: 626px;width: 96%;border-radius: 4px;border-bottom: 1px solid {{decry.masterConfig.mediumborderclr}};margin: 0 0 15px 0px;">
<img src="lib/Images/pic1.png" width="70px" height="auto" style="margin: 10px 0 0 10px;float:left;">
<p style="float:left;margin:20px 0 0 10px;font-size: 18px;color: {{decry.masterConfig.darktextcolor}}">{{ user }}<br> <span style="font-size: 13px;color: {{decry.masterConfig.mediumtextcolor}};">{{ email }} </span></p>

<div style="float: right;display: flex;">
	<img src="lib/Images/export.png" ng-if="!certlist" ng-style="decry.reports == true? {'position':'absolute'} : {'position':'unset'}" style="height: 28px;margin: 31px 5px 0 0;
	" ng-click="exportcsv()">
<p ng-if="decry.reports == true" style="padding: 35px;float: right;">TENANT NAME : {{decry.tname}}</p>
</div>
</div>

<div class="ausertopic"  style="background-color:{{decry.masterConfig.divbgcolor}};min-height: 57px;width: 96%;">
<!-- <button ng-click="overview = true;certlist = false;" class="{{overview == true ? 'auserbactive' : 'auserbinactive'}}" > OVERVIEW </button>
<button ng-click="overview = false;certlist = true;" class="{{certlist == true ? 'auserbactive' : 'auserbinactive'}}" > {{ ctype === '0' ? 'CERTIFICATES' : 'BADGES'}} </button>
 -->
<ul class="viewscrollheading" style="padding: 0 29%; margin: 0;justify-content: center;border-bottom: 1px solid {{decry.masterConfig.lightborderclr}};">
						<li class='{{ overview == true ? "viewlistactive" : "listinactive"}} '
							style=" padding: 8px 6%"><a
							ng-click="overview = true;certlist = false;"
							class='listinactive '>OVERVIEW</a></li>
						<li class='{{ certlist  == true ? "viewlistactive" : "listinactive"}} '
							style=" padding: 8px 6%"><a
							ng-click="overview = false;certlist = true;"
							class='listinactive '>{{ ctype === '0' || ctype === 0  || ctype === undefined ? 'CERTIFICATES' : 'BADGES'}}</a></li>
					
					</ul>	

</div>

<div ng-if="certlist" style="background: {{decry.masterConfig.divbgcolor}};max-width: 1600px;min-width: 626px;width: 96%;border-radius:  0px 0px 8px 8px;padding: 15px 0 0 0;overflow:hidden;margin-bottom: 60px;">
	<div ng-if="userdetails.certlist.length == 0" align=center>
	<p style="color: {{decry.masterConfig.darktextcolor}};font-size:14px;margin: 10px;">No {{ ctype === '0' || ctype === 0  || ctype === undefined ? 'certificates' : 'badges'}} to display</p>
	</div>
	
	<div ng-if="userdetails.certlist.length > 0" align=center >
	
		<div  ng-repeat="certificate in userdetails.certlist" class="certs" >
		<div class="cimagediv">
		<img src="lib/Images/badges.png" class="cimage"> 
		</div >
		<div ng-if="ctype === '0' || ctype === 0" class="cheader" >
		<p ng-click=""   style="font-size:13px;margin: 7px 0 0 0;padding:0;text-align:left;float:left;color:{{decry.masterConfig.darktextcolor}};cursor: unset !important;"> {{certificate.TN}}</p>
		</div>
		<div ng-if="ctype === '1' || ctype === 1" class="cheader" >
		<p style="font-size:13px;margin: 7px 0 0 0;padding:0;text-align:left;float:left;color:{{decry.masterConfig.darktextcolor}};cursor: unset !important;"> {{certificate.TN}}</p>
		</div>
		<div class="cfooter">
		<p style="text-align:left;font-size:11px;font-family:MyWebFont1;">Completed on {{certificate.CDATE | date:'MM-dd-yyyy'}}</p>
		</div>
		</div>

	</div>

</div>

<div ng-if="overview" style="height: 160px; background: {{decry.masterConfig.divbgcolor}};max-width: 1600px;min-width: 626px;width: 96%;border-radius: 0px 0px 8px 8px;padding: 15px 0;">

<div align=center style="width: 20%;border-right: 1px solid {{decry.masterConfig.lightborderclr}};margin: 00px 0;height: 130px;float:left;">
<img src="lib/Images/timer.png" width="20px" height="auto" style="margin: 10px 0 0 0;">
<p style="margin:20px 0 0 0px;font-size: 14px;color: {{decry.masterConfig.mediumtextcolor}};">Last Active</p>
<p style="margin:10px 0 0 0px;font-size: 18px;color: {{decry.masterConfig.darktextcolor}};">{{LA | date:'dd MMM, yyyy' }}</p>
</div>

<!-- <div ng-show="decry.reports != true" align=center style="width: 20%;border-right: 1px solid {{decry.masterConfig.lightborderclr}};margin: 00px 0;height: 130px;float:left;">
<img src="lib/Images/assigned.png" width="24px" height="auto" style="margin: 10px 0 0 0;">
<p style="margin:20px 0 0 0px;font-size: 14px;color: {{decry.masterConfig.mediumtextcolor}};">Courses not started</p>
<p style="margin:10px 0 0 0px;font-size: 18px;color: {{decry.masterConfig.darktextcolor}};">{{tns}}</p>
</div> -->

<div align=center style="width: 20%;border-right: 1px solid {{decry.masterConfig.lightborderclr}};margin: 00px 0;height: 130px;float:left;">
<img src="lib/Images/inprogress.png" width="24px" height="auto" style="margin: 10px 0 0 0;">
<p style="margin:20px 0 0 0px;font-size: 14px;color: {{decry.masterConfig.mediumtextcolor}};">Courses in Progress</p>
<p style="margin:10px 0 0 0px;font-size: 18px;color: {{decry.masterConfig.darktextcolor}};">{{tinprogress}}</p>
</div>

<div align=center style="width: 20%;border-right: 1px solid {{decry.masterConfig.lightborderclr}};margin: 00px 0;height: 130px;float:left;">
<img src="lib/Images/tcompleted.png" width="24px" height="auto" style="margin: 10px 0 0 0;">
<p style="margin:20px 0 0 0px;font-size: 14px;color: {{decry.masterConfig.mediumtextcolor}};">Courses Completed</p>
<p style="margin:10px 0 0 0px;font-size: 18px;color: {{decry.masterConfig.darktextcolor}};">{{tcompleted}}</p>
</div>

<div align=center style="width: 20%;margin: 00px 0;height: 130px;float:left;">
<img src="lib/Images/badges.png" width="24px" height="auto" style="margin: 10px 0 0 0;width: 30px;">
<p style="margin:20px 0 0 0px;font-size: 14px;color: {{decry.masterConfig.mediumtextcolor}};">{{ ctype === '0' || ctype === 0 || ctype === undefined ? 'Certificates' : 'Badges'}}</p>
<p style="margin:10px 0 0 0px;font-size: 18px;color: {{decry.masterConfig.darktextcolor}};">{{userdetails.certlist.length}}</p>
</div>

</div>

<!-- <div ng-show="overview && decry.reports != true"  style="max-width: 1600px;min-width: 626px;width: 96%;margin-top: 15px;margin-bottom: 70px;">
<div style="background: {{decry.masterConfig.rptdivheaderclr}};height: 53px;border-radius: 8px 8px 0px 0px;">
<div style="float: left">
<p style="color: {{decry.masterConfig.rptdivheaderfontclr}};margin: 16px 25px;" class="useract">ALL COURSES</p></div>
	<div  >
		 </div>
</div>

<div style="background-color:{{decry.masterConfig.divbgcolor}};padding: 0px 4px 4px 4px">
		
    <table ng-table="tableParams" show-filter="true" class="table head" align="center">
     
         <tbody>   
        <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
       
         <td align=center style="width:10%;color: #767676;text-align:left;padding: 8px 0 8px 10px !important;"><img style="width: 90px;height: 45px;" src="{{imgurl}}{{orgidlow}}-resources/images/topic-images/{{row.TID}}.png"></td>
       
          <td align=center style="text-align:left;width:30%;padding: 0px 0 0px 10px !important;font-family: MyWebFont;color:  {{decry.masterConfig.darktextcolor}};" data-title="'Course Name'"
          sortable="'TN'" filter="{ 'TN': 'text'}" ><a style="color: {{decry.masterConfig.mediumtextcolor}};" ng-class="!online ? 'isDisabled': ''" ng-click="topicuserview(row)">{{row.TN}}</a></td>
          <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'Started on'" 
          sortable="'SON'" >{{row.SON | date:'MM-dd-yyyy'}}</td>
           <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'Status'" 
           sortable="'CS'"  >{{row.CS == 0 ? "In-Progress" : "Completed"}}</td>
           <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'Completed on'" 
           sortable="'CON'"  >{{row.CON | date:'MM-dd-yyyy'}}</td>
          
         
        </tr>
         <tr>
            <td ng-show="$data.length == 0" style="color: {{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="5">
				There is nothing here, yet
            </td>
        </tr>
        </tbody>
      </table>
      
   </div>
    
   </div> -->
<div ng-show="overview"  style="max-width: 1600px;min-width: 626px;width: 96%;margin-top: 15px;margin-bottom: 70px;">
	<div class="ausertopic"  style="background-color: {{decry.masterConfig.divbgcolor}};min-height: 49px;margin-top: 0px;">
                        
		<div style="float: left;width: 360px;">
		<ul class="viewscrollheading" style="padding: 0; margin: 0px 0 0 1px;">
					<li class='{{ coursesreport == true ? "viewlistactive" : "listinactive"}} '
					  style=" padding: 8px 6%"><a
					  ng-click="showlist('course')"
					  class='listinactive '>COURSES</a></li>
					<li class='{{ objectsreport == true ? "viewlistactive" : "listinactive"}} '
					  style=" padding: 8px 6%"><a
					  ng-click="showlist('content')"
					  class='listinactive '>CONTENT & COLLATERAL</a></li>
					
				  </ul>	
			</div>		  
	  </div>
	
	<div ng-if="overview && coursesreport == true" style="background-color:{{decry.masterConfig.divbgcolor}};padding: 0px 4px 4px 4px">
			
		<table ng-table="tableParams" show-filter="true" class="table head" align="center">
		
			 <tbody>   
			<tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
		   
			 <td align=center style="width:10%;color: #767676;text-align:left;padding: 8px 0 8px 10px !important;"><img style="width: 90px;height: 45px;" src="{{imgurl}}{{orgidlow}}-resources/images/topic-images/{{row.TID}}.png"></td>
		   
			  <td align=center style="text-align:left;width:30%;padding: 0px 0 0px 10px !important;font-family: MyWebFont;color:  {{decry.masterConfig.darktextcolor}};" data-title="'Course Name'"
			  sortable="'TN'" filter="{ 'TN': 'text'}" ><a style="color: {{decry.masterConfig.mediumtextcolor}};" ng-class="!online ? 'isDisabled': ''" ng-click="topicuserview(row)">{{row.TN}}</a></td>
			  <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'Started on'" 
			  sortable="'SON'" >{{row.SON | date:'MM-dd-yyyy'}}</td>
			   <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'Status'" 
			   sortable="'CS'"  >{{row.CS == 0 ? "In-Progress" : "Completed"}}</td>
			   <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'Completed on'" 
			   sortable="'CON'"  >{{row.CON | date:'MM-dd-yyyy'}}</td>
			  
			 
			</tr>
			 <tr>
				<td ng-show="$data.length == 0" style="color: {{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="5">
					There is nothing here, yet
				</td>
			</tr>
			</tbody>
		  </table>
		  
	   </div>
	<div ng-if="overview && objectsreport == true" style="background-color:{{decry.masterConfig.divbgcolor}};padding: 0px 4px 4px 4px">
			
		<table  ng-table="tableParams1" show-filter="true" class="table head" align="center">
        
            <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
				<td align=center style="width:2%;color: {{decry.masterConfig.pagebgcolor}};text-align:center;padding: 8px 0 8px 10px !important;">
					<div class="ng-scope" ng-if="row.OTYPE == 'video' || row.OTYPE == 'vimeo' || row.OTYPE == 'youtube' || row.OTYPE == 'scorm'">
					<div class="videomark ng-scope"></div>
					</div> 
					<div class="ng-scope" ng-if="row.OTYPE == 'pdf'" >
					 <div class="pdfdrak cmngrey ng-scope"></div>
					 </div>
					<div class="ng-scope" ng-if=" row.OTYPE == 'html'">
					<div class="htmldrak cmngrey ng-scope"></div>
					</div>
					<div class="ng-scope" ng-if="row.OTYPE == 'audio'">
					<div class="audiodark cmngrey ng-scope"></div>
					</div>
					 <div class="ng-scope" ng-if="row.OTYPE == 'interactivity'">
					<div class="interdrak cmngrey ng-scope"></div>
					</div>
					 <div class="ng-scope" ng-if="row.OTYPE == 'quiz'">
					<div class="quizdrak cmngrey ng-scope"></div>
					</div>
					</td>
             <td  style="padding: 15px 0 15px 10px !important;font-family: MyWebFont;display: flex;align-items: left;color:{{decry.masterConfig.mediumtextcolor}};"
             data-title="'Title'" sortable="'ON'">
             
           {{row.ON}}
              </td>
                <td align=center style="width:30%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                data-title="'Viewed Date'" sortable="'CON'" >{{row.CON | date:'MM-dd-yyyy'}}</td>
                <td align=center style="width:30%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                data-title="'Duration'" sortable="'mins'">{{row.mins}} min {{row.secs}} sec</td>
            </tr>
            <tr>
                <td ng-show="$data.length == undefined || json1 === null || json1 === 'null'" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color:{{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="6">
                  There is nothing here, yet!
                </td>
            </tr>
          </table>
		  
	   </div>
	   </div>  

</div>
</div>
<div class="footer">
</div>
</div>
<style>
.input-filter::placeholder   { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: #fff;
	  opacity: 1; /* Firefox */
	}
</style>

<!-- </div> -->
<!-- </div> -->



<!-- </div> -->

<!-- </div>
 -->


