<!-- Added for manage users screen -->
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
<div ng-show="loading" class="loader loader-default is-active"></div>

<div style="overflow: hidden;padding: 0 0 60px 0;">

<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>

	<div ng-if="!online" align=center class="offline">
		<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
    </div>
<div id="content" ng-style="second" style="background-color:{{decry.masterConfig.pagebgcolor}};">

<div style="width:95%;overflow:hidden;margin: 0 2.5%;" class="userhearder">
 <div>
 <nav aria-label="breadcrumb" role="navigation" style="margin-left:0px;">
			  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
           <li ><a style="cursor: pointer;" href="#engage"  ng-click="loading = true">Engage</a></li>
           <li ><a style="cursor: pointer;" href="#engage"  ng-click="loading = true" >{{decry.tenant}}</a></li>
			    <li style="color:{{decry.masterConfig.lighttextcolor}};">Users</li>
			  </ol>
			</nav>
<!-- <h3 style="margin: 35px 0 0 15px;color:#484848;font-size:14px;"><span style="color:#b2b2b2;">Engage  ></span> With Users</h3> -->
 </div>
<div class="container-fluid " style="padding:0;">

  		<div class="usersactivity" >
   				<!-- <input ng-model="globalSearchTermAuto"
                 type="text" 
                 class="searchuser" 
                 placeholder="Search Users" 
                 name="searchName"
                 autocomplete="off"
                 style="background-image: url('lib/Images/searchicon.png');background-size: 20px;background-position-x: 5px;margin: -25px 0 !important;" /> -->
                 <button ng-disabled="!online" ng-if="multiusers" class="notifybutton" style="float:right;margin: -25px 10px 0 0;" ng-click="multiusermsg()"> Send </button>
         </div>
 
      <div style="margin: 20px 0 20px 0;padding: 0 4px 4px 4px;background-color:{{decry.masterConfig.divbgcolor}};">
      <table ng-table="tableParams" show-filter="true" class="table head" align="center" >
     <!--    <thead>
        <th style="border:none;"></th>
        <th style="border:none;float: left;margin-left: 23px;">Name</th>
            <th style="border:none;">Email</th>
            <th style="border:none;">Last Active</th>
            <th style="border:none;">Status</th>
     </thead> -->
        <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
       		
       	<td align=center  style="width:5%;padding: 15px 0 15px 0px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  >
       	<input class="clinkDisabled{{ row.US != '1' ? '1' : '0'  }}" ng-disabled="!online"  ng-click="usersel(row,$index)" type="checkbox" name="" value="" ng-checked="row.checked">
       	</td>
       		
          <!-- <td  style="width:25%;padding: 15px 0 15px 10px !important;font-family: MyWebFont1;" data-title="'Name'" ><img src="lib/Images/pic.png" class="profilepic"><a class="linkDisabled{{row.LA == undefined || row.US != '1' ? '1' : '0'  }} " ng-click="usermsg(row.EID)" style="color: #101010;cursor:pointer;">{{row.UNAME}}</a></td> -->
        <td  style="width:90%;padding: 15px 0 15px 0px !important;font-family: MyWebFont;display: flex;flex-wrap: nowrap;align-items: center;"
        data-title="'Name'" sortable="'UNAME'" filter="{ 'UNAME': 'text'}">
         <div style="float: left;margin-left: -20px;margin-right: -8px;"><img ng-if="$odd" src="lib/Images/pic1.png"   class="profilepic">
          <img ng-if="$even" src="lib/Images/pic.png"  class="profilepic"></div><a class="linkDisabled{{ row.US != '1' ? '1' : '0'  }} " ng-click="usermsg(row)" style="color:{{decry.masterConfig.mediumtextcolor}};cursor:pointer;">{{row.UNAME}}</a></td>
           
          <td align=center  style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" 
          data-title="'Email'" sortable="'EMAILID'" filter="{ 'EMAILID': 'text' }" >{{row.EMAILID}}</td>
         
          <td align=center  style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
          data-title="'Last Active'" sortable="'LA'"  >{{row.LA | moment: 'fromNow'}}</td>
          
          <td  align=center  style="width:15%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  
           data-title="'Status'" sortable="'US'" > <div class="tcircle{{row.US == '1' ? '1' : '0'}}" style="display:inline-block;"></div> {{row.US == '1' ? 'Active' : 'Disabled'}}</td>
         
        </tr>
        <tr>
            <td ng-show="$data.length == 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="5">
              There is nothing here, yet
            </td>
        </tr>
      </table>
      </div>
    
</div>
</div>
</div>
</div>

<div class="footer">
</div>

</div>
<style>
.input-filter::placeholder   { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: #fff;
	  opacity: 1; /* Firefox */
	}
</style>

