<!-- Added for view user screen -->


<div ng-show="loading" class="loader loader-default is-active"></div>

<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			ng-click="close()" aria-label="Close"
			style="text-shadow: none; font-family: MyWebFont1; font-weight: lighter; font-size: 26px; color: {{decry.masterConfig.darktextcolor}} !important; margin-top: -5px;">
			<span>&times;</span>
		</button>

	</div>

	<div align=center  class="modal-body" style="overflow: hidden; background-color: {{decry.masterConfig.divbgcolor}} !important;">
		<div align=center style="width: 100%; max-width: 1400px; overflow: hidden; margin: 0%; text-align: left;">
			<div align=center>

				<div align=center style="overflow: auto;height: 600px;margin-top: -15px;">
				<h3 style="text-align: left;padding: 6px 20px;border-bottom: 1px solid {{decry.masterConfig.mediumborderclr}};margin: 9px 0;font-family: 'MyWebFont1';"> {{topicname}}
				</h3>
					<div class="box2 " style="width: 98%;height: auto; margin: 0 0% 20px 1.25%;border: 1px solid {{decry.masterConfig.darkborderclr}};" ng-repeat="nuggets in topicjson.nuggets track by $index">
						<div align=left class="dbox2"
							style="border-radius: 8px 8px 0px 0px;padding-left: 15px;">
							<p class="dboxp1">{{nuggets.ntitle}}</p>
						</div>
						<!-- <div style = "width:100%; overflow-x:auto;">
							<nvd3 options="nuggets.option" data="nuggets.data" width="100%"></nvd3>
						</div> -->
						<div ng-repeat="object in nuggets.objects">
						<div class="uibobject"
												ng-style="{'border-bottom': nuggets.objects.length - 1 == $index ? 'none' :'' }"	style="border-top: none; border-left: none;border-right: none; height: 62px;padding: 14px;">

													<div class="ng-scope" ng-if="object.otype=='video' || object.otype=='youtube' || object.otype=='vimeo' || object.otype =='scorm'">

														<div class="videomark ng-scope" style="margin: 0px 00px 5px 0px;"></div>
													</div>
													<div class="ng-scope" ng-if="object.otype=='quiz'">

														<div class="quizdrak cmngrey ng-scope" style="margin: 0px 00px 5px 0px;"></div>
													</div>
													<div class="ng-scope"
														ng-if="object.otype=='pdf'">

														<div class="pdfdrak cmngrey ng-scope" style="margin: 0px 00px 5px 0px;"></div>
													</div>
													<div class="ng-scope"
														ng-if="object.otype=='html'">

														<div class="htmldrak cmngrey ng-scope" style="margin: 0px 00px 5px 0px;"></div>
													</div>
													<div class="ng-scope"
														ng-if="object.otype=='interactivity' ">

														<div class="interdrak cmngrey ng-scope" style="margin: 0px 00px 5px 0px;"></div>
													</div>
													<div class="ng-scope"
														ng-if="object.otype=='audio' ">

														<div class="audiodark cmngrey ng-scope" style="margin: 0px 00px 5px 0px;"></div>
													</div>
												
														<p class="usreinfotext" >{{object.otitle }}</p>
												<!-- 	 <div class="progress">
													    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
													      <span class="sr-only">70% Complete</span>
													    </div>
													  </div> -->
													  <div align="left" style="width: 38%;float: right;margin: 7px 0 0 0;">
													  <div class="progress">
													  <div class="progress-bar" role="progressbar" ng-style="object.per" aria-valuenow="0" aria-valuemin="0" aria-valuemax="object.oduration"></div>
													</div>
													<div style="float: left;min-width: 47px;max-width: 34%;line-height: 25px;">{{  object.min == null ? 0 : object.min }} min   {{  object.sec == null ? 0 : object.sec }} sec</div>
													  <div style="float: right;line-height: 25px;" ng-if="object.oduration != null">{{object.tmin === undefined ? 0: object.tmin}} min {{object.tsec === undefined ? 0 : object.tsec}} sec</div>
													  </div>
													 
				


												</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer"></div>
</div>




