<style>
.modal-dialog {
	margin: auto !important;
	width: 700px !important;
}

input[type="radio"]:checked+label {
	border: 3px solid #f5a138;
	font-weight: bold;
}
</style>


<div>
	<div class="objectmodal">
		<div ng-show="loading" class="loader loader-default is-active"></div>
		<div class="modal-content"
			style="background-color: white !important; width: 700px;">
			<div class="modal-header"
				style="padding: 0px 10px 0px 15px; background-color: #393939; color: white; font-family: MyWebFont1;">
				<button type="button" class="close"
					style="margin: 14px 8px; font-family: MyWebFontRegular; font-size: 31px; font-weight: unset; text-shadow: 0 0 0 #fff;"
					data-dismiss="modal" ng-click="close()" aria-label="Close">
					<span>&times;</span>
				</button>
				<!-- <h3 class="modaltitle">Object Preview</h3> -->
				<button class="edbtn" ng-click="editobjectfun()" ng-if="editobject" style="margin: 15px 8px 0px 0px; width: 100px">Edit</button>
				<h3 style="padding-bottom: 10px; font-size: 18px">{{ objectdetails.otitle }}</h3>
			</div>
			<div class="modal-body">
				<div ng-if="objectdetails.otype == 'video' && !objedit">

					<video id="myVide"  height="500px" width="100%" controlsList="nodownload noremoteplayback" controls >
						<source src="{{objectdetails.ourl}}" type="video/mp4">
					</video>

				</div>
				<div ng-if="objectdetails.otype == 'youtube' && !objedit">

                <iframe  width="100%" height="450px" type="text/html" src={{embid}} frameborder="0" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" ></iframe> 
<!-- <embed width="420" height="315" src={{objectdetails.embid}}> -->
					<!-- <iframe  type="text/html" width="720" height="405" src="https://www.youtube.com/embed/bDOVSReXR1M" frameborder="0" ></iframe>  -->

				</div>
				<div ng-if="objectdetails.otype == 'vimeo' && !objedit">

                <iframe  width="100%" height="450px" type="text/html" src={{embid}} frameborder="0" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" ></iframe> 
<!-- <embed width="420" height="315" src={{objectdetails.embid}}> -->
					<!-- <iframe  type="text/html" width="720" height="405" src="https://www.youtube.com/embed/bDOVSReXR1M" frameborder="0" ></iframe>  -->

				</div>
				<div  ng-if="objectdetails.otype == 'audio' && !objedit" align="center">    
          		 
					  <audio controls style="width: 667px;margin-top: 5%;">
						  <source src="{{objectdetails.ourl}}"  type="audio/mpeg">
						</audio>    		
          		</div>	
          		
          		<div ng-if="(objectdetails.otype == 'pdf' || objectdetails.otype == 'html' || objectdetails.otype == 'interactivity' || objectdetails.otype == 'scorm') && !objedit">
						  <iframe  width="100%" height="450px"src="{{objectdetails.url}}" style="border: none;"></iframe> 
				</div>
				
				
				<div ng-if="objedit">
					<div style="margin: 20px 19px; overflow: hidden;">
						<p ng-if="perror1"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">
							Title cannot be empty</p>
						<p style="padding: 6px 0 0 0; float: left; width: 100px; color: {{decry.masterConfig.darktextcolor}}; text-align: left;">Title
							:</p>
						<input type="text" ng-model="objectdetails.otitle"
							style="float: left; width: 530px; color: {{decry.masterConfig.darktextcolor}};">
					</div>
					<div style="margin: 20px 19px; overflow: hidden;" ng-if="objectdetails.otype == 'video' || objectdetails.otype == 'audio' || objectdetails.otype == 'vimeo' || objectdetails.otype == 'youtube' ">
					<p ng-if="perror3"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">
							Description cannot be empty</p>
						<p style="padding: 6px 0 0 0; float: left; width: 100px; color: {{decry.masterConfig.darktextcolor}}; text-align: left;">Description
							:</p>
						<textarea
							style="float: left; width: 530px; color: {{decry.masterConfig.darktextcolor}}; resize: none; border: 1px solid #d1d1d1; padding: 6px;"
							ng-model="objectdetails.odescription"></textarea>
					</div>
					<div style="margin: 20px 19px; overflow: hidden;">
						<p ng-if="perror2"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">
							Seconds should be less than or eqaul to 60</p>
						<p ng-if="perror5"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">
							Duration should be greater than 0</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color: {{decry.masterConfig.darktextcolor}}; text-align: left;">Duration
							:</p>
							<div style="display: flex;margin-top: -8px;">	
								<p
								style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 95px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Mins</p>
								<p
								style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 400px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Seconds</p>
								</div>
							<div style="display: flex;">
								<input ng-keypress="onlyNumbers($event)" ng-model="objectdetails.oduration" min="0"
								style="float: left; width: 80px;margin-right: 15px; color:{{decry.masterConfig.darktextcolor}};" type="number"
								name="nduration" ></input>
								
							<input ng-keypress="onlyNumbers($event)" min="0"  
								style="float: left; width: 80px; color:{{decry.masterConfig.darktextcolor}};" type="number" max="60" value="0" 
								name="nduration" ng-model="objectdetails.secs"></input>
							</div>
						<!-- <input type="number" ng-model="objectdetails.oduration" min="0" 
						max="{{objectdetails.otype === 'pdf' || objectdetails.otype == 'html' || objectdetails.otype == 'interactivity'?10:200}}" 
						onkeydown="return Allowtab(event)"
							style="float: left; width: 80px; color: {{decry.masterConfig.darktextcolor}};">
						<p
							style="color: #767676; margin: 8px 0px 0px 8px; float: left; width: 50px; font-size: 14px;">Mins</p> -->
					</div>
					
					<p ng-if="perror6" style="position:fixed;font-size:12px;margin: -15px 0 0px 112px;font-family:MyWebFont1;color:red;">Zip package not according to specification</p>
					<div  ng-if="objectdetails.otype != 'vimeo' && objectdetails.otype != 'youtube' " style="margin: 0px 20px 15px 118px; overflow: hidden; padding: 40px; border: 2px dashed {{decry.masterConfig.mediumborderclr}};"
						align="center">
						<button class="browsebutton" ngf-select="fileselect()"
							ngf-pattern="'*'" ngf-accept="{{filetype}}" ng-model="objectdetails.file"
							name="objectdetails.file">Browse</button>
							<br>
     						
					</div>
					
    				<p style="float: left; width: 50%;margin: -55px 0 0 215px !important;text-align: center;font-family: 'MyWebFont1';color: {{decry.masterConfig.darktextcolor}};">{{objectdetails.file.name}}</p>
					
					<div style="margin: 20px 19px; overflow: hidden;" ng-if="objectdetails.otype == 'vimeo' || objectdetails.otype == 'youtube' ">
					<p ng-if="verror4 == true" style="position: fixed; font-size: 12px; margin: -15px 0 0px 161px; font-family: MyWebFont1; color: red;">Embed ID cannot be empty</p>
					
				
						
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color: {{decry.masterConfig.darktextcolor}}; text-align: left;">Embed ID:</p>
						<input type="text" style="float: left; width: 530px; color: {{decry.masterConfig.darktextcolor}};  border: 1px solid #d1d1d1;"	ng-model="objectdetails.embeddedcode" ></input>
					</div>
					
					<div style="border: none;">
						<div align="center">
							<button class="button1" style="width: 100px" ng-disabled="disabled" ng-click="saveobj()">Save</button>
							<button class="button2" style="width: 100px" data-dismiss="modal" ng-click="close()"
								aria-label="Close">Cancel</button>
						</div>
					</div>
				</div>
				
				
				
				
				<div ng-if="objectdetails.otype == 'quiz' && !objedit" class="qarea">
					<div style="height: 100%;" ng-show="qsli">

						<!-- this div for ng-repeat question -->
						<div class="qzcls"
							ng-repeat="question in dtitm.qitems | filter:{ iid: cntqop }:true">
							<p style="color: {{decry.masterConfig.lighttextcolor}};">{{cntqop}} of {{tlqs}}</p>
							<h2 style="font-weight: normal; font-size: 16px; color: {{decry.masterConfig.darktextcolor}};">
								<span ng-bind-html="question.istem"> </span>
							</h2>
							<div class="ng-scope" ng-repeat="qopt in question.iopts"
								style="margin-bottom: 15px;">

								<ul>
									<li><section>
											<input type="radio" name="opt" id={{qopt.content}}
												ng-click="chngeopt(question.iid,qopt.correct)"
												style="display: none"> <label for={{qopt.content}}
												class="label">{{qopt.content}}</label>
										</section></li>
								</ul>

							</div>

						</div>
						<div class="qzbox">
							<div>
								<button class="button1" ng-click="nextfn()"
									ng-disabled="disablebtn" ng-show="nebtn" disabled="disabled"
									ng-model="cntqop">Next</button>
								<button class="button1" ng-click="submitfn()"
									ng-disabled="disablebtn" ng-show="subbtn">Submit</button>
								<button class="button2" data-dismiss="modal" ng-click="close()"
									aria-label="Close">Exit</button>
							</div>
							<div>
								<br />
							</div>
						</div>
					</div>

					<div ng-show="overview" align="center">
						<div id="score">
							<br> <br>
							<p>Your Score</p>
							<div class="clearfix">

								<div class="c100 p{{pernt}} big orange">
									<span>{{pernt}}%</span>
									<div class="slice">
										<div class="bar"></div>
										<div class="fill"></div>
									</div>
								</div>

							</div>
							<p style="margin: 20px 0 0 0" ng-show="tryp">AW Snap! You
								need to score at-least 75% to complete the quiz.</p>
							<p style="margin: 20px 0 0 0" ng-show="cngp">Congratulations!!!
								You have successfully completed the quiz.</p>
							<div>
								<button class="button1" ng-click="tryfn()" ng-show="trybtn">try
									again</button>
							</div>
							<div>
								<button class="button2" data-dismiss="modal" ng-click="close()"
									ng-show="exitbtwt" aria-label="Close">Exit Quiz</button>
								<button class="button2" data-dismiss="modal" ng-show="exitbt"
									ng-click="close()" aria-label="Close">Exit Quiz</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<script>

////var videoPlayer = document.getElementById('myVide');

// Auto play, half volume.
//videoPlayer.pause();


//Play / pause.
/*videoPlayer.addEventListener('click', function () {
 if (videoPlayer.paused == false) {
     videoPlayer.pause();
     videoPlayer.firstChild.nodeValue = 'Play';
 } else {
     videoPlayer.play();
     videoPlayer.firstChild.nodeValue = 'Pause';
 }
});*/


</script>


