<!-- Added for manage users screen -->
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
<div ng-show="loading" class="loader loader-default is-active"></div>

<div style="overflow: hidden;padding: 0 0 60px 0;">

<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
  <p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
  </div>
<div id="content" ng-style="second" style="background-color:{{decry.masterConfig.pagebgcolor}};">

<div style="width:95%;overflow:hidden;margin: 0 2.5%;">
 <div>
 <nav aria-label="breadcrumb" role="navigation" style="margin-left:0px;">
			  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
           <li ><a style="cursor: pointer;" ng-click="loadPage()">Content</a></li>
			    <li style="color:{{decry.masterConfig.lighttextcolor}};">{{decry.tname}}</li>
			  </ol>
			</nav>
			<!-- <h3 style="margin: 35px 0 0 15px;color: #606060;font-size: 14px;"><span style="color:#b2b2b2;">Content  ></span> Manage Topics</h3> -->
 </div>
<div class="container-fluid" style="padding:0;">
 
  		<div class="usersactivity">
   				<!-- <input ng-model="globalSearchTermAuto"
                 type="text" 
                 class="searchuser" 
                 placeholder="Search Topics" 
                 name="searchName"
                 autocomplete="off"
                 style="background-image: url('lib/Images/searchicon.png');background-size: 20px;background-position-x: 5px;margin-top: -25px !important;" /> -->
                <!-- <button class="adduserbutton" ng-disabled="!online" ng-if="decry.role !='Instructors'" ng-click="addtopic()"> Add Course </button>
                <button class="adduserbutton" style="width: 180px ! important;" ng-disabled="!online" ng-if="decry.role !='Instructors'" ng-click="addobject()"> Add Content & Collateral </button> -->
               
                <div class="dropdown" style="float: right;text-align:right;margin-right: -18px;" >
                <button   id="dropdownMenuButton"  ng-disabled="!online" ng-if="decry.role !='Instructors'" class="adduserbutton" style="margin:-30px 18px 0 0px;" data-toggle="dropdown" >Add <img src="lib/Images/arrow-down-01-512.png" style="height: 12px;width: 12px;float: right;margin: 4px 20px 0 0;" alt="" /></button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="border: none;border-radius: 0px;min-width:0px;top: 147%;width: 88%;">
                
                    <a class="dropdown-item" style="text-decoration: none;font-size: 15px;" ng-click="addtopic()">Story</a>
                    <a class="dropdown-item" style="text-decoration: none;font-size: 15px;height: auto;" ng-click="addobject()">Quiz</a>
                  </div>
                </div>
         </div>
<div class="ausertopic"  style="background-color: {{decry.masterConfig.divbgcolor}};min-height: 45px;margin-top: 10px;">
          
          <div style="float: left;width: 460px;">
          <ul class="viewscrollheading" style="padding: 0; margin: 0px 0 0 1px;">
                      <li class='{{ allcourses == true ? "viewlistactive" : "listinactive"}} '
                        style=" padding: 8px 6%"><a
                        ng-click="viewtopics()"
                        class='listinactive '>STORIES</a></li>
                      <li class='{{ allobjects == true ? "viewlistactive" : "listinactive"}} '
                        style=" padding: 8px 6%"><a
                        ng-click="allcourses = false;allobjects = true;"
                        class='listinactive '>QUIZZES</a></li>
                      
                    </ul>	
              </div>		  
  </div>
  <div class="atopictable ausertopic" ng-if="allcourses == true" style="margin: 0px 0 90px 0;">
    <table ng-table="tableParams" ng-focus="false" show-filter="true" class="table head" class="table table-condensed table-bordered table-striped" align="center" >
 
          <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'" >

            <td align=left style="width:10%;padding: 15px 0 15px 15px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" 
            >
            <div style="margin: -6px 5px -5px -6px;" align=center>
             <img class="accesskeyimg" src="{{imgurl}}{{orgidlow}}-resources/images/topic-images/{{row.TID}}.png"></div>
            </td>

            <td align=left style="width:25%;padding: 15px 0 15px 15px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" 
            data-title="'Course Name'" sortable="'TN'" filter="{ 'TN': 'text'}" >
            <div style="margin-left: 10px;">
            <a style="color:{{decry.masterConfig.mediumtextcolor}};" ng-class="!online ? 'isDisabled': ''" ng-click="topicdetail(row)" >{{row.TN}}</a>
            </div>
            </td>
            
            <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" 
            data-title="'Last Modified By'" sortable="'CBY'" filter="{ 'CBY': 'text'}" >{{row.CBY}}</td>
            
            <td align=center style="width:15%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  
            data-title="'Last Modified On'" sortable="'CON'"  >{{row.CON | date:'MM-dd-yyyy'}}</td>
            <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" 
            data-title="'Tags'"  >

           <span class="classtags" ng-repeat="service in row.TTAGS">{{service}}</span>
           
  
           </td> 
         <!-- <td align=center style="width:10%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" 
         data-title="" sortable="'PUB'" >
          <div class="tcircle{{row.PUB == '1' || row.PUB == '2' ? '1' : '0'}}" style="display:inline-block;"></div> {{row.PUB == '1' || row.PUB == '2' ? 'Yes' : 'No'}}</td> -->
          
          <td align=center style="width:10%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" 
         data-title="" >
         <button class="addsavebutton1" style="padding: 4px 0;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};background-color: transparent;" ng-disabled="!online" ng-click="publishTopic(row)"> Publish/Unpublish</button></td>
          </tr>
           <tr>
              <td ng-show="$data.length == 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="6">
                  There is nothing here, yet
              </td>
          </tr>
          
        </table>
    </div>
    
    <div  ng-if="allobjects == true" class="ausertopic atopictable">
      <table ng-table="tableParams1" ng-focus="false" show-filter="true" class="table head" align="center" >

       <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'"  >
       <td align=center style="width:2%;color: {{decry.masterConfig.pagebgcolor}};text-align:center;padding: 8px 0 8px 10px !important;">
       <div class="ng-scope" ng-if="row.OD.OTYPE == 'video' || row.OD.OTYPE == 'vimeo' || row.OD.OTYPE == 'youtube' || row.OD.OTYPE == 'scorm'">
       <div class="videomark ng-scope"></div>
       </div> 
       <div class="ng-scope" ng-if="row.OD.OTYPE == 'pdf'" >
        <div class="pdfdrak cmngrey ng-scope"></div>
        </div>
       <div class="ng-scope" ng-if=" row.OD.OTYPE == 'html'">
       <div class="htmldrak cmngrey ng-scope"></div>
       </div>
       <div class="ng-scope" ng-if="row.OD.OTYPE == 'audio'">
       <div class="audiodark cmngrey ng-scope"></div>
       </div>
        <div class="ng-scope" ng-if="row.OD.OTYPE == 'interactivity'">
       <div class="interdrak cmngrey ng-scope"></div>
       </div>
        <div class="ng-scope" ng-if="row.OD.OTYPE == 'quiz'">
       <div class="quizdrak cmngrey ng-scope"></div>
       </div>
       </td>
        <td align=left style="width:20%;padding: 15px 0 15px 15px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" 
        data-title="'Title'" sortable="'OD.ON'" filter="{ 'OD.ON': 'text'}" >
        
        <button style="color:{{decry.masterConfig.mediumtextcolor}};text-align: left;border:none;background-color: unset;font-family: MyWebFont;" ng-disabled="!online" ng-click="viewobject(row)" >{{row.OD.ON}}</a>
        </td>
        <!-- <td align=center style="width:10%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  
        data-title="'Ratings'" sortable="'STAR'"><div style="margin: 0px 0 0px 0px;text-align: left;" star-rating rating-value="row.STAR" max="5"></div></td> -->
        <td align=center data-title="'Featured Content'"  style="width:10%;padding: 15px 0 15px 15px !important;font-family: MyWebFont;align-items: center;">
          <input class="clinkDisabled === 0"
          ng-disabled="!featuredContentLoaded && !(featuredContent.indexOf(row.OBJID) !== -1)" 
          ng-click="selectedRow(row)" type="checkbox" name="" value="" ng-checked="featuredContent.indexOf(row.OBJID) !== -1">
        </td>
        <td align=center style="width:15%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
        data-title="'Last Modified By'" sortable="'OD.CBY'" filter="{ 'OD.CBY': 'text'}" >{{row.OD.CBY}}</td>
        
        <td align=center style="width:15%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  
        data-title="'Last Modified On'" sortable="'OD.MON'"  >{{row.OD.MON | date:'MM-dd-yyyy'}}</td>
        
        <td align=center  style="width:23%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};pointer-events: none;" 
        data-title="'Tags'" > 
      <span class="classtags" ng-repeat="service in row.OD.CGRY.ttags">{{service}}</span> 
          <td align=left style="width:10%;padding: 25px 0 0px 15px !important;font-family: MyWebFont;color:{{decry.masterConfig.darktextcolor}};"
          ng-if="decry.role !='ContentCreators'"  >
          <button class="addsavebutton1" style="padding: 4px 0;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};background-color: transparent;" ng-disabled="!online" ng-click="publishObject(row)"> Publish/Unpublish</button>
          <!-- <button class="addsavebutton1" style="padding: 4px 0;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};background-color: transparent;" ng-disabled="!online" ng-if="row.PUB == undefined || row.PUB == 0 || row.PUB == '0'" ng-click="publishObject(row)"> Publish</button> -->
          <!-- <button class="addsavebutton1" style="padding: 4px 0;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};background-color: transparent;" ng-disabled="!online" ng-if="row.PUB == 1 || row.PUB == '1'" ng-click="unPublishObject(row)"> Unpublish </button> -->
            </td>
      </tr>
      <tr>
          <td ng-show="$data.length == 0" style="color: {{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="7">
              There is nothing here, yet
          </td>
      </tr>
           
         </table> 
      </div>
     
</div>

</div>
</div>

</div>

<div class="footer">
</div>

</div>

<style>
.rem ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: #fff;
	  opacity: 1; /* Firefox */
	}
	.input-filter::placeholder   { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: #fff;
	  opacity: 1; /* Firefox */
	}
	.tags-input .tags{
	box-shadow: unset !important;
	border: none !important;
	}
</style>


