<div>
    <div ng-show="loading" class="loader loader-default is-active" ></div>
    <div class="publishobjectmodal" >
    
    <div class="modal-content">
   
    <div class="modal-body" style="overflow:hidden ! important;background-color:white !important;">
        <div>
            <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close" style="text-shadow:none;font-family: MyWebFont1;font-weight:lighter;font-size: 26px;color: {{decry.masterConfig.darktextcolor}} !important;margin-top: -5px;"><span >&times;</span></button>
        </div>
    <div>
        <button class="close-icon"  type="reset" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        ng-show="tenantssearch" ng-click="tenantssearch=''"  ></button>
         <input class="dropdown-item search1" type="text" onkeypress="return validate(event); " 
         name="tenantssearch" ng-model="tenantssearch" placeholder="Search" ></input>
    </div>
    <div style="height: 300px; overflow: auto;">
            <div class="checkbox checkbox-inline col-sm-4" style="margin:2px 0;float: left; width: 33%;word-wrap: break-word;"
            ng-repeat="item in tenants">
       
              <!-- <input type="checkbox" id="item" ng-click="updateTenant(item)" name="item" ng-checked="publishToTenants.includes(item)"> -->
              <a for="item" ng-click="loadtenant(item.OID)">{{item.OID}}</a>
            </div>
    
    </div>
   
    </div>
    </div>
    
    
    
    </div>
    
    </div>
