<style>
.modal-dialog {
	margin: auto !important;
	width: 700px !important;
}

input[type="radio"]:checked+label {
	border: 3px solid '{{decry.masterConfig.appcolor}}';
	font-weight: bold;
}
</style>

<div>
	<div class="addobjectmodal">
		<div ng-show="loading" class="loader loader-default is-active"></div>
		<div class="modal-content"
			style="overflow: hidden; background-color: {{decry.masterConfig.divbgcolor}} !important;"
			align="right">


			<div class="modal-header"
				style="padding: 0px 10px 0px 15px; background-color: #393939; color: white; font-family: MyWebFont1;">
				<button type="button" class="close"
					style="margin: 14px 8px; font-family: MyWebFont1; font-size: 31px; font-weight: unset; text-shadow: 0 0 0 #fff;"
					data-dismiss="modal" ng-click="close()" aria-label="Close">
					<span>&times;</span>
				</button>
			
				
			 <button class="adduserbutton" ng-disabled="!online" ng-click="editobjectfun()" ng-if="editobject && decry.role !='Instructors'"
					style="margin: 15px 8px 0px 0px; width: 100px">Edit</button>
					
				<h3 style="padding-bottom: 10px; font-size: 18px; float: left;width: 80%;text-align: left;">{{decry.otype == 'html' ? 'Narrative': decry.otype}} - {{
					indObjects.OD.ON }}</h3>
			</div>

			<div align=center class="modal-body"
				style="overflow: hidden ! important;">
				<div ng-show="loading" class="loader loader-default is-active">
				</div>

				<div style="width: 100%; max-width: 100%; display: flex;">
					<div style="width: 100%; overflow: hidden; margin-left: 0px;">


						<div
							ng-if="indObjects.OD.OTYPE == 'video' && !objedit"
							align="center" style="padding: 20px 0;"
							class="videogular-container">

							<video id="myVide" height="500px" width="100%"
								controlsList="nodownload noremoteplayback"
								disablePictureInPicture controls>
								<source src="{{objects.url}}" type="video/mp4">
							</video>

						</div>
						<div
							ng-if="indObjects.OD.OTYPE== 'audio' && !objedit"
							align="center" style="padding: 20px 0;">

							<audio controls style="width: 100%; margin-top: 5%;"
								controlsList="nodownload">
								<source src="{{objects.url}}" type="audio/mpeg">
							</audio>
						</div>
						<div
							ng-if="indObjects.OD.OTYPE  == 'html' || indObjects.OD.OTYPE  == 'pdf' 
							||  indObjects.OD.OTYPE == 'interactivity' ||  indObjects.OD.OTYPE == 'scorm' && !objedit"
							align="center" style="padding: 0px;">

							<iframe id='myiframe' ng-if="!objedit"
								style="height: 500px; width: 100%; border: 1px solid {{decry.masterConfig.mediumborderclr}};"
								src="{{objects.url}}"></iframe>
						</div>
						<div ng-if="indObjects.OD.OTYPE == 'youtube' && !objedit">

                <iframe  width="100%" height="450px" type="text/html" src={{embid}} frameborder="0" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" ></iframe> 


				</div>
				<div ng-if="indObjects.OD.OTYPE == 'vimeo' && !objedit">

                <iframe  width="100%" height="450px" type="text/html" src={{embid}} frameborder="0" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" ></iframe> 


				</div>


					</div>
				</div>
				<div ng-if="objedit">
					<div style="margin: 20px 19px; overflow: hidden;">
						<p ng-if="perror1"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">
							Title cannot be empty</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color: {{decry.masterConfig.darktextcolor}}; text-align: left;">Title
							:</p>
						<input type="text" ng-model="indObjects.OD.ON"
							style="float: left; width: 86%; color: {{decry.masterConfig.mediumtextcolor}};"  onkeypress="return alpha(event)">
					</div>
					<div style="margin: 20px 19px; overflow: hidden;"
						ng-if="indObjects.OD.OTYPE == 'video' || indObjects.OD.OTYPE == 'audio' ||
						indObjects.OD.OTYPE == 'youtube' || indObjects.OD.OTYPE == 'vimeo'  ">
						<p ng-if="perror3"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">
							Description cannot be empty</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color: {{decry.masterConfig.darktextcolor}}; text-align: left;">Description
							:</p>
						<textarea
							style="float: left; width: 86%; color: {{decry.masterConfig.mediumtextcolor}}; resize: none; border: 1px solid #d1d1d1; padding: 6px;"
							ng-model="indObjects.OD.ODESC"></textarea>
					</div>
					<div style="margin: 20px 19px; overflow: hidden;">
						<p ng-if="perror2"
							style="position: fixed; font-size: 12px; margin: -19px 0 0px 102px; font-family: MyWebFont1; color: red;">
							Seconds should be less than or eqaul to 60</p>
						<p ng-if="perror5"
							style="position: fixed; font-size: 12px; margin: -19px 0 0px 102px; font-family: MyWebFont1; color: red;">
							Duration should be greater than 0</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color: {{decry.masterConfig.darktextcolor}}; text-align: left;">Duration
							:</p>
						<!-- <input type="number" 
							ng-model="indObjects.OD.DUR" min="0" 
							max="{{indObjects.OD.OTYPE !== 'video' && indObjects.OD.OTYPE !== 'audio' ? 10 : 200}}"
							onkeydown="return Allowtab(event)"
							style="float: left; width: 80px; color: {{decry.masterConfig.mediumtextcolor}};"> -->
							<div style="display: flex;margin-top: -8px;">	
								<p
								style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 95px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Mins</p>
								<p
								style="text-align: left; color:{{decry.masterConfig.darktextcolor}}; width: 400px; float: left; font-size: 14px; margin: 4px 0px 0 6px;">Seconds</p>
								</div>
							<div style="display: flex;">
								<input ng-keypress="onlyNumbers($event)" min="0" 
								style="float: left; width: 80px;margin-right: 15px; color:{{decry.masterConfig.darktextcolor}};" type="number"
								name="nduration" ng-model="indObjects.OD.DUR"></input>
								
							<input ng-keypress="onlyNumbers($event)" min="0"  
								style="float: left; width: 80px; color:{{decry.masterConfig.darktextcolor}};" type="number" max="60" value="0" 
								name="nduration" ng-model="indObjects.OD.secs"></input>
							</div>

							<!-- <input type="number" 
							ng-model="indObjects.OD.DUR" min="0" 
							style="float: left; width: 80px; color: {{decry.masterConfig.mediumtextcolor}};">
						<p
							style="color: #767676; margin: 8px 0px 0px 8px; float: left; width: 50px; font-size: 14px;">Mins</p> -->
					</div>
					<p ng-if="perror6"
						style="position: fixed; font-size: 12px; margin: -15px 0 0px 112px; font-family: MyWebFont1; color: red;">Zip
						package not according to specification</p>
					<div style="margin: 0px 20px 15px 118px; overflow: hidden; padding: 40px; border: 2px dashed {{decry.masterConfig.mediumborderclr}};"
						align="center" ng-if="indObjects.OD.OTYPE != 'vimeo' && indObjects.OD.OTYPE != 'youtube'">
						
						<button class="browsebutton" ngf-select="fileselect()" ng-disabled="!online"
							ngf-pattern="'*'" ngf-accept="{{filetype}}"
							ng-model="indObjects.file" name="indObjects.file">Browse</button>
							
						<br>
<p 
								style="margin: 0px 0 0 0 !important; color: {{decry.masterConfig.darktextcolor}}; font-family: MyWebFont1;">{{indObjects.file.name}}</p>
					</div>
					<div style="margin: 20px 19px; overflow: hidden;" ng-if="indObjects.OD.OTYPE == 'vimeo' || indObjects.OD.OTYPE == 'youtube'">
						<p ng-if="perror8"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">
							Embed ID cannot be empty</p>
						<p
							style="padding: 6px 0 0 0; float: left; width: 100px; color: {{decry.masterConfig.darktextcolor}}; text-align: left;">Embed ID
							:</p>
						<input type="text" ng-model="indObjects.OD.ECODE"
							style="float: left; width: 86%; color: {{decry.masterConfig.mediumtextcolor}};" maxlength="100" onkeypress="return alpha(event)">
					</div>
					<p ng-if="indObjects.file" style="font-size:12px;margin: 0px 0 -10px -85px;font-family: MyWebFont1;color:red;">Change in File would take 3 - 5 mins to reflect in Dashboard and in Web App </p>
					<div style="margin: 20px 19px; text-align: left;">
						<p ng-if="aerror8 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Ad Products</p>

						<p style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">
							Ad Products: </p>
							
							<div  >
								<!-- <select id="test" class="muselect" style="width: 86%;" ng-model="indObjects.OD.ADPRODUCTS"
								multiple="multiple" multi-select>
								
									 <option value="CTV">CTV</option> 
									  <option value="Display">Display</option>
									  <option value="Email Marketing">Email Marketing</option>
									  <option value="Foot Traffic Attribution">Foot Traffic Attribution</option> 
									  <option value="Geofencing">Geofencing</option>
									  <option value="Listings Management">Listings Management</option>
									  <option value="Native">Native </option>
									  <option value="OTT">OTT</option> 
									  <option value="SEM">SEM</option>
									  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging </option>
									  <option value="Social">Social</option> 
									  <option value="Video">Video</option>
									  <option value="Video Geofencing">Video Geofencing </option>
									</select> -->
									<div ng-dropdown-multiselect="" style="width: 76%;"
									options="example13data" selected-model="indObjects.OD.ADPRODUCTS" 
									checkboxes="true" extra-settings="example14settings"></div>
									
								</div>
					</div>
					<div style="margin: 20px 19px; text-align: left;">
						<p ng-if="aerror9 == true"
							style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Marketron Tools</p>

						<p
							style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Marketron Tools:</p>
							
							<div>
								<!-- <select class="muselect" style="width: 86%;" ng-model="indObjects.OD.MRTOOLS"
								multiple="multiple" multi-select>
								
									 <option value="Email Marketing">Email Marketing</option> 
									 <option value="Listings Management">Listings Management</option>
									  <option value="NXT">NXT</option>
									  <option value="Pitch">Pitch</option>
									  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging</option>
									</select> -->
									<div ng-dropdown-multiselect=""  style="width: 76%;"
									options="example14data" selected-model="indObjects.OD.MRTOOLS" 
									checkboxes="true" extra-settings="example14settings"></div>
									
								</div>
							</div>
							<div style="margin: 20px 19px; overflow: hidden;">
								<p ng-if="aerror10 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Sharable Yes or No</p>
		
								<p
									style="padding: 0px 0 0 0; float: left; width: 100px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Sharable:</p>
									<div  id="ck-button" style="margin: 0px 5px 0 0px;" >
										<label style="font-weight: normal;">
										  
										   <input type="radio" name="hascert" ng-model="indObjects.OD.SHARABLE" 
										   value="true" />
										   <span>Yes</span>
										   </label>
										   </div>
										   <div  id="ck-button" style="margin: 0px 5px 0 0px;" >
										   <label style="font-weight: normal;">
										  
										   <input type="radio" name="hascert" ng-model="indObjects.OD.SHARABLE" 
										   value="false" />
										   <span>No</span>
										   </label>
									   </div>
									</div>
					<div style="margin: 20px 19px; overflow: hidden;">
						<p
							style="padding: 0px 0 0 0; float: left; width: 100px; color: {{decry.masterConfig.darktextcolor}}; text-align: left;">
							Add Tags: <span style="font-size: 11px; display: block;">(Upto
								15)</span>
						</p>
					<tags-input style="margin-top: -5px;" min-length=2 max-length=20 ng-paste="paste($event,15)" on-tag-added="onTagAdded($query, 15)" 
					 replace-spaces-with-dashes=false ng-model="indObjects.OD.CGRY.ttags" 
							onkeypress="return alpha(event)" ></tags-input>
						
							
					<span style="font-size: 12px; color: {{decry.masterConfig.mediumtextcolor}};display: block;float:left;"> * Tag name should be minimum 2 to 30 characters. </span>
					</div>
				
					<div style="border: none;">
						<div align="center">
							<button class="button1" style="width: 100px"
								ng-disabled="disabled" ng-click="saveobj()">Save</button>
							<button class="button2"  style="width: 100px" data-dismiss="modal"
								ng-click="close()" aria-label="Close">Cancel</button>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
<script>

function alpha(event)
{
    
    if((event.charCode >= 33 && event.charCode <= 47) || (event.charCode >= 58 && event.charCode <= 64 ) || (event.charCode >= 91 && event.charCode <= 96 )
            || (event.charCode >= 123 && event.charCode <= 126 ))
        {
        return false;
        }
    else
        {
        return true;
        }
	}
	function Allowtab(e)
    {
        if (e.keyCode == 9)
        {    
            return true;
        }
        else
        {
            return false;
        }
    }
</script>

