<div ng-controller="headerCtrl">
    <div ng-include="'header.html'">
    </div>
  </div>
  <div class="pageview">
  <div ng-controller="sidenavCtrl">
    <div ng-include="'sidenav.html'">
    </div>
  </div>
  <div ng-if="!online" align=center class="offline">
      <p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
  </div>
  <div ng-show="loading" class="loader loader-default is-active" ></div>
  <div id="content" ng-style="second" style="background-color:{{decry.masterConfig.pagebgcolor}};">
  
  <div class="container-fluid" style="padding: 0 30px 60px 30px;">
  <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
                   <li ><a style="cursor: pointer;font-size: 14px;" ng-click="loadPage()">Reports</a></li>
                    
                  <li style="color:{{decry.masterConfig.lighttextcolor}};font-size: 14px;"><a style="cursor: pointer;" ng-click="loadPage()">{{decry.caction == '0' || decry.caction == 0 ? 'STORY':'QUIZ'}}</a></li>
                  <li style="color:{{decry.masterConfig.lighttextcolor}};font-size: 14px;">{{decry.ctn}}</li>
                </ol>
              </nav>
       
        <div ng-show="decry.caction == '0'" style="margin: 0px 0 20px 0;padding: 0 4px 4px 4px;background-color:{{decry.masterConfig.divbgcolor}};">
          <div style="display: flex;">    
            <div style="background: {{decry.masterConfig.divbgcolor}};width: 100%;border-radius: 8px 8px 0px 0px;padding: 20px;height:53px;" align="center">
                <p style="color:{{decry.masterConfig.mediumtextcolor}};font-family: MyWebFont1;margin: 0px;font-size: 18px;text-align: left;" class="useract">{{decry.ctn}}</p>
               
                </div>
                <div style="float: right;width: 500px;display: flex;margin-right: 51px;">
                                          
                    <md-datepicker ng-model="mdates1" id="datetimepicker1" style="overflow:hidden;width: 50%;  resize:none;margin: 10px 15px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" ng-change="mhandler1(mdates1);" md-max-date="maxDate" md-placeholder="Start Date" onkeydown="return Allowtab(event)"></md-datepicker>
                    <md-datepicker ng-model="mdates2" id="datetimepicker2" style="overflow:hidden;width: 50%;  resize:none;margin: 10px 0px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" ng-change="mhandler(mdates2);" md-max-date="maxDate" md-placeholder="End Date" onkeydown="return Allowtab(event)"></md-datepicker>		
                </div>
                <img src="lib/Images/export.png" alt="" style="position: absolute; height: 28px;
                          right: 36px; margin-top: 6px;" ng-click="exportcsv('cdash')">	
            </div>	
            <div class="analytics" style="padding-top: 20px;margin-left: 7%;">
          
                <nvd3  options='moptions1' data='data12'></nvd3>
         
            </div>
            <div >
              <div style="display: flex;margin: 30px 0 30px 10%;width: 100%;">
                <p style="color:{{decry.masterConfig.mediumtextcolor}};border: 1px solid black;padding: 10px;width: 30%;
                font-family: MyWebFont1;margin: 0px;font-size: 18px;text-align: left;" class="useract">Total Number of Users Started 
                </p> 
                <p style="color:{{decry.masterConfig.mediumtextcolor}};border: 1px solid black;padding: 10px;width: 5%;
                font-family: MyWebFont1;margin: 0 10px 0 0;font-size: 18px;text-align: center;" class="useract">{{scount}}
                </p> 
                <p style="color:{{decry.masterConfig.mediumtextcolor}};border: 1px solid black;padding: 10px;width: 30%;
                font-family: MyWebFont1;margin: 0px;font-size: 18px;text-align: left;" class="useract">Total Number of Users Completed 
                </p> 
                <p style="color:{{decry.masterConfig.mediumtextcolor}};border: 1px solid black;padding: 10px;width: 5%;
                font-family: MyWebFont1;margin: 0px;font-size: 18px;text-align: center;" class="useract">{{comcount}}
                </p> 
              </div>
             
            </div>
            <div style="border: 1px solid gray;">
              <img src="lib/Images/export.png" alt="" style="position: absolute; height: 28px;
                          right: 36px; margin-top: -33px;" ng-click="exportcsv('cuser')">
          <table  ng-table="tableParams" show-filter="true" class="table head" align="center">
         
            <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
            
             <td  style="width:24%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;align-items: center;color:{{decry.masterConfig.mediumtextcolor}};"
             data-title="'User Name'" sortable="'UNAME'">
             
           {{row.UNAME}}
              </td>
              <td  style="width:28%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;align-items: center;color:{{decry.masterConfig.mediumtextcolor}};"
              data-title="'Email'" sortable="'EMAILID'">
              
            {{row.EMAILID}}
               </td>
              <td align=center style="width:16%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
              data-title="'Tenant Name'" sortable="'OID'" >{{row.OID}}</td>
                <td align=center style="width:16%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                data-title="'Start Date'" sortable="'sdate'" >{{row.sdate | date:'MM-dd-yyyy'}}</td>
                <td align=center style="width:16%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                data-title="'Completed Date'" sortable="'cdate'" >{{row.cdate == null ? '' : row.cdate | date:'MM-dd-yyyy'}}</td>
            </tr>
            <tr>
                <td ng-show="$data.length === 0 || json1 === null || json1 === 'null'" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color:{{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="6">
                  There is nothing here, yet!
                </td>
            </tr>
          </table>
          </div>

          </div>
      <div ng-show="decry.caction == '1'" style="margin: 0px 0 20px 0;padding: 0 4px 4px 4px;background-color:{{decry.masterConfig.divbgcolor}};">
        <div style="display: flex;">    
        <div style="background: {{decry.masterConfig.divbgcolor}};width: 100%;border-radius: 8px 8px 0px 0px;padding: 20px;height:53px;" align="center">
            <p style="color:{{decry.masterConfig.mediumtextcolor}};font-family: MyWebFont1;margin: 0px;font-size: 18px;text-align: left;" class="useract">{{decry.ctn}}</p>
           
            </div>
            <div style="float: right;width: 500px;display: flex;margin-right: 50px;">
                                      
                <md-datepicker ng-model="dates1" id="datetimepicker1" style="overflow:hidden;width: 50%;  resize:none;margin: 10px 15px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" ng-change="handler1(dates1);" md-max-date="maxDate" md-placeholder="Start Date" onkeydown="return Allowtab(event)"></md-datepicker>
                <md-datepicker ng-model="dates2" id="datetimepicker2" style="overflow:hidden;width: 50%;  resize:none;margin: 10px 0px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" ng-change="handler(dates2);" md-max-date="maxDate" md-placeholder="End Date" onkeydown="return Allowtab(event)"></md-datepicker>		
            </div>	
            <img src="lib/Images/export.png" alt="" style="position: absolute; height: 28px;
                          right: 36px; margin-top: 6px;" ng-click="exportcsv('contentdash')">	
        </div>	
        <div class="analytics" style="padding-top: 20px;margin-left: 7%;margin-right: 0%;">
      
            <nvd3  options='moptions1' data='data12'></nvd3>
     
        </div>
        <div >
          <div style="display: flex;margin: 30px 0 30px 5%;width: 100%;">
            <div style="display: flex;margin: 30px 0 30px 10%;width: 100%;">
              <p style="color:{{decry.masterConfig.mediumtextcolor}};border: 1px solid black;padding: 10px;width: 30%;
              font-family: MyWebFont1;margin: 0px;font-size: 18px;text-align: left;" class="useract">Total Unique Views 
              </p> 
              <p style="color:{{decry.masterConfig.mediumtextcolor}};border: 1px solid black;padding: 10px;width: 5%;
              font-family: MyWebFont1;margin: 0 10px 0 0;font-size: 18px;text-align: center;" class="useract">{{decry.userrow.unique}}
              </p> 
              <p style="color:{{decry.masterConfig.mediumtextcolor}};border: 1px solid black;padding: 10px;width: 30%;
              font-family: MyWebFont1;margin: 0px;font-size: 18px;text-align: left;" class="useract">Total Views 
              </p> 
              <p style="color:{{decry.masterConfig.mediumtextcolor}};border: 1px solid black;padding: 10px;width: 5%;
              font-family: MyWebFont1;margin: 0px;font-size: 18px;text-align: center;" class="useract">{{decry.userrow.views}}
              </p> 
            </div>
          </div>
        </div>
        <div style="border: 1px solid gray;">
          <img src="lib/Images/export.png" alt="" style="position: absolute; height: 28px;
          right: 36px; margin-top: -33px;" ng-click="exportcsv('contentuser')">
        <table  ng-table="tableParams1" show-filter="true" class="table head" align="center">
          
              <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
              
               <td  style="padding: 15px 0 15px 10px !important;font-family: MyWebFont;display: flex;align-items: left;color:{{decry.masterConfig.mediumtextcolor}};"
               data-title="'User Name'" sortable="'UNAME'">
               
             {{row.UNAME}}
                </td>
                <td align=center style="width:30%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                data-title="'Tenant Name'" sortable="'OID'" >{{row.OID}}</td>

                  <td align=center style="width:30%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                  data-title="'Viewed Date'" sortable="'sdate'" >{{row.sdate | date:'MM-dd-yyyy'}}</td>
                  <td align=center style="width:30%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                  data-title="'Duration'" sortable="'mins'">{{row.mins}} min {{row.secs}} sec</td>
              </tr>
              <tr>
                  <td ng-show="$data.length === 0 || json1 === null || json1 === 'null'" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color:{{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="6">
                    There is nothing here, yet!
                  </td>
              </tr>
            </table>
          </div>
        </div>
  </div>
  </div>
  <div class="footer">
  </div>
  </div>
  <style>
	.md-datepicker-button
	{
	visibility: hidden;
	}
	.md-datepicker.md-default-theme, md-datepicker
	{
	background: unset;
	}
	.md-datepicker-input-mask 
	{
	width: 308px;
	}
	.md-datepicker-calendar 
	{
	width: 308px;
	}

    </style>  
    <script>
        function Allowtab(e)
        {
            if (e.keyCode == 9)
            {    
                return true;
            }
            else
            {
                return false;
            }
        }
    </script>