
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'"></div>
</div>
<div ng-show="loading" class="loader loader-default is-active"></div>

<div class="col-10" style="margin-top: 4%;">
<div class="manageusers">
<div>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb" style="background-color: white;margin-bottom: 10px;">
    <li ><a style="cursor: pointer;" ng-click="loaddashboard();loading = true">DashBoard</a></li>
     <li ><a style="cursor: pointer;" ng-click="loadreports();loading = true">Reports</a></li>
     <li style="color:{{decry.masterConfig.lighttextcolor}};" >{{showbatchcid}}</li>
  </ol>
</nav>

</div>
<div class="backbutton">
<a style="cursor: pointer;" ng-click="loadreports();loading = true"><img src= "lib/Images/Back.png" class="photo"></a>
<h3 style="margin-top: 0 ! important;display:inline-block;color:{{decry.masterConfig.lighttextcolor}}" >{{showbatchcid}}</h3>


</div>
<div class="container-fluid">

<div >

  <div id="tableToExport">
  		<div class="usersactivity">
   				<input ng-model="globalSearchTermAuto"
                 type="text" 
                 class="searchuser" 
                 placeholder="Search Users" 
                 name="searchName"
                 style="background-image: url('lib/Images/searchicon.png');" />
                
                <a class="adduserbutton" style="text-align:center;padding-top:5px;" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
         			download="{{showbatchcid}}-Allusers.csv">
        			 Export Report
     				 </a>
         </div>
 <br>
 <br>
     <ul class="nav nav-pills" style="margin: 0 0 5px 0">
    
    <li><a ng-click="topicsreport()">Sections Based Report</a></li>
    <li class="active"><a>User Based Report</a></li>
  	</ul>
      <table ng-table="tableParams" id="usertable" class="table table-condensed table-bordered table-striped" align="center">
        <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
       
          <td  style="width:20%;padding-left:20px;color: {{decry.masterConfig.lighttextcolor}};padding:15px 0 15px 20px ! important;" data-title="'Name'" ><a  style="cursor: pointer;" ng-click="viewuser(row.EMAIL)" >{{row.USERNAME}}</a></td>
         

         
          <td align="center" style="width:20%" data-title="'Organisation'">{{row.ORGANISATION}}</td>
          
          <td align="center" style="width:15%" data-title="'Last Active'">{{row.LASTACTIVITY}}</td>
          
           <td  style="width:6%;text-align:center;color: {{decry.masterConfig.lighttextcolor}};" sortable="'preavg'" data-title="'Pre-Class (Avg)'" > {{row.preavg}} {{row.preavg === undefined ? "-" : "%"}} </td>
		  
		  <td  style="width:6%;text-align:center;color: {{decry.masterConfig.lighttextcolor}};" data-title="'Post-Class (Avg)'" > {{row.postavg}} {{row.postavg === undefined ? "-" : "%"}} </td>
         
         	<td  style="width:6%;text-align:center;color: {{decry.masterConfig.lighttextcolor}};" data-title="'Weekly Quiz (Avg)'" > {{row.wquizavg}} {{row.wquizavg === undefined ? "-" : "%"}}  </td>
		  
		  <td  style="width:6%;text-align:center;color: {{decry.masterConfig.lighttextcolor}};" data-title="'Lab (Avg)'" > {{row.labavg}} {{row.labavg === undefined ? "-" : "%"}}{{row.labavg === "-" ? "-" : ""}}</td>
		  
        </tr>
      </table>
      
       <table ng-hide="{{hide}}" export-csv="csv" ng-table="tableParams1" id="usertable1" class="table table-condensed table-bordered table-striped" align="center">
        <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
       
          <td  style="width:20%;padding-left:20px;color: {{decry.masterConfig.lighttextcolor}};padding:15px 0 15px 20px ! important;" data-title="'Name'" ><a  style="cursor: pointer;">{{row.USERNAME}}</a></td>
         
          <td align="center" style="width:20%" data-title="'User Email'">{{row.EMAIL}}</td>
          
          <td align="center" style="width:20%" data-title="'User Registration Number'">{{row.URN}}</td>
          <td align="center" style="width:20%" data-title="'Organisation'">{{row.ORGANISATION}}</td>
          
          <td align="center" style="width:20%" data-title="'Last Active'">{{row.LASTACTIVITY}}</td>
          
           <td  style="width:6%;text-align:center;color: {{decry.masterConfig.lighttextcolor}};" data-title="'Pre-Class Average'" > {{row.preavg}} {{row.preavg === undefined ? "-" : "%"}} </td>
		  
		  <td  style="width:6%;text-align:center;color: {{decry.masterConfig.lighttextcolor}};" data-title="'Post-Class Average'" > {{row.postavg}} {{row.postavg === undefined ? "-" : "%"}} </td>
		  
		  <td  style="width:6%;text-align:center;color: {{decry.masterConfig.lighttextcolor}};" data-title="'Practice'" > {{row.wquizavg}} {{row.wquizavg === undefined ? "-" : "%"}}  </td>
		  
		  <td  style="width:6%;text-align:center;color: {{decry.masterConfig.lighttextcolor}};" data-title="'Apply'" > {{row.labavg}} {{row.labavg === undefined ? "-" : "%"}}</td>
         
        </tr>
      </table>
    </div>
    
</div>
</div>
</div>
</div>

