<!-- Added for manage users screen -->
<div ng-controller="headerCtrl">
    <div ng-include="'header.html'">
    </div>
  </div>
  <div class="pageview">
  <div ng-show="loading" class="loader loader-default is-active"></div>
  
  <div style="overflow: hidden;padding: 0 0 60px 0;">
  
  <div ng-controller="sidenavCtrl">
    <div ng-include="'sidenav.html'">
    </div>
  </div>
  <div ng-if="!online" align=center class="offline">
    <p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
    </div>
  <div id="content" ng-style="second" style="background-color:{{decry.masterConfig.pagebgcolor}};">
  
  <div style="width:95%;overflow:hidden;margin: 0 2.5%;">
   <div>
   <nav aria-label="breadcrumb" role="navigation" style="margin-left:0px;">
                <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
         
                  <li style="color:{{decry.masterConfig.lighttextcolor}};font-size: 14px;">Reports</li>
                </ol>
              </nav>
              <!-- <h3 style="margin: 35px 0 0 15px;color: #606060;font-size: 14px;"><span style="color:#b2b2b2;">Content  ></span> Manage Topics</h3> -->
   </div>
  <div class="container-fluid" style="padding:0;">
  
      <div class="ausertopic"  style="background-color: {{decry.masterConfig.divbgcolor}};min-height: 45px;margin-top: 10px;">
            
          <div style="float: left;width: 360px;">
          <ul class="viewscrollheading" style="padding: 0; margin: 0px 0 0 1px;font-weight: bold;">
                     
                        <li class='{{ showcontentbased == true ? "viewlistactive" : "listinactive"}} '
                        style=" padding: 8px 6%"><a
                        ng-click="showcontents()"
                        class='listinactive '>CONTENT BASED</a></li>
                        
                        <li class='{{ showusersbased == true ? "viewlistactive" : "listinactive"}} '
                        style=" padding: 8px 6%"><a
                        ng-click="showusers()"
                        class='listinactive '>USERS BASED</a></li>
                      
                    </ul>	
              </div>
              <div align=right style="width: 100%; padding-right: 0px;">
                <img src="lib/Images/export.png" alt="" style="height: 28px;margin-top: 10px;" ng-click="exportcsv()" role="button" tabindex="0">
                <button class="btn btn-secondary dropdown-toggle" style="background-color: #fff !important;border: 1px solid grey; border-radius: 4px;margin: 10px 10px 0 0;" type="button" 
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click='gettenants()' >
                  {{selectedTenant}}
              </button>
                <!-- <div class="dropdown" style="width: 300px; margin: 10px;background-color: #fff !important;">
                    <button class="btn btn-secondary dropdown-toggle" style="background-color: #fff !important;border: 1px solid grey; border-radius: 4px;margin: 10px 0 0 0;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{selectedTenant}}
                    </button>
                    <div class="dropdown-menu" style="height: 400px; overflow: scroll;" aria-labelledby="dropdownMenuButton">
                      <input class="dropdown-item" type="text" ng-model="tenantssearch" placeholder="Search" ></input>
                        <p class="dropdown-item" ng-repeat="x in tenants" ng-click="getTenantData(x)">{{x}}</p>
                    </div>
                </div> -->
                </div>	
              
      </div>
     
      <div ng-if="showcontentbased == true" style="margin-top: 20px;">
          <div align=center >
            <div ng-if="coursesreport == true" style="overflow:hidden;">
              <div class="box1">
                  <div align=center class="ubox2" style="border-radius: 8px 8px 0px 0px;">  <p class="uboxp1">TOTAL ACTIVE STORIES</p> </div>
                  <div align=center class="ubox3"> <p class="uboxp2">{{total}}</p> </div>
              
              </div>
              <div class="box2" style="width: 66%;margin: 0 0% 20px 1.25%;">
                  <div align=center class="dbox2" style="border-radius: 8px 8px 0px 0px;"> <p class="dboxp1">POPULAR STORIES</p> </div>
                  <div >
                      <nvd3 options="options" data="data" stacked="true"></nvd3>
                  </div>
              </div>
              
              </div>
  
              <div ng-if="objectsreport == true" style="overflow:hidden;">
                <div class="box1">
                    <div align=center class="ubox2" style="border-radius: 8px 8px 0px 0px;">  <p class="uboxp1">TOTAL ACTIVE QUIZZES</p> </div>
                    <div align=center class="ubox3"> <p class="uboxp2">{{activeObjects}}</p> </div>
                
                </div>
                <div class="box2" style="width: 66%;margin: 0 0% 20px 1.25%;">
                    <div align=center class="dbox2" style="border-radius: 8px 8px 0px 0px;"> <p class="dboxp1">MOST VIEWED QUIZZES</p> </div>
                    <div >
                        <nvd3 options="options11" data="data11" stacked="true"></nvd3>
                    </div>
                </div>
                
                </div>
              <div class="dashbox2" style="height: auto;">
                <div class="ausertopic"  style="background-color: {{decry.masterConfig.divbgcolor}};min-height: 49px;margin-top: 0px;">
                        
                  <div style="float: left;width: 360px;">
                  <ul class="viewscrollheading" style="padding: 0; margin: 0px 0 0 1px;">
                              <li class='{{ coursesreport == true ? "viewlistactive" : "listinactive"}} '
                                style=" padding: 8px 6%"><a
                                ng-click="showlist('course')"
                                class='listinactive '>STORIES</a></li>
                              <li class='{{ objectsreport == true ? "viewlistactive" : "listinactive"}} '
                                style=" padding: 8px 6%"><a
                                ng-click="showlist('content')"
                                class='listinactive '>QUIZZES</a></li>
                              
                            </ul>	
                      </div>		  
                </div>
              
              <div ng-if="coursesreport == true" class="ausertopic atopictable">
                  
                  <table ng-table="CourseReportParams" show-filter="true" class="table head" align="center">
                       <tbody>   
                      <tr ng-repeat="row in $data"  ng-class-odd="'odd'" ng-class-even="'even'">
                     
                       <td align=center style="width:10%;color:{{decry.masterConfig.darktextcolor}};text-align:left;padding: 8px 0 8px 10px !important;"
                       ><img style="width: 90px;height: 45px;" src="{{imgurl}}pearson-resources/images/topic-images/{{row.TID}}.png"></td>
                     
                        <td align=center style="text-decoration: none;cursor: default;text-align:left;width:40%;padding: 0px 0 0px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};outline: none;" data-title="'Story Name'"  ng-click="topicdetail(row)"
                        sortable="'TN'" filter="{ 'TN': 'text'}" > 
                        <a ng-click="viewuserlist(row,'0')" ng-class="!online ? 'isDisabled': ''" style="color: {{decry.masterConfig.mediumtextcolor}};cursor:pointer;">{{row.TN}}</a></td>
                        
                         <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'# Users Started'" 
                         sortable="'SUBCOUNT'"  >{{row.SUBCOUNT}}</td>
                         <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'# Users Completed'" 
                         sortable="'COMPCOUNT'"  >{{row.COMPCOUNT }}</td>
                        
                         <td align=center style="width:30%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" 
                         data-title="'Ratings'" sortable="'STAR.avg'" 
                          ><div style="margin: 0px 0 0px 0px;text-align: center;" star-rating rating-value="row.STAR.avg" max="5" ng-click="viewrating(row.TID,row.TN)"></div></td>
                        
                      </tr>
                      <tr>
                          <td ng-show="$data.length == 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="7">
                            There is nothing here, yet
                          </td>
                      </tr>
                      </tbody>
                    </table>
                 </div> 
                
                  <div  ng-if="objectsreport == true" class="ausertopic atopictable">
                    <div align="center" ng-if="contentbasedload"  >
                      <img style="width: 31%;	height: 32%;position: absolute;top: 260px;left: 40%;" src="lib/Images/loading.gif" />
                    </div>
                    <table ng-table="tableParams1" ng-focus="false" show-filter="true" class="table head" align="center" >
              
                     <tr ng-repeat="row in $data"  ng-class-odd="'odd'" ng-class-even="'even'"  >
                     <td align=center style="width:2%;color: {{decry.masterConfig.pagebgcolor}};text-align:center;padding: 8px 0 8px 10px !important;">
                     <div class="ng-scope" ng-if="row.OD.OTYPE == 'video' || row.OD.OTYPE == 'vimeo' || row.OD.OTYPE == 'youtube' || row.OD.OTYPE == 'scorm'">
                     <div class="videomark ng-scope"></div>
                     </div> 
                     <div class="ng-scope" ng-if="row.OD.OTYPE == 'pdf'">
                     <div class="pdfdrak cmngrey ng-scope"></div>
                     </div>
                     <div class="ng-scope" ng-if="row.OD.OTYPE == 'html'">
                      <div class="htmldrak cmngrey ng-scope"></div>
                      </div>
                     <div class="ng-scope" ng-if="row.OD.OTYPE == 'audio'">
                     <div class="audiodark cmngrey ng-scope"></div>
                     </div>
                      <div class="ng-scope" ng-if="row.OD.OTYPE == 'interactivity'">
                     <div class="interdrak cmngrey ng-scope"></div>
                     </div>
                      <div class="ng-scope" ng-if="row.OD.OTYPE == 'quiz'">
                     <div class="quizdrak cmngrey ng-scope"></div>
                     </div>
                     
                     </td>
                      <td align=left style="width:25%;padding: 15px 0 15px 15px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" 
                      data-title="'Title'" sortable="'OD.ON'" filter="{ 'OD.ON': 'text'}" >
                      <a ng-click="viewuserlist(row,'1')" ng-class="!online ? 'isDisabled': ''" style="color: {{decry.masterConfig.mediumtextcolor}};cursor:pointer;">{{row.OD.ON}}</a>
                      </td>
                     
                      <td align=center style="width:11%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  
                      data-title="'# Views'" sortable="'views'"  >{{row.views}}</td>
                      <td align=center style="width:13%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  
                      data-title="'# Unique Views'" sortable="'unique'"  >{{row.unique}}</td>
                      <td align=center style="width:13%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  
                      data-title="'# Bounce Views'" sortable="'bounce'"  >{{row.bounce}}</td>
  
                      <td align=center style="width:13%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                      data-title="'# Users Rated'" sortable="'CSUBS'" >{{row.CSUBS}}</td>
                      <td align=center style="width:13%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                      data-title="'# Link Views'" sortable="'shared'" >{{row.shared}}</td>
  
                      <td align=center style="width:9%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  
                      data-title="'Ratings'" sortable="'STAR'"><div style="margin: 0px 0 0px 0px;text-align: left;" star-rating rating-value="row.STAR" max="5" 
                      ng-click="viewrating(row.OBJID,row.OD.ON)"></div></td>
              
                   
                    </tr>
                    <tr>
                        <td ng-show="$data.length == 0" style="color: {{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="9">
                          There is nothing here, yet
                        </td>
                    </tr>
                         
                       </table> 
                    </div>
                    
              
              </div>
              <div style="height: 40px"></div>
              </div>
      </div>

      <div ng-if="showusersbased == true" style="margin-top: 20px;min-height: 500px !important;">
        <div style="background: {{decry.masterConfig.rptdivheaderclr}};width: 100%;border-radius: 8px 8px 0px 0px;padding: 15px;height:53px;" align="left">
            <p style="color: {{decry.masterConfig.rptdivheaderfontclr}};margin: 0px" class="useract">ALL USERS</p>
            <div class="usersactivity" >
                     </div>
            </div>
            <div align="center" ng-if="showusersbasedload"  >
              <img style="width: 31%;	height: 32%;position: absolute;top: 260px;left: 40%;" src="lib/Images/loading.gif" />
            </div>
                <div style="margin: 0px 0 20px 0;padding: 0 4px 4px 4px;background-color:{{decry.masterConfig.divbgcolor}};">
                
                <table ng-table="usertableParams" show-filter="true" class="table head" align="center">
                     <tbody>   
                    <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
                   
                      <td  style="width:40%;padding: 20px 0 20px 20px !important;font-family: MyWebFont;text-align: left" 
                      data-title="'Name'" sortable="'UNAME'" filter="{ 'UNAME': 'text'}" ><a  style="color:{{decry.masterConfig.mediumtextcolor}};" ng-click="viewuser(row)">{{row.UNAME}}</a></td>
                          
                          <td  style="width:40%;padding: 20px 0 20px 20px !important;font-family: MyWebFont;text-align: left;color:{{decry.masterConfig.mediumtextcolor}};" 
                      data-title="'Email'" sortable="'EMAILID'" filter="{ 'EMAILID': 'text'}" >{{row.EMAILID}}</td>
                             
                      <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'Last Active'"
                      sortable="'LA'">{{row.LA | moment: 'fromNow'}}</td>
                    </tr>
                     <tr>
                        <td ng-show="$data.length == 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="4">
                          There is nothing here, yet!
                        </td>
                    </tr>
                    </tbody>
                  </table>
                  </div>
      </div>
      
       
  </div>
  
  </div>
  </div>
  
  </div>
  
  <div class="footer">
  </div>
  
  </div>
  
  <style>
  .rem ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fff;
        opacity: 1; /* Firefox */
      }
      .input-filter::placeholder   { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fff;
        opacity: 1; /* Firefox */
      }
      .tags-input .tags{
      box-shadow: unset !important;
      border: none !important;
      }
    
  </style>
  
  <script>
      function Allowtab(e)
      {
          if (e.keyCode == 9)
          {    
              return true;
          }
          else
          {
              return false;
          }
      }
  
  // var input = document.getElementById("datetimepicker1");
  // var input1 = document.getElementById("datetimepicker2");
  // var today = new Date();
  // var day = new String(today.getDate());
  // // Set month to string to add leading 0
  // var mon = new String(today.getMonth()+1); //January is 0!
  // var yr = today.getFullYear();
  //   if(mon.length < 2) { mon = "0" + mon; }
  //   if(day.length < 2) { day = "0" + day; }
  //   var date = new String( yr + '-' + mon + '-' + day );
    
  // input.setAttribute('max', date);
  // // input.setAttribute('dateFormat','mm/dd/yy');
  // input.disabled = false; 
  // input1.setAttribute('max', date);
  // input1.disabled = false; 
  
  </script>
  <style>
    .md-datepicker-button
    {
    visibility: hidden;
    }
    .md-datepicker.md-default-theme, md-datepicker
    {
    background: unset;
    }
    .md-datepicker-input-mask 
    {
    width: 308px;
    }
    .md-datepicker-calendar 
    {
    width: 308px;
    }
    
    
    
    </style>
  
  
  
  