<div>
    <div ng-show="loading" class="loader loader-default is-active" data-text="{{objecttype}} is getting Uploaded"></div>
    <div class="addobjectmodal">
    
    <div class="modal-content">
    <div class="modal-header" style="background-color: {{decry.masterConfig.appcolor}};">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close" style="text-shadow:none;font-weight:normal;font-family: {{decry.masterConfig.regularfotnfamily}};font-size: 30px"><span >&times;</span></button>
    <h3 class="modaltitle1">User Rating List</h3>
    <img src="lib/Images/export.png" alt="" style="position: absolute; height: 28px;
                          right: 47px; margin-top: -28px;" ng-click="exportcsv()">	
    </div>
    <div class="modal-body" style="overflow:hidden ! important;background-color:white !important;">
        <div style="margin: 20px 0 20px 0;padding: 0 4px 4px 4px;background-color:{{decry.masterConfig.divbgcolor}};">
            <table  ng-table="tableParams" show-filter="true" class="table head" align="center">
           <thead>
              <th style="border:none;float: left;margin-left: 32px;">Name</th>
                  <th style="border:none;">Date</th>
                  <th style="border:none;float: left;margin-left: 32px;">Rate</th>
                 
           </thead> 
              <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
              
               <td  style="padding: 15px 0 15px 10px !important;font-family: MyWebFont;display: flex;align-items: center;color:{{decry.masterConfig.mediumtextcolor}};"
               >
               <div style="float: left;margin-left: -20px;margin-right: -8px;"><img ng-if="$odd" src="lib/Images/pic1.png"   class="profilepic">
                <img ng-if="$even" src="lib/Images/pic.png"  class="profilepic"></div><div>
             {{row.user}}</div>
                </td>
                  <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                  >{{row.date}}</td>
                <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                ><div style="margin: 0px 0 0px 0px;text-align: left;" star-rating rating-value="row.rate" max="5" ></div></td>
               
              
              </tr>
              <tr>
                  <td ng-show="$data.length === 0 || json1 === null || json1 === 'null'" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color:{{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="6">
                    There is nothing here, yet!
                  </td>
              </tr>
            </table>
            </div>
    
    
    </div>
    </div>
    
    
    
    </div>
    
    </div>
    