<style>
.modal-dialog {
	margin: auto !important;
	width: 700px !important;
}

input[type="radio"]:checked+label {
	border: 1px solid {{decry.masterConfig.appcolor}};
	font-weight: bold;
}
</style>
<div>
<div ng-show="loading" style="width:800px" class="loader loader-default is-active" ></div>
	<div class="objectmodal">
	
		<div class="modal-content"
			style="background-color: white !important; width: 800px">
			
			<div class="modal-header"
				style="padding: 0px 10px 0px 15px; background-color: #393939; font-family: MyWebFont1; color: white">
				<button type="button" class="close crsbtn" style="margin: 12px;"
					data-dismiss="modal" ng-click="close()" aria-label="Close">
					<span>&times;</span>
				</button>
				<button class="edbtn" ng-click="editquizfun()" ng-if="editobject && decry.role !='Instructors'"
					style="margin: 15px 8px 0px 0px; width: 100px">Edit</button>
				<!-- <h3 class="modaltitle">Object Preview</h3> -->
				<h3 style="padding-bottom: 5px; font-size: 18px">Quiz</h3>
			</div>
			<div class="modal-body">
				<div ng-show="!editquiz && !showcutoff " class="qarea">
					<div style="height: 100%;" ng-if="showquestion">

						<!-- this div for ng-repeat question -->
						<div class="qzcls"
							ng-repeat="question in quizJson.qitems | filter:{ iid: filterPage }:true"
							style="overflow: unset !important;">
							<p style="color: {{decry.masterConfig.lighttextcolor}};">{{currentPage}} of
								{{quizJson.qitems.length}}</p>
							<h2 style="font-weight: normal; font-size: 16px; color: {{decry.masterConfig.darktextcolor}};">
								<span ng-bind-html="question.istem"> </span>
							</h2>
							<div class="ng-scope" ng-repeat="qopt in question.iopts"
								style="margin-bottom: 5px;">

								<ul>
									<li><section style="display: flex;">
											<input type="radio" ng-disabled="cwicon" name="opt"
												id={{qopt.content}}
												ng-click="chngeopt(question,qopt.correct,qopt)"
												style="display: none"> <label for={{qopt.content}}
												class="label">{{qopt.content}}</label>
									
											<div
												ng-if="(qopt.correct =='true' || qopt.correct == true) && cwicon"
												align="center"
												style="align-self: center; padding: 4px 0px 20px 10px; line-height: 15px;">
												<img alt="yes" src="lib/Images/correct.png"
													style="width: 8px; margin-top: 5px;">
											</div>
											<div
												ng-if="(qopt.correct == 'false' || qopt.correct == false) && cwicon"
												align="center"
												style="align-self: center; padding: 4px 0px 20px 10px; line-height: 15px;">
												<img alt="yes" src="lib/Images/wrong.png"
													style="width: 8px; margin-top: 5px;">
											</div>
										</section></li>
										<div class="bottom" style="border-radius: 4px;width: 97.3%;margin-left: 2px;
			background-color: white;border: 1px solid {{decry.masterconfig.borderlinecolor}};" 
			ng-if="cwicon && qopt.Selected && qopt.feedback != undefined" ng-show="showPopover" > 
			
			<h3 class="popover-title">{{qopt.feedback}}</h3>
				
			</div>	
								</ul>

							</div>
							<div class="qzbox">
								<div>
									<button class="button1" ng-disabled="disablebtn"
										ng-click="checkisCorrect(question,currentPage);"
										style="height: 30px;" ng-if="verifybutton">Verify</button>
									<button class="button1" style="height: 30px;"
										ng-click="nextquesfun(question)" ng-disabled="disablebtn"
										ng-if="nextbutton" ng-model=currentPage>Next</button>
									<button class="button1" style="height: 30px;"
										ng-click="submitfn(question)" ng-disabled="disablebtn"
										ng-if="submitbutton">Submit</button>
									<button class="button2 " data-dismiss="modal"
										ng-click="close()" aria-label="Close"
										style="float: right; height: 30px; margin-right: 0px;"
										ng-if="exitquiz">Exit Quiz</button>
									<!-- <button class="button2" style="float: right; height: 30px;margin-right: 0px;"
										data-dismiss="modal" ng-click="close()" aria-label="Close">Exit</button> -->
								</div>
								<div>
									<br />
								</div>
							</div>
						</div>

					</div>

					<div ng-show="overview" align="center">
						<div id="score" style="margin-top: -35px;">
							<br> <br>
							<p style="margin-left: -25px;">Your Score</p>
							<div class="clearfix">

								<div class="c100 p{{score}} big orange">
									<span>{{score}}%</span>
									<div class="slice">
										<div class="bar"></div>
										<div class="fill"></div>
									</div>
								</div>

							</div>
							<p style="margin: 0px 0 10px 0;" ng-show="tryp">AW Snap! You
								need to score at-least {{cutoff}}% to complete the quiz.</p>
							<p style="margin: 0px 0 10px 0;" ng-show="cngp">Congratulations!!!
								You have successfully completed the quiz.</p>
							<div>
								<button class="button1"
									style="margin-bottom: 10px; margin-left: -8px;"
									ng-click="reset()" ng-show="trybtn">Try again</button>
							</div>
							<div>
								<button class="button2" style="margin-bottom: 20px;"
									data-dismiss="modal" ng-click="close()" ng-show="exitbtwt"
									aria-label="Close">Exit Quiz</button>
								<button class="button2" data-dismiss="modal" ng-show="exitbt"
									ng-click="close()" aria-label="Close">Exit Quiz</button>
							</div>
						</div>
					</div>
				</div>

				<div ng-show="editquiz">

					<div>
						<div style="margin: 00px 40px; overflow: hidden;">
							<p
								style="padding: 6px 0 0 0; float: left; width: 100px; color: {{decry.masterConfig.darktextcolor}}; text-align: left;">Question
								No:</p>

							<p
								style="padding: 6px 0 0 0; float: left; width: 530px; color: {{decry.masterConfig.darktextcolor}};"
								name="tdescription">{{currentPage}} of
								{{quizJson.qitems.length}}</p>
						</div>
						<div style="margin: 00px 40px; overflow: hidden;" ng-if="quizJson.qtype !== undefined">
							<p
								style="padding: 6px 0 0 0; float: left; width: 100px; color: {{decry.masterConfig.darktextcolor}}; text-align: left;">Quiz
								Type:</p>

							<p
								style="padding: 6px 0 0 0; float: left; width: 530px; color: {{decry.masterConfig.darktextcolor}};"
								name="tdescription" ng-if=" quizJson.qtype == 0">Support
								Formative With Feedback</p>
							<p
								style="padding: 6px 0 0 0; float: left; width: 530px; color: {{decry.masterConfig.darktextcolor}};"
								name="tdescription"
								ng-if="quizJson.qtype == 1">
								Summative</p>
							<p
								style="padding: 6px 0 0 0; float: left; width: 530px; color: {{decry.masterConfig.darktextcolor}};"
								name="tdescription" ng-if=" quizJson.qtype == 2">Support
								Formative</p>
						</div>

						<div style="margin: 8px 40px; overflow: hidden;">
							<p ng-if="qerror1 == true"
								style="position: fixed; font-size: 12px; margin: -15px 0 0px 100px; font-family: MyWebFont1; color: red;">Question
								cannot be empty</p>
							<p
								style="padding: 6px 0 0 0; float: left; width: 100px; color: {{decry.masterConfig.darktextcolor}}; text-align: left;">Question:</p>
							<textarea
								style="float: left; width: 580px; color: {{decry.masterConfig.darktextcolor}}; resize: none; border: 1px solid #d1d1d1;padding: 5px;"
								name="tdescription" ng-change="descchange()" ng-model="question"
								rows="2"></textarea>
						</div>

						<div style="margin: 00px 40px; overflow: hidden;">
							<p
								style="margin-bottom: 0; padding: 6px 0 0 0; float: left; width: 100px; color: {{decry.masterConfig.darktextcolor}}; text-align: left;">Image:</p>

							<form name="form" style="width: 580px; float: left;">

								<button style="margin-top: 5px; float: left;"
									class="browsebutton" ngf-select="quizimageupload(viewimage)"
									ng-model="viewimage" name="viewimage" ngf-pattern="'image/*'"
									ngf-accept="'image/*'" ngf-max-size="5MB" ngf-min-height="100"
									ngf-resize="{width: 400, height: 200}">Browse</button>

								<p ng-if="viewimage != null"
									style="float: left; margin: 10px 0 0 5px !important; color: {{decry.masterConfig.darktextcolor}}; font-family: 'MyWebFont1';">{{viewimage.name}}</p>
							</form>
							<p
								style="float: left; line-height: 10px; margin-top: -10px; width: 90px; color: {{decry.masterConfig.darktextcolor}}; text-align: left; font-size: 12px;">
								<sub>(Optional)</sub>
							</p>
						</div>


						<div style="margin: 00px 40px; overflow: hidden;">
							<p
								style="line-height: 10px; width: 90px; color: {{decry.masterConfig.darktextcolor}}; text-align: left; font-size: 12px; position: absolute; margin-top: 27px;">
								<sub>(Select the correct option)</sub>
							</p>
							<p
								style="margin-bottom: 0; padding: 6px 0 0 0; float: left; width: 100px; color: {{decry.masterConfig.darktextcolor}}; text-align: left;">Options:
							</p>
							<p ng-if="qerror2 == true"
								style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">You
								need to enter at least 2 options</p>
							<p ng-if="qerror3 == true"
								style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">Please
								select the correct option</p>
							<p ng-if="qerror4 == true"
								style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">You
								have selected an option for which no value has been entered</p>
							<p ng-if="qerror5 == true"
								style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">Option
								cannot just contain space</p>
							<p ng-if="qerror6 == true"
								style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">You
								have entered an option by skipping one of the previous one</p>
							<p ng-if="qerror7 == true"
								style="position: fixed; font-size: 12px; margin: -8px 0 0px 100px; font-family: MyWebFont1; color: red;">
								Entered options must have different values</p>
							<input style="margin: 10px 0 10px 00px;" class="quescheck"
								type="radio" name="iopts" value="opt1" ng-model="correctoption">
							<input
								style="border-top: none !important; border-left: none !important; border-right: none !important; margin: 00px 0 10px 00px; float: left; width: 560px; color: {{decry.masterConfig.darktextcolor}};"
								name="tdescription" ng-model="op1vl"></input></br> <input
								ng-show="fdopt1"
								style="margin: 00px 0 10px 118px; float: left; width: 560px; color: {{decry.masterConfig.darktextcolor}};"
								ng-model="fdoptvl1" placeholder="FeedBack"></input> </br> <input
								style="margin: 10px 0 10px 100px;" class="quescheck"
								type="radio" name="iopts" value="opt2" ng-model="correctoption">

							<input
								style="border-top: none !important; border-left: none !important; border-right: none !important; margin: 00px 0 10px 00px; float: left; width: 560px; color: {{decry.masterConfig.darktextcolor}};"
								name="tdescription" ng-model="op2vl"></input> </br> <input
								ng-show="fdopt2"
								style="margin: 00px 0 10px 118px; float: left; width: 560px; color: {{decry.masterConfig.darktextcolor}};"
								ng-model="fdoptvl2" placeholder="FeedBack"></input> </br> <input
								style="margin: 10px 0 10px 100px;" class="quescheck"
								type="radio" name="iopts" value="opt3" ng-model="correctoption">

							<input
								style="border-top: none !important; border-left: none !important; border-right: none !important; margin: 00px 0 10px 00px; float: left; width: 560px; color: {{decry.masterConfig.darktextcolor}};"
								name="tdescription"  ng-model="op3vl"></input> </br> <input
								ng-show="fdopt3"
								style="margin: 00px 0 10px 118px; float: left; width: 560px; color: {{decry.masterConfig.darktextcolor}};"
								ng-model="fdoptvl3" placeholder="FeedBack"></input> </br> <input
								style="margin: 10px 0 10px 100px;" class="quescheck"
								type="radio" name="iopts" value="opt4" ng-model="correctoption">
							<input
								style="border-top: none !important; border-left: none !important; border-right: none !important; margin: 00px 0 10px 00px; float: left; width: 560px; color: {{decry.masterConfig.darktextcolor}};"
								name="tdescription" ng-model="op4vl"></input> </br> <input
								ng-show="fdopt4"
								style="margin: 00px 0 10px 118px; float: left; width: 560px; color: {{decry.masterConfig.darktextcolor}};"
								ng-model="fdoptvl4" placeholder="FeedBack"></input> </br> <input
								style="margin: 10px 0 10px 100px;" class="quescheck"
								type="radio" name="iopts" value="opt5" ng-model="correctoption">
							<input
								style="border-top: none !important; border-left: none !important; border-right: none !important; margin: 00px 0 10px 00px; float: left; width: 560px; color: {{decry.masterConfig.darktextcolor}};"
								name="tdescription" ng-model="op5vl"></input> </br> <input
								ng-show="fdopt5"
								style="margin: 00px 0 10px 118px; float: left; width: 560px; color: {{decry.masterConfig.darktextcolor}};"
								ng-model="fdoptvl5" placeholder="FeedBack"></input> </br> <input
								style="margin: 10px 0 10px 100px;" class="quescheck"
								type="radio" name="iopts" value="opt6" ng-model="correctoption">
							<input
								style="border-top: none !important; border-left: none !important; border-right: none !important; margin: 00px 0 10px 00px; float: left; width: 560px; color: {{decry.masterConfig.darktextcolor}};"
								name="tdescription" ng-model="op6vl"></input> </br> <input
								ng-show="fdopt6"
								style="margin: 00px 0 10px 118px; float: left; width: 560px; color: {{decry.masterConfig.darktextcolor}};"
								ng-model="fdoptvl6" placeholder="FeedBack"></input>
							<!-- <p
								style="float: left; line-height: 10px; margin-top: -235px; width: 90px; color: #606060; text-align: left; font-size: 12px;">
								<sub>(Select the correct option)</sub>
							</p> -->
						</div>

					</div>


					<div align=center style="margin: 10px 00px 0 0; overflow: hidden;">
						<button ng-disabled="currentPage == 1" class="button1"
							ng-click="prevques()">Previous</button>
						<button ng-disabled="currentPage == quizJson.qitems.length"
							class="button1" ng-click="nextques()">Next</button>
						<button class="button1"  ng-click="addques()">Add Question
						</button>
						<button class="button1"  ng-disabled="currentPage == 1" ng-click="removeques(question)">
							Remove Question</button>
						<button class="button1" ng-click="savequiz()">Save</button>
					</div>
	
				</div>
				
				
				</div>
		
				
				<div ng-show="showcutoff == true " align=center
					style="margin: 0px 19px; overflow: hidden;">
					<div ng-if="showcategory != true" style="margin: 0px 19px; overflow: hidden;">
					
						
						<br>
						<p style="float: left; margin: 6px 2px 3px 5px;">Cutoff Score
							:</p>
						<input style="float: left; margin-left: 20px;" type="number" max="100"  onkeydown="return Allowtab(event)"
							ng-model="quizJson.cutoff" />
						<p ng-if="qerror8 == true"
							style=" font-size: 12px; margin: 6px 2px 3px 5px; font-family: MyWebFont1; color: red;">Please
							enter cutoff score</p>
						<p ng-if="qerror9 == true"
							style=" font-size: 12px; margin: 6px 2px 3px 5px; font-family: MyWebFont1; color: red;">Cutoff
							score should be greater than equal to 0</p>
					</div>
					<div ng-if="decry.qaction != undefined">

<div style="margin: 20px 19px; overflow: hidden;">
							<p
								style="margin: 6px 2px 3px 5px; float: left; width: 100px; text-align: left;">
								Title: 
							</p>

						<input style="float: left; width: 614px; color:{{decry.masterConfig.darktextcolor}};" 
							name="tdescription" ng-model="indobjects.OD.ON" onkeypress="return alpha(event)"></input>

						
						</div>
						<div style="margin: 20px 19px; overflow: hidden;">
								<p ng-if="qerror10 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Ad Products</p>
		
								<p style="padding: 0px 0 0 0; float: left; width: 107px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">
									Ad Products: </p>
									
									<div  >
										<select class="muselect" style="width: 85%;" ng-model="indobjects.OD.ADPRODUCTS">
										<option value=""  selected>Select Ad Products</option>
											 <option value="CTV">CTV</option> 
											  <option value="Display">Display</option>
											  <option value="Email Marketing">Email Marketing</option>
											  <option value="Foot Traffic Attribution">Foot Traffic Attribution</option> 
											  <option value="Geofencing">Geofencing</option>
											  <option value="Native">Native </option>
											  <option value="OTT">OTT</option> 
											  <option value="SEM">SEM</option>
											  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging </option>
											  <option value="Social">Social</option> 
											  <option value="Video">Video</option>
											  <option value="Video Geofencing">Video Geofencing </option>
											</select>
										
										</div>
							</div>
							<div style="margin: 20px 19px; overflow: hidden;">
								<p ng-if="qerror11 == true"
									style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Marketron Tools</p>
		
								<p
									style="padding: 0px 0 0 0; float: left; width: 107px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Marketron Tools:</p>
									
									<div>
										<select class="muselect" style="width: 85%;" ng-model="indobjects.OD.MRTOOLS">
										<option value=""  selected>Select Marketron Tools</option>
											 <option value="Email Marketing">Email Marketing</option> 
											  <option value="NXT">NXT</option>
											  <option value="Pitch">Pitch</option>
											  <option value="SMS - Mobile Messaging">SMS - Mobile Messaging</option>
											</select>
										
										</div>
									</div>
									<div style="margin: 20px 19px; overflow: hidden;">
										<p ng-if="qerror12 == true"
											style="position: fixed; font-size: 12px; margin: -15px 0 0px 102px; font-family: MyWebFont1; color: red;">Select Sharable Yes or No</p>
				
										<p
											style="padding: 0px 0 0 0; float: left; width: 107px; color:{{decry.masterConfig.darktextcolor}}; text-align: left;">Sharable:</p>
											<div  id="ck-button" style="margin: 0px 5px 0 0px;" >
												<label style="font-weight: normal;">
												  
												   <input type="radio" name="hascert" ng-model="indobjects.OD.SHARABLE" 
												   value="true" />
												   <span>Yes</span>
												   </label>
												   </div>
												   <div  id="ck-button" style="margin: 0px 5px 0 0px;" >
												   <label style="font-weight: normal;">
												  
												   <input type="radio" name="hascert" ng-model="indobjects.OD.SHARABLE" 
												   value="false" />
												   <span>No</span>
												   </label>
											   </div>
											</div>
						<div style="margin: 20px 19px; overflow: hidden;">
							<p
								style="margin: 6px 2px 3px 5px; float: left; width: 100px; text-align: left;">
								Add Tags: <span style="font-size: 11px; display: block;">(Upto
									15)</span>
							</p>

							<tags-input style="margin-top: -5px;" min-length=2 max-length=30
								on-tag-added="onTagAdded($query, 15)" use-strings="true"
								replace-spaces-with-dashes=false
								ng-model="indobjects.OD.CGRY.ttags"></tags-input>

							<span
								style="font-size: 12px; color: {{decry.masterConfig.darktextcolor}}; display: block; float: left;">
								* Tag name should be minimum 2 to 30 characters.
							</span>
						</div>

					

						<br>

					</div>
					<button ng-if="showcategory == true && showcutoff == true" class="button1" style="margin-bottom: 20px !important;" ng-click="savecatquiz()">
						Save</button>
					<button ng-if="showcategory != true" class="button1" style="margin-bottom: 20px !important;" ng-click="savequiz(quizJson.cutoff)">
						Save</button>
				</div>
			</div>
		</div>
	</div>
</div>