<!-- Added for view user screen -->


<div ng-show="loading" class="loader loader-default is-active"></div>

<div class="modal-content">
<div class="modal-header" style="padding: 15px 15px 0px 15px;" >
<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close" style="text-shadow:none;font-family: MyWebFont1;font-weight:lighter;font-size: 26px;color: {{decry.masterConfig.darktextcolor}} !important;margin-top: -5px;"><span >&times;</span></button>

</div>

<div class="modal-body" style="overflow:hidden;background-color: #fff !important;padding: 5px 15px 15px 15px;">
<div style="width:102%;overflow:hidden;margin-left: -8px;">
<div align=center  class="userlogo">
<div>
<img src="lib/Images/pic1.png" style="margin: 0px 0 5px 0;"  class=userimg>
</div>
<button ng-show="!editdata"  ng-disabled="!online" class="disablebutton userbtn" ng-click="disable()" style="float:right;margin: 15px 34% 10px 0;"><img class="buttonimg" src="{{ustatus == '1' ? 'lib/Images/disable.png' : 'lib/Images/enable.png'}}"> {{ustatus == '1' ? "Disable" : "Enable"}} </button>
<button ng-show="!editdata"  ng-disabled="!online" class="editbutton userbtn" ng-click="editdata = true" style="float:right;margin: 15px 5px 10px 0"><img class="buttonimg" src="lib/Images/edit.png"> Edit </button>

</div>

<div  class="userrightdata" style="margin-top: 20px;">

<p ng-if="error && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family:MyWebFont1;color:red;">Name cannot be empty</p>
<p ng-if="error1 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family:MyWebFont1;color:red;">Email cannot be empty</p>
<p ng-if="error2 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family:MyWebFont1;color:red;">Gender cannot be empty</p>
<p ng-if="error3 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family:MyWebFont1;color:red;">Contact number cannot be empty</p>
<p ng-if="error4 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family:MyWebFont1;color:red;">Address cannot be empty</p>
<p ng-if="error5 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family:MyWebFont1;color:red;">Enter valid email Id</p>
<p ng-if="error6 && online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family:MyWebFont1;color:red;">Enter valid 10 digit mobile number</p>
<p ng-if="error7 || !online" style="position:fixed;font-size:12px;margin: -18px 0 0px 0px;font-family:MyWebFont1;color:red;">Please check your internet connection!</p>

	<div  class="mudiv">
	<!-- <p class="mutitle">Name</p> -->
	<!-- <p class="mucolon">:</p> -->
	<input ng-disabled="!editdata" class="mutext" id="uname" placeholder="Name" name="tdescription" maxlength="50" ng-model="uname" style="overflow:hidden; resize:none;" onkeypress="return alpha(event)"></input>
	</div>
	<div  class="mudiv">
	<!-- <p class="mutitle">Email</p> -->
	<!-- <p class="mucolon">:</p> -->
	<input ng-disabled="true" class="mutext" name="tdescription" placeholder="Email" ng-model="eid" style="overflow:hidden; resize:none;"></input>
	</div>

<div  class="mudiv" >
	<!-- <p class="mutitle">Contact No</p> -->
	<!-- <p class="mucolon">:</p> -->
	<input ng-disabled="!editdata" class="mutext" id="mno" placeholder="Contact No" ng-keypress="onlyNumbers($event)" maxlength="12" name="tdescription" ng-model="contactno" style="overflow:hidden; resize:none;"></input>
	</div>
	<div  class="mudiv">
	<!-- <p class="mutitle" >Gender</p> -->
	<!-- <p class="mucolon">:</p> -->
	<select ng-disabled="!editdata"  class="muselect" ng-model="ugen" value="ugen">
	 <option style="display: none" value="" selected>Select Gender</option> 
	     <option value="Male">Male</option> 
	      <option value="Female">Female</option>
	       <option value="Unknown">Unknown</option>
	    </select>
	
	</div>
	

<div  >
<!-- <p class="mutitle" style="font-family: MyWebFont1;">Address</p> -->
<!-- <p class="mucolon">:</p> -->
<textarea ng-disabled="!editdata" class="mutext" name="tdescription" ng-model="address" maxlength="200" placeholder="Address" style="overflow:hidden; resize:none;border: 1px solid {{decry.masterConfig.mediumborderclr}};width:100%;padding: 6px;" rows="3" wrap="soft"></textarea>
</div>
</div>
</div>


</div>
<div class="modal-footer" >
<div align=right style="padding-bottom: 20px">

<button ng-disabled="!online" ng-show="editdata" class="button1" ng-click="updateuser()"> Save </button>
<button ng-disabled="!online" ng-show="editdata" class="button2 footerbtn2" ng-click="reset()" style="margin: 10px 42px 0px 0px;"> Cancel </button>
</div>
</div>
</div>
<script>
$('#uname').bind("cut copy paste",function(e) {
    e.preventDefault();
});
$('#mno').bind("cut copy paste",function(e) {
    e.preventDefault();
});
function alpha(event)
{
    
    if((event.charCode >= 33 && event.charCode <= 47) || (event.charCode >= 58 && event.charCode <= 64 ) || (event.charCode >= 91 && event.charCode <= 96 )
            || (event.charCode >= 123 && event.charCode <= 126 ))
        {
        return false;
        }
    else
        {
        return true;
        }
    }
</script>



