<!-- Added for userreport screen -->
  <div ng-controller="headerCtrl" class="headerbox">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview" >
<div ng-if="!online" align=center class="offline">
<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
</div>

<div style="padding: 0 0 60px 0;overflow:hidden;background-color:{{decry.masterConfig.pagebgcolor}};">
<!--  -->
<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>
<div id="content"   align=center ng-style="second">
<div align=center style="width:95%;overflow:hidden;margin: 0 2.5%;">
<div align=left>
<nav aria-label="breadcrumb" role="navigation" style="margin-bottom:5px;">
			  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
			     <li ><a style="cursor: pointer;" >Reports</a></li>
			    <li ><a style="cursor: pointer;" ng-click="groupreport()">Group Reports</a></li>
			    <li style="color:{{decry.masterConfig.lighttextcolor}};"> {{gname}}</li>
			  </ol>
			</nav>
</div>

<div align=center >


<div style="overflow:hidden;">
<div class="box1">
	<div class="ubox1">
		<div align=center class="ubox2"><p class="uboxp1">TOTAL USERS </p></div>
		<div align=center class="ubox3" style="border-right: 1px solid {{decry.masterConfig.darkborderclr}};"> <p class="uboxp2">{{tusers}}</p> </div>
	</div>
	<div class="ubox4" >
		<div align=center class="ubox2"> <p class="uboxp1">ACTIVE TODAY</p> </div>
		<div align=center class="ubox3"> <p class="uboxp2">{{ausers}}</p> </div>
	</div>

</div>
<div class="box2">
	<div class="dbox1">
		<div align=center class="dbox2"> <p class="dboxp1">USERS BY PLATFORM</p> </div>
		<div align=center class="dbox3"> <img src="lib/Images/ios.png" style="width:25px; height:auto;float: left;"> <p class="dboxp2" > IOS </p>  <p class="dboxp3"> {{ios}}% </p> </div>
		<div align=center class="dbox3"> <img src="lib/Images/Android.png" style="width:25px; height:auto;float: left;"> <p class="dboxp2"> Android </p>  <p class="dboxp3"> {{android}}% </p> </div>
		<div align=center class="dbox3"> <img src="lib/Images/web.png" style="width:25px; height:auto;float: left;"> <p class="dboxp2"> Web </p>  <p class="dboxp3"> {{desktop}}% </p> </div>
	</div>
</div>
<div class="box1" >
	<div class="dbox1">
		<div align=center class="gbox1"> <p class="gboxp1">USERS BY GENDER</p> </div>
		<div align=center ng-style="chart" class="gbox2"> <nvd3 options="options6" data="data6"></nvd3> </div>
	
	</div>
</div>
</div>




</div>
<div class="ausertopic"  style="background-color:{{decry.masterConfig.divbgcolor}};min-height: 57px;width: 100%;">
    
  <ul class="viewscrollheading" style="padding: 0 29%; margin: 0;justify-content: center;border-bottom: 1px solid {{decry.masterConfig.lightborderclr}};">
              <li class='{{ overview == true ? "viewlistactive" : "listinactive"}} '
                style=" padding: 8px 6%"><a
                ng-click="overview = true;"
                class='listinactive '>OVERVIEW</a></li>
             
            </ul>	
  
  </div>
<div ng-if="overview" style="height: 160px; background: {{decry.masterConfig.divbgcolor}};max-width: 1600px;min-width: 626px;width: 100%;border-radius: 0px 0px 8px 8px;padding: 15px 0;">

    <div align=center style="width: 33%;border-right: 1px solid {{decry.masterConfig.mediumborderclr}};margin: 00px 0;height: 130px;float:left;">
    <img src="lib/Images/assigned.png" width="24px" height="auto" style="margin: 10px 0 0 0;">
    <p style="margin:20px 0 0 0px;font-size: 14px;color: {{decry.masterConfig.mediumtextcolor}};">Courses assigned</p>
    <p style="margin:10px 0 0 0px;font-size: 18px;color: {{decry.masterConfig.darktextcolor}};">{{analytics.groups != undefined || analytics.groups != null ? ta : 0}}</p>
    </div>
    
    <div align=center style="width: 33%;border-right: 1px solid {{decry.masterConfig.mediumborderclr}};margin: 00px 0;height: 130px;float:left;">
    <img src="lib/Images/inprogress.png" width="24px" height="auto" style="margin: 10px 0 0 0;">
    <p style="margin:20px 0 0 0px;font-size: 14px;color: {{decry.masterConfig.mediumtextcolor}};"># Users Subscribed</p>
    <p style="margin:10px 0 0 0px;font-size: 18px;color: {{decry.masterConfig.darktextcolor}};">{{analytics.groups != undefined || analytics.groups != null ? tsubs : 0}}</p>
    </div>
    
    <div align=center style="width: 34%;margin: 00px 0;height: 130px;float:left;">
    <img src="lib/Images/tcompleted.png" width="24px" height="auto" style="margin: 10px 0 0 0;">
    <p style="margin:20px 0 0 0px;font-size: 14px;color: {{decry.masterConfig.mediumtextcolor}};"># Users Completed</p>
    <p style="margin:10px 0 0 0px;font-size: 18px;color: {{decry.masterConfig.darktextcolor}};">{{analytics.groups != undefined || analytics.groups != null ? tcomp : 0}}</p>
    </div>
    </div>
<br>
<div class="dashbox2" style="height: unset !important;">
  <div style="background: {{decry.masterConfig.rptdivheaderclr}};width: 100%;border-radius: 8px 8px 0px 0px;padding: 15px;height:53px;" align="left">
  <p style="color:{{decry.masterConfig.rptdivheaderfontclr}};margin: 0px" class="useract">COURSES</p>
  <div class="usersactivity" >
           
           </div>
  </div>
  
  
      <div style="margin: 0px 0 20px 0;padding: 0 4px 4px 4px;background-color:{{decry.masterConfig.divbgcolor}};">
      
      <!-- <table ng-table="tableParams" show-filter="true" class="table head" align="center">
       
           <tbody>   
          <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
         
            <td  style="width:40%;padding: 20px 0 20px 20px !important;font-family: MyWebFont;text-align: left" data-title="'Name'" 
            data-title="'Name'" sortable="'UNAME'" filter="{ 'UNAME': 'text'}" ><a  style="color:{{decry.masterConfig.mediumtextcolor}};" ng-click="viewuser(row)">{{row.UNAME}}</a></td>
                
                <td  style="width:40%;padding: 20px 0 20px 20px !important;font-family: MyWebFont;text-align: left;color:{{decry.masterConfig.mediumtextcolor}};" 
            data-title="'Email'" sortable="'EMAILID'" filter="{ 'EMAILID': 'text'}" >{{row.EMAILID}}</td>
                   
            <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'Last Active'"
            data-title="'Last Active'" sortable="'LA'" >{{row.LA | moment: 'fromNow'}}</td>
          
          </tr>
           <tr>
              <td ng-show="$data.length == 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="4">
                  No Data 
              </td>
          </tr>
          </tbody>
        </table> -->
        <table ng-table="tableParams1" show-filter="true" class="table head" align="center">
          <!--  <thead>
                 <th  > </th>
                <th  style="text-align: left !important" > Name</th>
                 <th ># Users Started</th>
                 <th ># Users Completed</th>
             </thead> -->
              <tbody>   
             <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
            
              <td align=center style="width:10%;color:{{decry.masterConfig.darktextcolor}};text-align:left;padding: 8px 0 8px 10px !important;"
              ><img style="width: 90px;height: 45px;" src="{{imgurl}}{{orgidlow}}-resources/images/topic-images/{{row.tid}}.png"></td>
            
               <td align=center style="text-decoration: none;cursor: default;text-align:left;width:40%;padding: 0px 0 0px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};outline: none;" data-title="'Course Name'"  ng-click="topicdetail(row)"
               sortable="'tn'" filter="{ 'tn': 'text'}" >{{row.tn}}</td>
               
                <td align=center style="width:30%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'# Users Subscribed'" 
                sortable="'subs'"  >{{row.subs}}</td>
                <td align=center style="width:30%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'# Users Completed'" 
                sortable="'comp'"  >{{row.comp }}</td>
               
              
             </tr>
             <tr>
                 <td ng-show="$data.length == 0 || $data.length == undefined" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="4">
                  There is nothing here, yet
                 </td>
             </tr>
             </tbody>
           </table>
        </div>
    
  </div> 

</div>

</div>

</div>

<div class="footer">
</div>

</div>
<style>
.input-filter::placeholder   { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: #fff;
	  opacity: 1; /* Firefox */
	}
</style>
