<!-- Added for manage users screen -->
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
<div ng-show="loading" class="loader loader-default is-active"></div>

<div style="overflow: hidden;padding: 0 0 60px 0;">

<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>
<div ng-if="!online" align=center class="offline">
  <p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
  </div>
<div id="content" ng-style="second" style="background-color:{{decry.masterConfig.pagebgcolor}};">

<div style="width:95%;overflow:hidden;margin: 0 2.5%;">
 <div>
 <nav aria-label="breadcrumb" role="navigation" style="margin-left:0px;">
			  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
           <li ><a style="cursor: pointer;" ng-click="loadPage()" >Institutions</a></li>
			    <li style="color:{{decry.masterConfig.lighttextcolor}};">{{decry.tenant}}</li>
			  </ol>
			</nav>
			<!-- <h3 style="margin: 35px 0 0 15px;color: #606060;font-size: 14px;"><span style="color:#b2b2b2;">Content  ></span> Manage Topics</h3> -->
 </div>
<div class="container-fluid" style="padding:0;">

    <div class="ausertopic"  style="background-color: {{decry.masterConfig.divbgcolor}};min-height: 45px;margin-top: 10px;">
          
        <div style="float: left;width: 360px;">
        <ul class="viewscrollheading" style="padding: 0; margin: 0px 0 0 1px;">
                    <li class='{{ showanalytic == true ? "viewlistactive" : "listinactive"}} '
                    style=" padding: 8px 6%"><a
                    ng-click="showanalytics()"
                    class='listinactive '>ANALYTICS</a></li>
                    <li class='{{ showusers == true ? "viewlistactive" : "listinactive"}} '
                      style=" padding: 8px 6%"><a
                      ng-click="showuser()"
                      class='listinactive '>USERS</a></li>
                      <li class='{{ showcontent == true ? "viewlistactive" : "listinactive"}} '
                      style=" padding: 8px 6%"><a
                      ng-click="showcontents()"
                      class='listinactive '>CONTENT</a></li>
                      <li class='{{ showengage == true ? "viewlistactive" : "listinactive"}} '
                      style=" padding: 8px 6%"><a
                      ng-click="showengages()"
                      class='listinactive '>ENGAGE</a></li>
                      <li class='{{ showevents == true ? "viewlistactive" : "listinactive"}} '
                      style=" padding: 8px 6%"><a
                      ng-click="showevent()"
                      class='listinactive '>EVENTS</a></li>
                    
                  </ul>	
            </div>		  
    </div>
  <div ng-if="showanalytic == true" style="margin: 20px 0 90px 0;">
        <div align=center >
            <div align=center style="overflow:hidden;">
   
            <div class="box2" style="margin-left: 33.25% ! important;">
              <div class="dbox1">
                <div align=center class="dbox2"> <p class="dboxp1">TOTAL USERS</p> </div>
                <div align=center class="ubox3" > <p class="uboxp2">{{analytics.users}}</p> </div>
              </div>
            </div>
          
            </div>
            
            <div class="dashbox2" style="height: unset !important;">
            <div style="background: {{decry.masterConfig.rptdivheaderclr}};width: 100%;border-radius: 8px 8px 0px 0px;padding: 15px;height:53px;" align="left">
            <p style="color: {{decry.masterConfig.rptdivheaderfontclr}};margin: 0px" class="useract">ALL USERS</p>
            <div class="usersactivity" >
                     </div>
            </div>
            
                <div style="margin: 0px 0 20px 0;padding: 0 4px 4px 4px;background-color: #fff;">
                
                  <div class="ausertopic"  style="background-color: {{decry.masterConfig.divbgcolor}};min-height: 49px;margin-top: 0px;">
                      
                    <div style="float: left;width: 360px;">
                    <ul class="viewscrollheading" style="padding: 0; margin: 0px 0 0 -2px;">
                                <li class='{{ activeusers == true ? "viewlistactive" : "listinactive"}} '
                                  style=" padding: 8px 6%"><a
                                  ng-click="activeunique('active')"
                                  class='listinactive '>ACTIVE USERS</a></li>
                                <li class='{{ uniqueusers == true ? "viewlistactive" : "listinactive"}} '
                                  style=" padding: 8px 6%"><a
                                  ng-click="activeunique('unique')"
                                  class='listinactive '>UNIQUE USERS</a></li>
                         </ul>	
                        </div>	
                        <div style="float: right;width: 500px;display: flex;margin-right:50px">
                          <md-datepicker ng-model="dates1" id="datetimepicker1" style="overflow:hidden;width: 50%;  resize:none;margin: 10px 15px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" ng-change="handler1(dates1);" md-max-date="maxDate" md-placeholder="Start Date" onkeydown="return Allowtab(event)"></md-datepicker>
                          <md-datepicker ng-model="dates2" id="datetimepicker2" style="overflow:hidden;width: 50%;  resize:none;margin: 10px 0px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" ng-change="handler(dates2);" md-max-date="maxDate" md-placeholder="End Date" onkeydown="return Allowtab(event)"></md-datepicker>
                
                          <img src="lib/Images/export.png" alt="" style="position: absolute; height: 28px;
                          right: 20px; margin-top: 6px;" ng-click="exportcsv()">
                          
                           <!-- <input id="datetimepicker1"  type="text" ng-model="dates1" placeholder="Start Date" ng-change="handler1(event);" onfocus="(this.type='date')" 
                          style="overflow:hidden;  resize:none;width: 100%;margin: 10px 15px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" onkeydown="return Allowtab(event)">
                        <input id="datetimepicker2"  type="text"  ng-model="dates2" placeholder="End Date" ng-change="handler(event);"
			style="overflow:hidden;  resize:none;width: 100%;margin: 10px 0px 0 0px;border: none;border-bottom: 1px solid {{decry.appcolor}};" onfocus="(this.type='date')"  onkeydown="return Allowtab(event)"> -->
                              </div>		 	  
                  </div>
                  <div class="analytics" ng-if="activeusers === true" style="padding-top: 20px">
                    <!-- <button ng-click="month = false;year = true;week = false" class="{{year == true ? 'bactive' : 'binactive'}}" style="margin:0 0 0 5px;float:right;font-family: MyWebFont1;"> Year </button>
                    <button ng-click="month = true;year = false;week = false" class="{{month == true ? 'bactive' : 'binactive'}}" style="margin:0 0 0 5px;float:right;font-family: MyWebFont1;"> Month </button> -->
                    <!-- <button ng-click="month = false;year = false;week = true" class="{{week == true ? 'bactive' : 'binactive'}}" style="float:right;font-family: MyWebFont1;"> Week </button>
                     -->
                    <nvd3 ng-if="week" options='options1' data='data1'></nvd3>
                    <!-- <nvd3 ng-if="month" options='options2' data='data2'></nvd3>
                    <nvd3 ng-if="year" options='options3' data='data3'></nvd3> -->
                    </div>
                    <div class="analytics" ng-if="uniqueusers === true" style="padding-top: 20px">
                      <!-- <button ng-click="month1 = false;year1 = true;week1 = false" class="{{year1 == true ? 'bactive' : 'binactive'}}" style="margin:0 0 0 5px;float:right;font-family: MyWebFont1;"> Year </button>
                      <button ng-click="month1 = true;year1 = false;week1 = false" class="{{month1 == true ? 'bactive' : 'binactive'}}" style="margin:0 0 0 5px;float:right;font-family: MyWebFont1;"> Month </button>
                      <button ng-click="month1 = false;year1 = false;week1 = true" class="{{week1 == true ? 'bactive' : 'binactive'}}" style="float:right;font-family: MyWebFont1;"> Week </button>
                       -->
                      <nvd3 ng-if="week1" options='options7' data='data21'></nvd3>
                      <!-- <nvd3 ng-if="month1" options='options8' data='data22'></nvd3>
                      <nvd3 ng-if="year1" options='options9' data='data23'></nvd3> -->
                      </div>
                  </div>
            
            
            </div>
            </div>
    </div>
    <div ng-if="showusers == true" style="margin: 20px 0 90px 0;">
        <div align=center >
            <div align=center style="overflow:hidden;">
            <div class="box1" style="margin-left: 16.25% ! important;">
              <div class="ubox1">
                <div align=center class="ubox2"><p class="uboxp1">TOTAL USERS </p></div>
                <div align=center class="ubox3" style="border-right: 1px solid {{decry.masterConfig.darkborderclr}};"> <p class="uboxp2">{{analytics.users}}</p> </div>
              </div>
              <div class="ubox4" >
                <div align=center class="ubox2"> <p class="uboxp1">ACTIVE TODAY</p> </div>
                <div align=center class="ubox3"> <p class="uboxp2">{{ausers}}</p> </div>
              </div>
            
            </div>
            <div class="box2">
              <div class="dbox1">
                <div align=center class="dbox2"> <p class="dboxp1">USERS BY PLATFORM</p> </div>
                <div align=center class="dbox3"> <img src="lib/Images/ios.png" style="width:25px; height:auto;float: left;"> <p class="dboxp2" > IOS </p>  <p class="dboxp3"> {{ios}}% </p> </div>
                <div align=center class="dbox3"> <img src="lib/Images/Android.png" style="width:25px; height:auto;float: left;"> <p class="dboxp2"> Android </p>  <p class="dboxp3"> {{android}}% </p> </div>
                <div align=center class="dbox3"> <img src="lib/Images/web.png" style="width:25px; height:auto;float: left;"> <p class="dboxp2"> Web </p>  <p class="dboxp3"> {{desktop}}% </p> </div>
              </div>
            </div>
            <!-- <div class="box1" >
              <div class="dbox1">
                <div align=center class="gbox1"> <p class="gboxp1">USERS BY GENDER</p> </div>
                <div align=center ng-style="chart" class="gbox2"> <nvd3 options="options6" data="data6"></nvd3> </div>
              
              </div>
            </div> -->
            </div>
            
            <div class="dashbox2" style="height: unset !important;">
              <img src="lib/Images/export.png" alt="" style="position: absolute; height: 28px;
right: 18px; margin-top: -32px;" ng-click="exportcsv()">
            <div style="background: {{decry.masterConfig.rptdivheaderclr}};width: 100%;border-radius: 8px 8px 0px 0px;padding: 15px;height:53px;" align="left">
            <p style="color: {{decry.masterConfig.rptdivheaderfontclr}};margin: 0px" class="useract">ALL USERS</p>
            <div class="usersactivity" >
              <button ng-disabled="!online" class="adduserbutton" ng-click="adduser()"> Create User </button>
                     </div>
            </div>
            
            
                
              

                <div style="margin: 0px 0 20px 0;padding: 0 4px 4px 4px;background-color:{{decry.masterConfig.divbgcolor}};">
                
                <table ng-table="usertableParams" show-filter="true" class="table head" align="center">
                     <tbody>   
                    <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'">
                   
                      <td  style="width:40%;padding: 20px 0 20px 20px !important;font-family: MyWebFont;text-align: left" 
                      data-title="'Name'" sortable="'UNAME'" filter="{ 'UNAME': 'text'}" ><a  style="color:{{decry.masterConfig.mediumtextcolor}};" ng-click="viewuser(row)">{{row.UNAME}}</a></td>
                          
                          <td  style="width:40%;padding: 20px 0 20px 20px !important;font-family: MyWebFont;text-align: left;color:{{decry.masterConfig.mediumtextcolor}};" 
                      data-title="'Email'" sortable="'EMAILID'" filter="{ 'EMAILID': 'text'}" >{{row.EMAILID}}</td>
                             
                      <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'Last Active'"
                      sortable="'LA'">{{row.LA | moment: 'fromNow'}}</td>
                    </tr>
                     <tr>
                        <td ng-show="$data.length == 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="4">
                          There is nothing here, yet!
                        </td>
                    </tr>
                    </tbody>
                  </table>
                  </div>
            
            
            </div>
            </div>
    </div>

    <div ng-if="showcontent == true" style="margin-top: 20px;">
        <div align=center >


            <div ng-if="coursesreport == true" style="overflow:hidden;">
            <div class="box1">
                <div align=center class="ubox2" style="border-radius: 8px 8px 0px 0px;">  <p class="uboxp1">TOTAL ACTIVE COURSES</p> </div>
                <div align=center class="ubox3"> <p class="uboxp2">{{total}}</p> </div>
            
            </div>
            <div class="box2" style="width: 66%;margin: 0 0% 20px 1.25%;">
                <div align=center class="dbox2" style="border-radius: 8px 8px 0px 0px;"> <p class="dboxp1">POPULAR COURSES</p> </div>
                <div >
                    <nvd3 options="options" data="data" stacked="true"></nvd3>
                </div>
            </div>
            
            </div>

            <div ng-if="objectsreport == true" style="overflow:hidden;">
              <div class="box1">
                  <div align=center class="ubox2" style="border-radius: 8px 8px 0px 0px;">  <p class="uboxp1">TOTAL ACTIVE CONTENT</p> </div>
                  <div align=center class="ubox3"> <p class="uboxp2">{{activeObjects}}</p> </div>
              
              </div>
              <div class="box2" style="width: 66%;margin: 0 0% 20px 1.25%;">
                  <div align=center class="dbox2" style="border-radius: 8px 8px 0px 0px;"> <p class="dboxp1">MOST VIEWED CONTENT</p> </div>
                  <div >
                      <nvd3 options="options11" data="data11" stacked="true"></nvd3>
                  </div>
              </div>
              
              </div>
            
            <div class="dashbox2" style="height: auto;">
              <div class="ausertopic"  style="background-color: {{decry.masterConfig.divbgcolor}};min-height: 49px;margin-top: 0px;">
                      
                <div style="float: left;width: 360px;">
                <ul class="viewscrollheading" style="padding: 0; margin: 0px 0 0 1px;">
                            <li class='{{ coursesreport == true ? "viewlistactive" : "listinactive"}} '
                              style=" padding: 8px 6%"><a
                              ng-click="coursecontent('course')"
                              class='listinactive '>COURSES</a></li>
                            <li class='{{ objectsreport == true ? "viewlistactive" : "listinactive"}} '
                              style=" padding: 8px 6%"><a
                              ng-click="coursecontent('content')"
                              class='listinactive '>CONTENT & COLLATERAL</a></li>
                            
                          </ul>	
                    </div>	
                    <img src="lib/Images/export.png" alt="" style="position: absolute; height: 28px;
                    right: 18px; margin-top: 5px;" ng-click="exportcsv()">	  
              </div>
            
            <div ng-if="coursesreport == true" class="ausertopic atopictable">
                
                <table ng-table="CourseReportParams" show-filter="true" class="table head" align="center">
                     <tbody>   
                    <tr ng-repeat="row in $data " ng-class-odd="'odd'" ng-class-even="'even'">
                   
                     <td align=center style="width:10%;color:{{decry.masterConfig.darktextcolor}};text-align:left;padding: 8px 0 8px 10px !important;"
                     ><img style="width: 90px;height: 45px;" src="{{imgurl}}pearson-resources/images/topic-images/{{row.TID}}.png"></td>
                   
                      <td align=center style="text-decoration: none;cursor: default;text-align:left;width:40%;padding: 0px 0 0px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};outline: none;" data-title="'Course Name'"  ng-click="topicdetail(row)"
                      sortable="'TN'" filter="{ 'TN': 'text'}" > 
                      <a ng-click="viewuserlist(row,'0')" ng-class="!online ? 'isDisabled': ''" style="color: {{decry.masterConfig.mediumtextcolor}};cursor:pointer;">{{row.TN}}</a></td>
                      
                       <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'# Users Started'" 
                       sortable="'SUBCOUNT'"  >{{row.SUBCOUNT}}</td>
                       <td align=center style="width:20%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" data-title="'# Users Completed'" 
                       sortable="'COMPCOUNT'"  >{{row.COMPCOUNT }}</td>
                      
                       <td align=center style="width:50%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" 
                       data-title="'Ratings'" sortable="'STAR.avg'" 
                        ><div style="margin: 0px 0 0px 0px;text-align: left;" star-rating rating-value="row.STAR.avg" max="5" ng-click="viewrating(row.TID,row.TN)"></div></td>
                      
                    </tr>
                    <tr>
                        <td ng-show="$data.length == 0" style="color:{{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="5">
                          There is nothing here, yet
                        </td>
                    </tr>
                    </tbody>
                  </table>
               </div> 
                
                <div  ng-if="objectsreport == true" class="ausertopic atopictable">
                  <table ng-table="tableParams1" ng-focus="false" show-filter="true" class="table head" align="center" >
            
                   <tr ng-repeat="row in $data" ng-class-odd="'odd'" ng-class-even="'even'"  >
                   <td align=center style="width:2%;color: {{decry.masterConfig.pagebgcolor}};text-align:center;padding: 8px 0 8px 10px !important;">
                   <div class="ng-scope" ng-if="row.OD.OTYPE == 'video' || row.OD.OTYPE == 'vimeo' || row.OD.OTYPE == 'youtube' || row.OD.OTYPE == 'scorm'">
                   <div class="videomark ng-scope"></div>
                   </div> 
                   <div class="ng-scope" ng-if="row.OD.OTYPE == 'pdf'">
                   <div class="pdfdrak cmngrey ng-scope"></div>
                   </div>
                   <div class="ng-scope" ng-if="row.OD.OTYPE == 'html'">
                    <div class="htmldrak cmngrey ng-scope"></div>
                    </div>
                   <div class="ng-scope" ng-if="row.OD.OTYPE == 'audio'">
                   <div class="audiodark cmngrey ng-scope"></div>
                   </div>
                    <div class="ng-scope" ng-if="row.OD.OTYPE == 'interactivity'">
                   <div class="interdrak cmngrey ng-scope"></div>
                   </div>
                    <div class="ng-scope" ng-if="row.OD.OTYPE == 'quiz'">
                   <div class="quizdrak cmngrey ng-scope"></div>
                   </div>
                   
                   </td>
                    <td align=left style="width:25%;padding: 15px 0 15px 15px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};" 
                    data-title="'Title'" sortable="'OD.ON'" filter="{ 'OD.ON': 'text'}" >
                    <a ng-click="viewuserlist(row,'1')" ng-class="!online ? 'isDisabled': ''" style="color: {{decry.masterConfig.mediumtextcolor}};cursor:pointer;">{{row.OD.ON}}</a>
                    </td>
                   
                    <td align=center style="width:11%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  
                    data-title="'# Views'" sortable="'views'"  >{{row.views}}</td>
                    <td align=center style="width:13%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  
                    data-title="'# Unique Views'" sortable="'unique'"  >{{row.unique}}</td>
                    <td align=center style="width:13%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  
                    data-title="'# Bounce Views'" sortable="'bounce'"  >{{row.bounce}}</td>

                    <td align=center style="width:13%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                    data-title="'# Users Rated'" sortable="'CSUBS'" >{{row.CSUBS}}</td>
                    <td align=center style="width:13%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"
                    data-title="'# Link Views'" sortable="'shared'" >{{row.shared}}</td>

                    <td align=center style="width:9%;padding: 15px 0 15px 10px !important;font-family: MyWebFont;color:{{decry.masterConfig.mediumtextcolor}};"  
                    data-title="'Ratings'" sortable="'STAR'"><div style="margin: 0px 0 0px 0px;text-align: left;" star-rating rating-value="row.STAR" max="5" 
                    ng-click="viewrating(row.OBJID,row.OD.ON)"></div></td>
            
                 
                  </tr>
                  <tr>
                      <td ng-show="$data.length == 0" style="color: {{decry.masterConfig.darktextcolor}};font-size: 18px;padding: 10px !important;background-color: {{decry.masterConfig.pagebgcolor}};text-align: center;" colspan="8">
                        There is nothing here, yet
                      </td>
                  </tr>
                       
                     </table> 
                  </div>
                  
            
            </div>
            <div style="height: 40px"></div>
            </div>
    </div>

    <div ng-if="showengage == true" style="margin-top: 20px;">
        <div class="modal-body"
         style="overflow:hidden ! important;background-color:#fff !important;padding: 20px 180px;">

         <div align=center class="textdiv" style="display: flex;" >
          <p ng-if="!online" style="position: absolute;;font-size:12px;margin: -14px 0 0px 0px;font-family:MyWebFont1;color:red;">Please check your internet connection!</p>
        <p ng-if="error4 == true && online" style="position: absolute;;font-size:12px;margin: -18px 0 0px 0px;font-family:MyWebFont1;color:red;">Select Type</p>
        <input type="radio" id="male" name="gender"   ng-model="objurl.type" style="margin: 0px 0px 4px 0px;width: 25px; height: auto;" value="MAIL">
        <label for="male" style="margin-right: 10px;">MAIL</label><br>
        <input type="radio" id="female" name="gender" style="margin: 0px 0px 4px 0px;width: 25px; height: auto;" ng-model="objurl.type" value="NOTIFICATION">
        <label for="female"  style="margin-right: 10px;">NOTIFICATION</label><br>
        <input type="radio" id="other" name="gender"  ng-model="objurl.type" style="margin: 0px 0px 4px 0px;width: 25px; height: auto;" value="BOTH">
        <label for="other"  style="margin-right: 10px;">BOTH</label> 
      
        </div>
            <div align=center class="textdiv" >
              <p ng-if="!online" style="position:absolute;font-size:12px;margin: 0px 0 0px 0px;font-family:MyWebFont1;color:red;">Please check your internet connection!</p>
            <p ng-if="error == true && online" style="position:absolute;font-size:12px;margin: -15px 0 0px 0px;font-family:MyWebFont1;color:red;">Please enter the Title/ Subject</p>
            <p  style="text-align: left;margin: 0 0 5px;color:{{decry.masterConfig.darktextcolor}}">Title/ Subject </p>
            <textarea  name="ntitle" maxlength="100" ng-model="objurl.mtitle" style="color:{{decry.masterConfig.mediumtextcolor}};overflow:hidden; resize:none;border: 1px solid {{decry.masterConfig.mediumborderclr}};padding: 5px;height: 33px;"></textarea>
            </div>
            <div align=center class="textdiv"  >
            <p ng-if="error1 == true && online" style="position:absolute;font-size:12px;margin: -15px 0 0px 0px;font-family:MyWebFont1;color:red;">Please enter the Description/ Body </p>
            <p  style="text-align: left;margin: 0 0 5px;color:{{decry.masterConfig.darktextcolor}}" >Description/ Body </p>
            <textarea  name="ntitle" maxlength="200" ng-model="objurl.mdesc" style="color:{{decry.masterConfig.mediumtextcolor}};overflow:hidden; resize:none;border: 1px solid {{decry.masterConfig.mediumborderclr}};padding: 5px;" rows="4" cols="1"></textarea>
            </div>
            <div align=center class="textdiv" style="display: block; " >
              <input style="float:left;margin:  0px 5px 0 0;color:{{decry.masterConfig.mediumtextcolor}};" ng-click="url()" type="checkbox" name="" value=""> <p style="margin: -2px 0 0px 0px;font-family:MyWebFont1;float:left;color:{{decry.masterConfig.darktextcolor}};"> Include a link</p>
            </div>
            <div ng-if="notificationlink" align=center class="textdiv"  >
            
             <p ng-if="error3 == true && online" style="position:absolute;font-size:12px;margin: -15px 0 0px 0px;font-family:MyWebFont1;color:red;">Please enter a valid URL </p>
            <p  style="text-align: left;margin: 0 0 5px;color:{{decry.masterConfig.darktextcolor}}">URL </p>
            <input type="text"  name="objurl.url" ng-model="objurl.url" 
            style="overflow:hidden; resize:none;padding: 5px;color:{{decry.masterConfig.mediumtextcolor}};"></input>
            
            </div>
            
            <div class="modal-footer" style="border: none !important;padding: 15px 0px;">
            <div align=right>
            <button class="button1" ng-disabled="!online" ng-click="sendNotification()" style="margin: 0px 5px 0px 0;"> Send </button>
            <!-- <button class="button2" ng-disabled="!online" ng-click="close()" style="margin: 8px 5px 0px 0px;"> Cancel </button> -->
            </div>
            
            </div>
            </div>

    </div>

    <div ng-if="showevents == true" style="margin-top: 40px;">
        <div class="container-fluid" style="padding-left: 0px;">
            <div class="usersactivity">
              <!-- <button ng-disabled="!online" ng-if="allobjects != true" class="adduserbutton" ng-click="addwebinar()">Add Webinar</button> -->
              <!-- <button ng-disabled="!online" class="adduserbutton" ng-click="addevent()">Add</button> -->
              
              <div class="dropdown" style="float: right;text-align:right;margin-right: -18px;" >
                <button   id="dropdownMenuButton"  ng-disabled="!online" ng-if="decry.role !='Instructors'" class="adduserbutton" style="margin:-24px 18px 0 0px;" data-toggle="dropdown" >Add <img src="lib/Images/arrow-down-01-512.png" style="height: 12px;width: 12px;float: right;margin: 4px 20px 0 0;" alt="" /></button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="border: none;border-radius: 0px;min-width:0px;top: 147%;width: 88%;">
                
                    <a class="dropdown-item" style="text-decoration: none;font-size: 15px;" ng-click="addevent('Event')">Event</a>
                    <a class="dropdown-item" style="text-decoration: none;font-size: 15px;height: auto;" ng-click="addevent('Webinar')">Webinar</a>
                  </div>
                </div>

            </div>
      
               <div style="overflow:hidden;margin: 20px 0 0 0;background-color: #fff;" >
      
                <div style="width:100%;height:400px;border: 1px solid grey;border-radius: 4px;float:left;">
                <div class="mydates" id="calendar" ui-calendar="uiConfig.calendar"
                    ng-model="eventSources" calendar="myCalendar"></div>
                    </div>
                    <div class=" bottom" style="position: absolute; border: 1px solid {{decry.masterConfig.mediumborderclr}}; 
                    border-radius: 4px; width: 25%; margin-left: 99px; margin-top: 0px; z-index: 99; background-color: {{decry.masterConfig.appcolor}};" ng-show="SelectedEvent.length!=0 && SelectedEvent.length!=undefined">
                  </div>
                </div>
              </div>
    </div>
    
     
</div>

</div>
</div>

</div>

<div class="footer">
</div>

</div>

<style>
.rem ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: #fff;
	  opacity: 1; /* Firefox */
	}
	.input-filter::placeholder   { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: #fff;
	  opacity: 1; /* Firefox */
	}
	.tags-input .tags{
	box-shadow: unset !important;
	border: none !important;
	}
  
</style>

<script>
    function Allowtab(e)
    {
        if (e.keyCode == 9)
        {    
            return true;
        }
        else
        {
            return false;
        }
    }

// var input = document.getElementById("datetimepicker1");
// var input1 = document.getElementById("datetimepicker2");
// var today = new Date();
// var day = new String(today.getDate());
// // Set month to string to add leading 0
// var mon = new String(today.getMonth()+1); //January is 0!
// var yr = today.getFullYear();
//   if(mon.length < 2) { mon = "0" + mon; }
//   if(day.length < 2) { day = "0" + day; }
//   var date = new String( yr + '-' + mon + '-' + day );
  
// input.setAttribute('max', date);
// // input.setAttribute('dateFormat','mm/dd/yy');
// input.disabled = false; 
// input1.setAttribute('max', date);
// input1.disabled = false; 

</script>
<style>
  .md-datepicker-button
  {
  visibility: hidden;
  }
  .md-datepicker.md-default-theme, md-datepicker
  {
  background: unset;
  }
  .md-datepicker-input-mask 
  {
  width: 308px;
  }
  .md-datepicker-calendar 
  {
  width: 308px;
  }
  
  
  
  </style>



