
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview" style="background-color: {{decry.masterConfig.pagebgcolor}};" >
	<div ng-show="loading" class="loader loader-default is-active"></div>
	<div style="overflow: hidden; padding: 0 0 60px 0;">

		<div ng-controller="sidenavCtrl">
			<div ng-include="'sidenav.html'"></div>
		</div>
		<div ng-if="!online" align=center class="offline">
			<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
		</div>

		<div id="content" ng-style="second"  ng-init="content=true" style="margin-top: -1px; ">
			<!-- <div class="content " > -->
			<div>
				
				<nav aria-label="breadcrumb" role="navigation" style="margin-left:15px;">
			  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
			     <li ><a style="cursor: pointer;"  href="#managecontent" ng-class="!online ? 'isDisabled': ''"  ng-click="loading = true">Content</a></li>
                 <li ><a style="cursor: pointer;" href='#listtopics' ng-class="!online ? 'isDisabled': ''" ng-click="loading = true">{{decry.tname}}</a></li>
			    <li style="color:{{decry.masterConfig.darktextcolor}};">View Course</li>
			  </ol>
			</nav>
			<!-- <h3 style="margin: 35px 0 0 15px; color: #606060; font-size: 14px; "> <span style="color: #b2b2b2;">Content > Manage Topics ></span> View Topic </h3> -->
				<!-- <button ng-if="(tpub == 1 || tpub == 2) && editbtn && decry.role !='ContentCreators'" class="addsavebutton1" ng-disabled="!online" ng-click="unpublish()">Unpublish</button>
				<button ng-if="tpub == 0 && editbtn && decry.role !='ContentCreators'" class="addsavebutton1" ng-disabled="!online" ng-click="publish()">Publish</button> -->
				<button class="addsavebutton1" ng-if="editbtn && decry.role !='Instructors'"ng-click="edittopic()" ng-disabled="!online" style="width: 130px">Edit</button>
				<button class="addsavebutton1" ng-if="!editbtn" ng-click="discardchanges()">Discard</button>
				<button class="addsavebutton1" style="width: 130px; margin: -25px 10px 0px 0px;" ng-if="!editbtn" ng-disabled="savebtn || !online" ng-click="savetopic()">Save</button>

			</div>
			
			<div >
				<div 	style="height: 225px; position: relative; text-align: center; margin: 33px 0 0 0; background-size: cover; background-repeat: no-repeat;">

					<img alt="" ngf-src="topicimage" style="height: 225px; width: 100%;object-fit: cover;"> <img alt="" src="lib/Images/black.png" class="blackimg" style="margin-top: -247px;">

					<div ng-if="editbtn" class="topleft" ng-click="backfunction()">

						<img alt="" src="lib/Images/wback.png" class="imgback" >

					</div>
					<div class="centeredvm " style="text-align: center !important;">
	
						<input ng-disabled="isDisabled" class="{{isDisabled==true? 'titlecss1' : 'titlecss2'}}" maxlength="100" style="background-color: transparent; color: white !important;" placeholder="Add Title here..." ng-model="topicjson.ttitle"></input>
					</div>
					<div class="bottomright" ng-if="!editbtn"
						ngf-pattern="'image/*'" ngf-accept="'image/*'" ng-model="newtopicimage"  ngf-min-height="100"
						name="newtopicimage" ngf-select="topicimageupload(newtopicimage)"
						style="cursor:pointer;border-radius: 50%;width:30px;background-color: {{decry.masterConfig.appcolor}};">
						<img style="width:20px;height:auto;margin: 5px 0 7px 0px;"
							src="lib/Images/addimg.png">
						<!-- <p style="margin: 8px 4px 0px 0px; width: 135px; float: right; font-family: MyWebFont1; text-align: left; padding-left: 3px;">Change Topic Image</p> -->
						
					</div>
				</div>
				<div id="divimg" ng-style="second" style="background-color: {{decry.masterConfig.divbgcolor}};border-bottom: 1px solid {{decry.masterConfig.mediumborderclr}};" align="center">
					<div class="topiccontent" style="font-size: 12px;padding: 0px 0 0px 0;" >
						<!-- <button ng-click="overview = true;content = false;settings=false;" style="font-family: nunito sans" class="{{overview == true ? 'bact' : 'binact'}}">Overview</button>
						<button ng-click="overview = false;content = true;settings=false" style="margin-left: 15px;font-family: nunito sans" class="{{content == true ? 'bact' : 'binact'}}">Content</button>
						<button ng-click="overview = false;content = false;settings=true" style="margin-left: 15px;font-family: nunito sans" class="{{settings == true ? 'bact' : 'binact'}}"> Preferences </button> -->
						<ul class="viewscrollheading" style="padding: 0 29%; margin: 0;justify-content: center;">
						<li class='{{ overview == true ? "viewlistactive" : "listinactive"}} '
							style=" padding: 8px 6%"><a
							ng-click="overview = true;content = false;settings=false"
							class='listinactive '>OVERVIEW</a></li>
						<li class='{{ content == true ? "viewlistactive" : "listinactive"}} '
							style=" padding: 8px 6%"><a
							ng-click="overview = false;content = true;settings=false"
							class='listinactive '>CONTENT</a></li>
						<li class='{{ settings == true ? "viewlistactive" : "listinactive"}} '
							style=" padding: 8px 6%"><a
							ng-click="overview = false;content = false;settings=true;"
							class='listinactive '>PREFERENCES</a></li>
					</ul>	
					</div>
				</div>
				<div
					style="background-color: {{decry.masterConfig.pagebgcolor}}; overflow: hidden; width: 100%;"
					align="center">
					<div class="topicdesc">

						<div class="ng-scope" ng-if="content==true">
							<div style="padding-bottom: 40px;">
								<p class="ng-binding"
									style="float: left; font-size: 14px; margin: 10px 0; color: {{decry.masterConfig.darktextcolor}}; font-family: 'MyWebFont1';">{{ topicjson.nuggets.length }} Modules
									</p>
								<p
									style="float: right; font-size: 14px; margin: 10px 0; color: {{decry.masterConfig.darktextcolor}}; font-family: 'MyWebFont1';">
									<img class="timerimg" style="margin: 4px 4px 0 0;"
										src="lib/Images/timer.png"> {{ topicjson.min }}m {{ topicjson.secs }}s
								</p>
							</div>

							

							<div>
								<div class="listobjects"
									style="background-color: unset; border: none">
									<uib-accordion close-others="false">
									<div uib-accordion-group class="panel-default"
										ng-model="topicjson.nuggets"
										ng-repeat="nugget in topicjson.nuggets track by $index" is-open="true"
										is-disabled="true">
										<uib-accordion-heading >
										<div class="uibheadeing" style="font-size: 14px;width: 82%;margin-left: -130px;display: inline;">
										
											<input type="text" ng-disabled="isDisabled"
												ng-model="nugget.ntitle"
												ng-change="nuggetschange(nugget.ntitle,$index)"
												ng-style="mystyle"
												style="border: none; margin: 0px 0 0px 0px !important; padding: 1px; width: 100%; text-align: left; color: {{decry.masterConfig.darktextcolor}}; float: left;background-color: #ffff;">
											<p class="nimage" ng-if="false">
												<IMG class="nimagesrc{{$last}}"
													ng-src="lib/Images/{{$last === true ? 'ntrue' : 'nfalse'}}.png"></IMG>
											</p>
											
										</div>
										</uib-accordion-heading>

										
										<div>
											<div style="overflow: hidden;margin-top: -28px;min-height: 20px;" ng-if="!editbtn">
												<button class="removenugget" ng-disabled="!online" style="height: 25px;" type="button" ng-click="removenugget(nugget)">Remove Module</button>
																						
												</div>
											<div ng-model="nugget.objects"
												ng-repeat="object in nugget.objects ">
												<div class="uibobject"
													style="border: none; margin-top: 6px;">
													<div class="ng-scope" ng-if="object.otype=='video' || object.otype == 'youtube' || object.otype == 'vimeo' || object.otype == 'scorm'">

														<div class="videomark ng-scope"></div>
													</div>
													<!-- <div class="ng-scope" ng-if="object.otype=='video' ">

														<div class="videomark ng-scope"></div>
													</div> -->
													<div class="ng-scope" ng-if="object.otype=='quiz'">

														<div class="quizdrak cmngrey ng-scope"></div>
													</div>
													<div class="ng-scope"
														ng-if="object.otype=='pdf'">

														<div class="pdfdrak cmngrey ng-scope"></div>
													</div>
													<div class="ng-scope"
														ng-if="object.otype=='html'">

														<div class="htmldrak cmngrey ng-scope"></div>
													</div>
													<div class="ng-scope"
														ng-if="object.otype=='interactivity' ">

														<div class="interdrak cmngrey ng-scope"></div>
													</div>
													<div class="ng-scope"
														ng-if="object.otype=='audio' ">

														<div class="audiodark cmngrey ng-scope"></div>
													</div>
													
													<a
														style="color: black; margin: 0 0 0 0 ! important; padding: 0 0 0 0 ! important;"
														ng-click="viewobject(object, nugget)">
														<p style="margin: 12px 0 0 5px ! important; padding-bottom: 0px ! important; width: 88%; text-align: left; font-family: 'MyWebFont1'; color: {{decry.masterConfig.darktextcolor}};">{{object.otitle }}</p>
													</a> 
													
					<button type="button" ng-disabled="!online" class="close" ng-if="!editbtn" style="margin-top: -25px; font-family: MyWebFontRegular; font-size: 25px; font-weight: unset;color:unset !important; text-shadow: 0 0 0 #fff;"
					data-dismiss="modal" ng-click="removeobject(object,nugget)" aria-label="Close">
					<span>&times;</span>
				</button>


												</div>
											</div>
											<div class="addobject" align="center" ng-if="!editbtn">
												<div align="center">
													<p
														style="font-size: 14px; margin: 5px 0; color: {{decry.masterConfig.darktextcolor}}; font-family: 'MyWebFont1';"
														ng-click="addobject(nugget)">
														<img
															style="width: auto; height: 25px; border: none; cursor: pointer; margin: 0 15px;"
															src="lib/Images/add.png"> Add Content
													</p>
												</div>
											</div>
										</div>
									</div>
									</uib-accordion>
								</div>
							</div>

							<div class="addnugget" align="center" ng-if="!editbtn">
								<div align="center">
									<img
										style="width: auto; height: 25px; border: none; cursor: pointer;"
										ng-click="addnugget()" src="lib/Images/add.png">
								</div>
							</div>
							<br /> <br /> <br /> <br /> <br />



						</div>

						<div class="ng-scope" ng-if="overview == true">

							<div>
								<textarea ng-disabled="isDisabled" maxlength="300"
									style="border: 1px solid {{decry.masterConfig.mediumborderclr}}; width: 100%; resize: none; padding: 10px;background-color: #fff;"
									rows="7" ng-model="topicjson.tdescription"></textarea>
							</div>
							<br /> <br /> <br />

						</div>
						<div ng-if="settings == true" style="background-color:white;padding: 20px;font-family: 'MyWebFont1';border: 1px solid {{decry.masterConfig.mediumborderclr}};" > 

<div style="margin: 8px 40px;overflow:hidden;border-bottom: 1px solid {{decry.masterConfig.darkborderclr}};padding: 0 0 10px 0;" >
		<p ng-if="qerror1 == true" style="position:fixed;font-size:12px;margin: -15px 0 0px 100px;font-family:MyWebFont1;color:red;">Navigation should be either Free or Regular</p>
		<p style="padding: 6px 0 0 0;float: left;width: 160px;color: {{decry.masterConfig.darktextcolor}};text-align:left;">Navigation:</p> 
		<!-- <input style="float:left;margin-top:10px;" ng-disabled="isDisabled" type="radio" value="true" ng-model="topicjson.freenavigation"> <p style="float:left;margin: 7px 5% 0 1%;">Yes</p>
  		<input style="float:left;margin-top:10px;" ng-disabled="isDisabled" type="radio" value="false" ng-model="topicjson.freenavigation"><p style="float:left;margin: 7px 5% 0 1%;">No</p> -->
<!-- <div  id="ck-button" ng-if="editbtn === true" >
 <label style="font-weight: normal;">
   
    <input type="radio" name="free" ng-disabled="isDisabled === false || isDisabled === true" ng-click="optedfreenav(1)" ng-model="topicjson.freenavigation" 
    value="true" />
    <span>Free</span>
    </label>
    </div>
    <div  id="ck-button" ng-if="editbtn === true" >
    <label style="font-weight: normal;">
   
    <input type="radio" name="free" ng-disabled="isDisabled === false || isDisabled === true" ng-model="topicjson.freenavigation" 
    value="false" />
    <span>Regular</span>
    </label>
</div> -->
<p style="padding: 6px 0 0 0;float: left;width: 160px;font-weight: bold;color: {{decry.masterConfig.darktextcolor}};text-align:left;">{{topicjson.freenavigation === 'true' || topicjson.freenavigation === true ? 'Free':'Regular'}}</p> 
</div>
<div style="margin: 8px 40px;overflow:hidden;border-bottom: 1px solid {{decry.masterConfig.darkborderclr}};padding: 0 0 10px 0;" >
<p ng-if="qerror1 == true" style="position:fixed;font-size:12px;margin: -15px 0 0px 100px;font-family:MyWebFont1;color:red;">Learning type should be either Yes or No</p>
		<p style="padding: 6px 0 0 0;float: left;width: 160px;color: {{decry.masterConfig.darktextcolor}};text-align:left;">Learning Type:</p> 
		<!-- <input style="float:left;margin-top:10px;" type="radio" ng-disabled="isDisabled" value="Enforce" ng-click="learntype(1)" ng-model="topicjson.ctype"> <p style="float:left;margin: 7px 5% 0 1%;">Enforce</p>
  		<input style="float:left;margin-top:10px;" type="radio" ng-disabled="isDisabled" value="Regular" ng-click="learntype(0)" ng-model="topicjson.ctype"><p style="float:left;margin: 7px 5% 0 1%;">Regular</p> -->

<!-- <div  id="ck-button" ng-if="editbtn === true" >
 <label style="font-weight: normal;">
   
    <input type="radio" name="gtr" ng-disabled="topicjson.freenavigation == true || topicjson.freenavigation == 'true' || isDisabled === false || isDisabled === true"  ng-model="topicjson.ctype" 
    value="enforce" />
    <span>Enforced</span>
    </label>
    </div>
    <div  id="ck-button" ng-if="editbtn === true" >
    <label style="font-weight: normal;">
   
    <input type="radio" name="gtr" ng-disabled="isDisabled === false || isDisabled === true" ng-model="topicjson.ctype" 
    value="regular" />
    <span>Regular</span>
    </label>
</div> -->
<p style="padding: 6px 0 0 0;float: left;font-weight: bold;width: 160px;color: {{decry.masterConfig.darktextcolor}};text-align:left;">{{topicjson.ctype === 'enforce'? 'Enforced':'Regular'}}</p> 
</div>
<div   style="margin: 8px 40px;border-bottom: 1px solid {{decry.masterConfig.darkborderclr}};padding: 0 0 10px 0;text-align: left;">
   
    <p style="padding: 6px 0 0 0;float: left;width: 160px;color: {{decry.masterConfig.darktextcolor}};text-align:left;">Ad Products:</p> 
    <div ng-if="!editbtn" >
	
		<!-- <select id="choice" class="muselect" ng-disabled="isDisabled" style="width: 76%;" ng-model="topicjson.adproducts"
		multiple="multiple" multi-select>
             <option value="CTV" selected="topicjson.adproducts.indexOf('CTV') !== -1" >CTV</option> 
              <option value="Display" selected="topicjson.adproducts.indexOf('Display') !== -1">Display</option>
              <option value="Email Marketing" selected="topicjson.adproducts.indexOf('Email Marketing') === -1">Email Marketing</option>
              <option value="Foot Traffic Attribution" selected="topicjson.adproducts.indexOf('Foot Traffic Attribution') === -1">Foot Traffic Attribution</option> 
			  <option value="Geofencing" selected="topicjson.adproducts.indexOf('Geofencing') === -1">Geofencing</option>
			  <option value="Listings Management" selected="topicjson.adproducts.indexOf('Listings Management') === -1">Listings Management</option>
              <option value="Native" selected="topicjson.adproducts.indexOf('Native') === -1">Native </option>
              <option value="OTT" selected="topicjson.adproducts.indexOf('OTT') === -1">OTT</option> 
              <option value="SEM" selected="topicjson.adproducts.indexOf('SEM') === -1">SEM</option>
              <option value="SMS - Mobile Messaging" selected="topicjson.adproducts.indexOf('SMS - Mobile Messaging') === -1">SMS - Mobile Messaging </option>
              <option value="Social" selected="topicjson.adproducts.indexOf('Social') === -1">Social</option> 
              <option value="Video" selected="topicjson.adproducts.indexOf('Video') !== -1">Video</option>
              <option value="Video Geofencing" selected="topicjson.adproducts.indexOf('Video Geofencing') === -1">Video Geofencing </option>
            </select> -->
			<div ng-dropdown-multiselect="" ng-if="!editbtn" style="width: 76%;"
			options="example13data" selected-model="topicjson.adproducts" 
			checkboxes="true" extra-settings="example14settings"></div>
			
			 </div>
			 <div  style="width: 76%;margin-left: 160px;">
		
		<span class="classtags" style="text-align: center;" ng-repeat = "item in topicjson.adproducts"  ng-if="editbtn" >{{item.ttitle}}</span>
		
			 </div>
	</div>
<div style="margin: 8px 40px;border-bottom: 1px solid {{decry.masterConfig.darkborderclr}};padding: 0 0 10px 0;text-align: left;">
   
    <p style="padding: 6px 0 0 0;float: left;width: 160px;color: {{decry.masterConfig.darktextcolor}};text-align:left;">Marketron Tools:</p> 

			<div ng-dropdown-multiselect="" ng-if="!editbtn" style="width: 76%;"
			options="example14data" selected-model="topicjson.mrtools" 
			checkboxes="true" extra-settings="example14settings"></div>
		<div  style="width: 76%;margin-left: 160px;">
        
		<span class="classtags" style="text-align: center;" ng-repeat = "item in topicjson.mrtools"  ng-if="editbtn" >{{item.ttitle}}</span>
	
</div>
	</div>
<div style="margin: 8px 40px;overflow:hidden;border-bottom: 1px solid {{decry.masterConfig.darkborderclr}};padding: 0 0 10px 0;" >
	<p ng-if="qerror1 == true" style="position:fixed;font-size:12px;margin: -15px 0 0px 100px;font-family:MyWebFont1;color:red;">Pre Requisites should be either Yes or No</p>
			<p style="padding: 6px 0 0 0;float: left;width: 160px;color: {{decry.masterConfig.darktextcolor}};text-align:left;">Pre Requisites:</p> 
			
	<div  id="ck-button" >
	 <label style="font-weight: normal;">
	   
		<input type="radio" name="prerequisites" ng-disabled="isDisabled"  ng-model="topicjson.prerequisites" 
		value="true" />
		<span>Yes</span>
		</label>
		</div>
		<div  id="ck-button" >
		<label style="font-weight: normal;">
	   
		<input type="radio" name="prerequisites" ng-disabled="isDisabled" ng-model="topicjson.prerequisites" 
		value="false" />
		<span>No</span>
		</label>
	</div>
	
	</div>
	<div ng-if="topicjson.prerequisites === true || topicjson.prerequisites == 'true'" style="margin: 8px 40px;overflow:hidden;border-bottom: 1px solid {{decry.masterConfig.darkborderclr}};padding: 0 0 10px 0;" >
		<p ng-if="qerror5 == true" style="position:fixed;font-size:12px;margin: -15px 0 0px 100px;font-family:MyWebFont1;color:red;">Pre Requisites should be either Suggestion or Required</p>
				<p style="padding: 6px 0 0 0;float: left;width: 160px;color: {{decry.masterConfig.darktextcolor}};text-align:left;">Pre Requisites Type:</p> 
				
		<div  id="ck-button" >
		 <label style="font-weight: normal;">
			<input type="radio" name="prerequisites1" ng-disabled="isDisabled"  ng-model="topicjson.prerequisitestype" 
			value="Suggestion" />
			<span>Suggestion</span>
			</label>
			</div>
			<div  id="ck-button" >
			<label style="font-weight: normal;">
		   
			<input type="radio" name="prerequisites1" ng-disabled="isDisabled" ng-model="topicjson.prerequisitestype" 
			value="Required" />
			<span>Required</span>
			</label>
		</div>
		
		</div>
<div style="margin: 8px 40px;border-bottom: 1px solid {{decry.masterConfig.darkborderclr}};padding: 0 0 10px 0;"  ng-style="editbtn == true || editbtn == 'true' ? {'overflow':'hidden'} : {'overflow':'unset'}"
ng-if="topicjson.prerequisites === true || topicjson.prerequisites === 'true'"  >
<p style="padding: 6px 0 0 0;float: left;width: 160px;color: {{decry.masterConfig.darktextcolor}};text-align:left;">Pre Requisites Courses:</p> 
<div  ng-if="editbtn" style="float: left;">

				<span class="classtags" style="text-align: center;max-width: unset;" ng-repeat = "preitem in topicjson.prerequisitescourses"  ng-if="editbtn" >{{preitem.ttitle}}</span>
			</div>	
			<div ng-dropdown-multiselect="" ng-if="!editbtn" style="width: 42%;margin-left: -70px;"
			options="example15data" selected-model="topicjson.prerequisitescourses" 
			checkboxes="true" extra-settings="example14settings"></div>	
</div>
<div style="margin: 8px 40px;overflow:hidden;border-bottom: 1px solid {{decry.masterConfig.darkborderclr}};padding: 0 0 10px 0;" >
	<p ng-if="qerror1 == true" style="position:fixed;font-size:12px;margin: -15px 0 0px 100px;font-family:MyWebFont1;color:red;">Next Course should be either Yes or No</p>
			<p style="padding: 6px 0 0 0;float: left;width: 160px;color: {{decry.masterConfig.darktextcolor}};text-align:left;">Next Course:</p> 
			
	<div  id="ck-button" >
	 <label style="font-weight: normal;">
	   
		<input type="radio" name="nexcourse" ng-disabled="isDisabled"  ng-model="topicjson.nextcourse" 
		value="true" />
		<span>Yes</span>
		</label>
		</div>
		<div  id="ck-button" >
		<label style="font-weight: normal;">
	   
		<input type="radio" name="nexcourse" ng-disabled="isDisabled" ng-model="topicjson.nextcourse" 
		value="false" />
		<span>No</span>
		</label>
	</div>
	
	</div>
	<div style="margin: 8px 40px;border-bottom: 1px solid {{decry.masterConfig.darkborderclr}};padding: 0 0 10px 0;"  ng-style="editbtn == true || editbtn == 'true' ? {'overflow':'hidden'} : {'overflow':'unset'}"
ng-if="topicjson.nextcourse === true || topicjson.nextcourse === 'true'"  >
<p style="padding: 6px 0 0 0;float: left;width: 160px;color: {{decry.masterConfig.darktextcolor}};text-align:left;">Next Course Name:</p> 
<div  ng-if="editbtn" style="float: left;">

				<span class="classtags" style="text-align: center;max-width: unset;"  ng-if="editbtn" >{{topicjson.nextcoursedata.ttitle}}</span>
			</div>	
			<div  ng-dropdown-multiselect="" ng-if="!editbtn" style="width: 42%;margin-left: -70px;"
			options="example16data" selected-model="topicjson.nextcoursedata" 
			radioboxes="true" extra-settings="example14settings"></div>	
		
</div>
<div style="margin: 8px 40px;overflow:hidden;border-bottom: 1px solid {{decry.masterConfig.darkborderclr}};padding: 0 0 10px 0;" >
<p style="padding: 0px 0 0 0;float: left;width: 164px;color: {{decry.masterConfig.darktextcolor}};text-align:left;">Add Tags:
<span style="font-size: 11px; display: block;">(Upto 15)</span></p></p>

		<tags-input class="tagslist" min-length=2 max-length=30 style="margin-top: -5px;" ng-paste="paste($event,15)" replace-spaces-with-dashes=false on-tag-added="onTagAdded($query, 15)"
		  ng-disabled="isDisabled"  ng-model="topicjson.category.ttags"></tags-input>
		  <span style="font-size: 12px; color: #606060;display: block;float: left;"> * Tag name should be minimum 2 to 30 characters. </span>
		</div>
<div ng-if="topicjson.freenavigation == 'false' || topicjson.freenavigation == false" style="margin: 8px 40px;overflow:hidden;border-bottom: 1px solid {{decry.masterConfig.darkborderclr}};padding: 0 0 5px 0;">
		<p ng-if="qerror1 == true" style="position:fixed;font-size:12px;margin: -15px 0 0px 100px;font-family:MyWebFont1;color:red;">{{ ctype === '0' || ctype === 0 || ctype === undefined  ? 'Certification:' : 'Badge:'}} should be either Yes or No</p>
		<p style="padding: 6px 0 0 0;float: left;width: 160px;color: {{decry.masterConfig.darktextcolor}};text-align:left;">{{ ctype === '0' || ctype === 0 || ctype === undefined ? 'Certification:' : 'Badge:'}} </p> 
		<!-- <input style="float:left;margin-top:10px;" type="radio" name="hascert" ng-disabled="isDisabled" value="true" ng-model="topicjson.certification"> <p style="float:left;margin: 7px 5% 0 1%;">Yes</p>
  		<input style="float:left;margin-top:10px;" type="radio" name="hascert" ng-disabled="isDisabled" value="false" ng-model="topicjson.certification"><p style="float:left;margin: 7px 5% 0 1%;">No</p>
  		 -->
  		<div  id="ck-button" >
 <label style="font-weight: normal;">
   
    <input type="radio"  name="hascert" ng-disabled="isDisabled" ng-model="topicjson.certification" 
    value="true" />
    <span>Yes</span>
    </label>
    </div>
    <div  id="ck-button" >
    <label style="font-weight: normal;">
   
    <input type="radio" name="hascert" ng-disabled="isDisabled" ng-model="topicjson.certification" 
    value="false" />
    <span>No</span>
    </label>
</div>
  		<div ng-if="(topicjson.certification == true || topicjson.certification == 'true') && (ctype == 0 || ctype == '0')">
  		</br>
  		</br>
  		<p style="padding: 6px 0 0 0;float: left;width: 164px;color: {{decry.masterConfig.darktextcolor}};text-align:left;margin:8px 0 0 0;">Authority:</p> 
  		<input style="width:400px;float:left;margin-top:10px;" ng-disabled="isDisabled"  type="text" name="tauthority"  ng-model="topicjson.tcertauth" ></input>
  		</br>
  		</br>
  		
  		<p style="padding: 6px 0 0 0;float: left;width: 164px;color: {{decry.masterConfig.darkborderclr}};text-align:left;margin:8px 0 0 0;">Credits:</p> 
  		<input ng-keypress="onlyNumbers($event)" ng-disabled="isDisabled" style="width:70px;float:left;margin:10px 400px 5px 0;" type="number" min="0" name="tauthori" ng-model="topicjson.tnoofcredits"></input>
  		</br>
  		</br>
  		<p  style="padding: 6px 0 0 0;float: left;width: 164px;color: {{decry.masterConfig.darktextcolor}};text-align:left;margin:8px 0 0 0;">Template:</p> 
  		
  		<form  name="form" style="width:580px;" >

		<button ng-disabled="isDisabled" style="margin-top:5px;float:left;" class="browsebutton" ngf-select="certimageupload(certdetails.certimage)"  ng-model="certdetails.certimage" name="certdetails.certimage" ngf-pattern="'image/*'"
		    ngf-accept="'image/*'" ngf-max-size="5MB" ngf-min-height="100"
		    ngf-resize="{width: 400, height: 200}"> Browse </button>
		    <p ng-if="certdetails.certimage.name != null" style="float:left;margin: 10px 0 0 5px !important;color:{{decry.masterConfig.darktextcolor}};font-family: 'MyWebFont1';">{{certdetails.certimage.name}}</p>
		</form>
  		</div>
</div>

</div>
					</div>
				</div>

			</div>

		</div>

		<div class="footer">
</div>
	</div>
</div>
<script>
    function Allowtab(e)
    {
        if (e.keyCode == 9)
        {    
            return true;
        }
        else
        {
            return false;
        }
    }
    </script>
<style>
ul > li .checkbox {
	white-space: break-spaces !important;
	
}
</style>

     






