
<div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
<div ng-show="loading" class="loader loader-default is-active"></div>

<div style="overflow: hidden;padding: 0 0 60px 0;">

<div ng-controller="sidenavCtrl">
  <div ng-include="'sidenav.html'">
  </div>
</div>

<div id="content" ng-style="second" style="background-color:{{decry.masterConfig.pagebgcolor}};">

<div style="width:95%;overflow:hidden;margin: 0 2.5%;">
 <div>
 <nav aria-label="breadcrumb" role="navigation" >
			  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
			     <li ><p style="cursor: pointer;font-size: 14px;" >Events</p></li>
			   <!-- <li style="color:#767676;">Manage Events</li> -->
			  </ol>
	</nav>
		
 </div>
<div class="container-fluid" style="padding-left: 0px;">
 
  		<div class="usersactivity">
        <!-- <button ng-disabled="!online" ng-if="allobjects != true" class="adduserbutton" ng-click="addwebinar()">Add Webinar</button> -->
        <!-- <button ng-disabled="!online" class="adduserbutton" ng-click="addevent()">Add</button> -->
        <div class="dropdown" style="float: right;text-align:right;margin-right: -18px;" >
          <button   id="dropdownMenuButton"  ng-disabled="!online" ng-if="decry.role !='Instructors'" class="adduserbutton" style="margin:-24px 18px 0 0px;" data-toggle="dropdown" >Add <img src="lib/Images/arrow-down-01-512.png" style="height: 12px;width: 12px;float: right;margin: 4px 20px 0 0;" alt="" /></button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="border: none;border-radius: 0px;min-width:0px;top: 147%;width: 88%;">
          
              <a class="dropdown-item" style="text-decoration: none;font-size: 15px;" ng-click="addevent('Event')">Event</a>
              <a class="dropdown-item" style="text-decoration: none;font-size: 15px;height: auto;" ng-click="addevent('Webinar')">Webinar</a>
            </div>
          </div>

         </div>

         <div style="overflow:hidden;margin: 20px 0 0 0;background-color: #fff;" >

          <div style="width:100%;height:400px;border: 1px solid grey;border-radius: 4px;float:left;">
          <div class="mydates" id="calendar" ui-calendar="uiConfig.calendar"
              ng-model="eventSources" calendar="myCalendar"></div>
              </div>
              <div class=" bottom" style="position: absolute; border: 1px solid {{decry.masterConfig.mediumborderclr}}; 
              border-radius: 4px; width: 25%; margin-left: 99px; margin-top: 0px; z-index: 99; background-color: {{decry.masterConfig.appcolor}};" ng-show="SelectedEvent.length!=0 && SelectedEvent.length!=undefined">
            </div>
          </div>
</div>

</div>
</div>

</div>

<div class="footer">
</div>

</div>
<style>
  .input-filter::placeholder   {
      color: #fff;
      opacity: 1; 
    }
  </style> 
  <script>
    function Allowtab(e)
    {
        if (e.keyCode == 9)
        {    
            return true;
        }
        else
        {
            return false;
        }
    }
    </script>



