<!-- Added for manage users screen -->
  <div ng-controller="headerCtrl">
  <div ng-include="'header.html'">
  </div>
</div>
<div class="pageview">
    <div ng-show="loading" class="loader loader-default is-active"></div>
    
    <div style="overflow: hidden;padding: 0 0 60px 0;">
   
    <div ng-controller="sidenavCtrl">
      <div ng-include="'sidenav.html'">
      </div>
    </div>
	<div ng-if="!online" align=center class="offline">
		<p style="color:white;margin: 16px 0 0 0;font-size:15px;font-family:MyWebFont;">You are offline. Please check your internet connectivity.</p>
		</div>
    
    
    <div id="content" ng-style="second" style="background-color:{{decry.masterConfig.pagebgcolor}};">

<div style="width:95%;overflow:hidden;margin: 0 2.5%;">
 <div>
 <nav aria-label="breadcrumb" role="navigation" style="margin-left:15px;">
			  <ol class="breadcrumb" style="background-color: {{decry.masterConfig.pagebgcolor}};margin: 15px 0 0 0;">
			     <li ><a style="cursor: pointer;"   href="#settings" ng-click="loading =true">Settings</a></li>
			    <li style="color:{{decry.masterConfig.lighttextcolor}};">Welcome Email Template</li>
			  </ol>
			</nav>
<!-- <h3 style="margin: 35px 0 0 15px;color:#484848;font-size:20px;"><span style="color:#b2b2b2;">Settings ></span> Welcome Email Template</h3> -->
 </div>
<div align=center>

	<div align=center class="" style="margin: 15px 0 0px 0 !important;overflow:hidden;    background-color: {{decry.masterConfig.divbgcolor}};">
	<p ng-if="error" style="position:fixed;font-size:12px;margin: -22px 0 0px 95px;font-family:MyWebFont1;color:red;"> Subject of the email cannot be empty </p>
	<p class="" style="margin-right: 465px;width:85px;margin-top: 30px;color: {{decry.masterConfig.darktextcolor}}">Subject</p>
	<!-- <p class="" style="float:left;padding: 6px 6px 0 0;">:</p> -->
	<input ng-disabled="disabled" class="" name="cname" ng-model="subject" style="overflow:hidden; resize:none;width: 520px ! important;padding: 15px;"></input>
	</div>
	
	
	<div align=center class="" style="width:100%;overflow:hidden;    background-color: {{decry.masterConfig.divbgcolor}};margin-bottom: 30px;">
	<p ng-if="error1" style="font-size:12px;margin: -18px 0 0px 95px;font-family:MyWebFont1;color:red;"> Body of the email cannot be empty </p>
	<p ng-if="error2" style="font-size:12px;margin: -18px 0 0px 95px;font-family:MyWebFont1;color:red;"> {{msg}} </p>
	<p class="" style="margin-right: 444px;width:85px;margin-top: 20px;color: {{decry.masterConfig.darktextcolor}};">Email Body</p>
<!-- 	<p class="" style="float:left;padding: 6px 6px 0 0;">:</p> -->
	<textarea ng-disabled="disabled" rows="20" type="text" style="padding:2px;margin: 0px 0 0 0;width:520px;resize:none;padding: 15px;border: 1px solid {{decry.masterConfig.mediumborderclr}};color :{{decry.masterConfig.mediumtextcolor}}" ng-model="body"  ng-trim="false"></textarea>
	<div style="margin: 20px -10px 20px 0 !important;overflow:hidden;    background-color: {{decry.masterConfig.divbgcolor}};text-align: right;width:520px;">
	<button class="button1" ng-if="disabled" ng-disabled="!online" ng-click="editmail()">Edit Template</button>
	<button class="button1" ng-if="!disabled" ng-disabled="!online" ng-click="savemail()">Save Template</button>
<button class="button2"  ng-if="!disabled" ng-disabled="!online" ng-click="reset()">Cancel</button>
 </div>
	</div>



 



</div>
</div>
</div>

    </div>
    
    <div class="footer">
</div>
    
    </div>
    
    
    
    
    